//rte styles \

.rte {
  position: relative;

  img {
    max-width: 100%;
    height: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 50px 0px 20px 0px;
    font-weight: 600;
  }
  ul,
  ol {
    padding-left: 40px;
    li {
      padding-bottom: 5px;
    }
    ul,
    ol {
      padding-left: 40px;
    }
  }
  table {
    thead {
      background-color: #d8d8d8;
      th {
        color: black;
        border: 1px solid #eeeeee;
      }
      td {
        color: black;
      }
    }
    tr {
      &:nth-child(2n) {
        background-color: #eeeeee;
      }
    }
    th,
    td {
      padding: 10px 10px;
    }
  }
}
