mixin content-header(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .content-header(class=spec.__class)&attributes(attributes)
    if spec.image
      .content-header__image
        img(src=spec.image alt="logo image")
    .content-header__content
      if spec.title
        h1.content-header__title=spec.title
      if spec.description
        p.content-header__description=spec.description
