//content-header styles

.content-header {
  display: block;
  @extend %clearfix;
  padding: 20px 0px;
  &__image {
    float: left;
    width: 150px;
    height: auto;
    padding-right: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__content {
    float: left;
    width: calc(100% - 150px);

    h1 {
      margin: 0px;
    }
  }
}
