include ../../molecules/card/card
include ../../molecules/filter-bar/filter-bar

mixin club-deals(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.club-deals(class=spec.__class)&attributes(attributes)
    .container
      +filter-bar--deals()

    .listing-section
      .container
        .row
          .listing-items-container

      script(id="club-deals" type="text/template" data-fixed-filter="location" data-fixed-filter-value="punggol" data-items-per-page=8 data-template-id="club-deals" data-api="api/promotions.json" class="club-deals-template" data-error-message="Sorry no Items Found")
        |{{~it :item:index }}
        .col-md-3.col-sm-6.deal-card.match-height-elm(class="{{=item.Category}}")
          +card({
            "image":"{{=item.ImageSrc}}",
            "alt":"{{=item.ImageAlt}}",
            "title":"{{=item.Title}}",
            "date":"{{=item.StartDate}}{{? item.EndDate}} - {{=item.EndDate}}{{?}}",
            "type":"{{=item.Type}}",
            "category":"{{=item.Category}}",
            "__class":"card--deal",
            "url":"{{=item.Link}}"
          })
        |{{~}}

    .container
      .row
        .col-md-12.text-center.padding-m
          +button({
            "text":"See Punggol deals",
            "url":"#",
            "__class":"button--blue"
          })
          +button({
            "text":"See all SAFRA deals",
            "url":"#",
            "__class":"button--blue"
          })