mixin carousel-type-1(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''


  .card-carousel.carousel-type-1(class=spec.__class)&attributes(attributes)
    button.prev-btn
      i.icomoon-chevron-left
    button.next-btn
      i.icomoon-chevron-right
    .carousel-slider
      block
