//carousel-type-1 styles
.carousel-type-1,
.ajax-carousel-type-4,
.ajax-carousel {
  .carousel-slider {
    padding: 0px 30px;
    @include mobile {
      padding: 0px;
    }
  }
  .slide {
    padding: 30px;
  }
}
