mixin card-carousel(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .card-carousel(class=spec.__class)&attributes(attributes)
    if spec.prevArrow
      button.prev-btn
        i(class=spec.prevArrow)
    if spec.nextArrow
      button.next-btn
        i(class=spec.nextArrow)
    .carousel-slider
      block