//card-carousel styles
.card-carousel,
.ajax-carousel,
.ajax-carousel-type-4 {
  position: relative;

  &.is-empty {
    .prev-btn,
    .next-btn {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .prev-btn,
  .next-btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: calc-em(32px);
    z-index: 99;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    &:hover {
      color: white;
      &::before {
        background-color: $red;
      }
    }
    i {
      position: relative;
      z-index: 1;
    }
    &:focus {
      outline: none;
    }
    @include desktop {
      display: flex;
    }
  }
  .prev-btn {
    left: 0;
  }
  .next-btn {
    right: 0;
  }
}

.prev-btn,
.next-btn {
  &.slick-hidden {
    display: none !important;
  }
}

.microsite--energy-one {
  .card-carousel {
    .prev-btn,
    .next-btn {
      &::before {
        background-color: $yellowEnergyOne;
      }
      &:hover {
        &::before {
          background-color: white;
        }
        color: black;
      }
    }
  }
}
