
extends ../_layouts/base


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header
include ../_modules/molecules/carousel-type-1/carousel-type-1

include ../_modules/molecules/carousel-banner/carousel-banner
include ../_modules/molecules/faq-cta/faq-cta
include ../_modules/molecules/card/card
include ../_modules/molecules/icon-card/icon-card
include ../_modules/molecules/cta-text-bar/cta-text-bar
include ../_modules/molecules/video-card/video-card

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Membership", "url":"/membership-landing"}]


block content
    .container
      .row
        +carousel-banner()
          .slide
            .carousel-banner__image
                img(src="/site-images/membership/banner1.jpg" alt="banner image")
          .slide
            .carousel-banner__image
              img(src="/site-images/membership/banner2.jpg" alt="banner image")



    .section-grey
      .container
        .row
          .col-md-12
            h1 Membership Perks
        .listing-section
          .row
            .listing-item.col-md-3.col-sm-6.match-height-elm
              +icon-card({
                "__class":"icon-card--with-bg",
                "image":"/site-images/membership-icon1.svg",
                "title":"SAFRA movie treats",
                "description":"FREE movie tickets to the latest blockbusters"

              })
            .listing-item.col-md-3.col-sm-6.match-height-elm
              +icon-card({
                "__class":"icon-card--with-bg",
                "image":"/site-images/membership-icon2.svg",
                "title":"Exclusive access to Clubs facilities",
                "description":"Swimming pools, gyms & entertainment facilities"
              })
            .listing-item.col-md-3.col-sm-6.match-height-elm
              +icon-card({
                "__class":"icon-card--with-bg",
                "image":"/site-images/membership-icon3.svg",
                "title":"Exclusive benefits at over 1,800 merchant outlets",
                "description":"Earn up to 3% cash rebate at all retail shopping merchants"
              })
            .listing-item.col-md-3.col-sm-6.match-height-elm
              +icon-card({
                "__class":"icon-card--with-bg",
                "image":"/site-images/membership-icon4.svg",
                "title":"Redemption of SAFRAPOINTS",
                "description":"A list of exciting rewards to redeem with your SAFRAPOINTS.",
                "url":"/reward-points"
              })
        .row
          .col-md-12.padding-l.text-center
            +button({
              "text":"Apply now",
              "__class":"button--fill"
            })

    .container
      .row
        .col-md-12.text-center
          h1 Exclusive Promotions


      .row
        +carousel-type-1()
          each item in site.data.promotions
            .slide.match-height-elm
              +card({
                "image":item.image,
                "title":item.title,
                "type":item.type,
                "date":item.date,
                "location":item.location,
                "__class":"card--promotion"
              })
    .container
      .row
        +cta-text-bar({
          "items":[
            {
              "text":"Who can apply",
              "url":"#"
            },
            {
              "text":"Fee Structure",
              "url":"#"
            },
            {
              "text":"Enquiry",
              "url":"#"
            },
            {
              "text":"Renew Membership",
              "url":"#"
            }
          ]
        })
    .general-section
      .container.container-xs
        .row
          .col-md-12.text-center.padding-m
            h1 Learn more about SAFRA membership
          .col-md-12
            +video-card({
              "url":"https://www.youtube.com/watch?v=9bYAYt5M1Lw",
              "image":"https://i3.ytimg.com/vi/9bYAYt5M1Lw/maxresdefault.jpg"
            })
    .section-grey
      .container.container-sm
        .row
          .col-md-8.col-sm-8.match-height-elm
            h1 Other member privileges
            p Phasellus imperdiet condimentum nisl, a porttitor nunc efficitur sed. Integer rutrum eros urna, eget vestibulum ipsum lobortis at. Ut volutpat libero vel dictum mattis. Cras sapien leo, pretium ac risus non, maximus suscipit purus. Nulla vel eros est.
          .col-md-4.col-sm-4.match-height-elm.content--vertical-center
            +button({
              "text":"Find our more",
              "__class":"button--fill"
            })

    .container.container-sm.padding-m
      .row
        .col-md-12.match-height-elm.text-center
          h1 Other member privileges
      .row
        .col-md-3.col-sm-3.match-height-elm
          +icon-card({
            "image":"/site-images/membership-icon1.svg",
            "title":"Insurance",
          })
        .col-md-3.col-sm-3.match-height-elm
          +icon-card({
            "image":"/site-images/membership-icon2.svg",
            "title":"Education",
          })
        .col-md-3.col-sm-3.match-height-elm
          +icon-card({
            "image":"/site-images/membership-icon3.svg",
            "title":"Legal",
          })
        .col-md-3.col-sm-3.match-height-elm
          +icon-card({
            "image":"/site-images/membership-icon4.svg",
            "title":"Reciprocal Benefits"
          })

    .section-red
      .container.container-sm
        .row
          .col-md-12.text-center
            +button({"text":"Join SAFRA now", "__class":"button--white"})

    //- block contentFooter
    //-   +button-share()


    //-   h1 You may also like
    //-   .row
    //-     +carousel-type-1()
    //-       each item in site.data.recommendationGeneral
    //-         .slide.match-height-elm
    //-           +card({
    //-             "image":item.image,
    //-             "title":item.title,
    //-             "description":item.description,
    //-             "category":item.category,
    //-             "location":item.location,
    //-             "__class":"card--normal"
    //-           })



