
extends ../_layouts/base-article


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/faq-cta/faq-cta

include ../_modules/molecules/card/card


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Locations", "url":"/contact-us"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })

block content
  +content-header({
    "title":"Our Clubs",
  })
  .listing-section
    .row
      each item in site.data.clubContact
        .listing-item.col-md-4.match-height-elm
          +card--normal({
            "title":item.title,
            "location":item.location,
            "map":item.map,
            "phone":item.phone,
            "mail":item.email,
            "__class":"card--with-map",
            "uid":item.id
          })


block contentFooter
  +button-share()



