// pagination styles
.pagination {
  display: block;
  padding: 20px 0px;
  margin: 0 auto;
  ul {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      display: inline-block;
      font-size: calc-em(16px);
      color: $red;
      margin: 2px;
      position: relative;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
      span {
        display: block;
        z-index: 1;
        position: relative;
        i {
          color: $red;
        }
      }
      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      @include mobile {
        font-size: calc-em(16px);
      }
      cursor: pointer;
      &.active {
        color: white;
        &::before {
          background-color: $red;
        }
      }
      &:hover {
        color: white;
        &::before {
          background-color: $red;
        }
      }
      &.dots {
        border: none;
        font-size: calc-em(16px);
        letter-spacing: 2px;
        cursor: default;
        &:hover {
          background-color: transparent;
        }
      }
    }
    .page-number-wrapper {
      width: auto;
      display: flex;
    }
  }

  .pagination-ajax__last,
  .pagination-ajax__first {
    display: none;
  }
}
