mixin pagination(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  - var pageUrl = spec.pageUrl || ''
  //- - var paddingSize = spec.paddingSize || 4
  - var currentPage = spec.currentPage || 1
  - var totalPages = spec.totalPages || 2

  .pagination(class=spec.__class)&attributes(attributes)
    ul
      li.prev
        i.icomoon-chevron-left
      ul.page-number-wrapper
      li.next
        i.icomoon-chevron-right