mixin announcement()

  .announcement
    .container
      .announcement__content
        h6.announcement__text(data-id="announcement2")
          a(href="#") Scheduled maintenance works on 15 May 2019, Sunday, 12.00am to 4.00am Scheduled maintenance works on 15 May 2019, Sunday, 12.00am to 4.00am Scheduled maintenance works on 15 May 2019, Sunday, 12.00am to 4.00am
        h6.announcement__text(data-id="announcement3")
          a(href="#") Event showing on 21 May 2019
      button.announcement__close.icomoon-close
        span.vh Button to close announcement bar




mixin notification(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .notification-wrapper
    .notification-content-wrapper
      .container
        .notification-content
          .notification-close-btn
            button
              i.icomoon-close
          .notification-item
            h1(style="text-align: center") SAFRA Celebrates
            img(src="/assets/images/notification-image.png" alt="Notification Image")
            .text--center
              br
              +button({"text":"Find Out More"})
