.notification-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  z-index: 9999;
  .notification-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .notification-content {
    background-color: white;
    max-width: 700px;
    max-height: 90vh;
    padding: 30px 20px;
    width: auto;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    border-radius: 5px;
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 30px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $red;
      border-radius: 30px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $red;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
  .notification-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: transparent;
      z-index: 1;
      i {
        display: block;
        color: $red;
      }
    }
  }
}

// announcement styles

.announcement {
  display: none;
  background-color: $red;

  //Vertical spacing to the top of the browser and site-header__top
  padding: 14px 0;
  position: relative;
  z-index: -1;
  max-width: 600px;
  width: calc(100% - 20px);
  margin-right: 15px;
  margin-left: 15px;
  float: right;
  border-radius: 4px;
  position: fixed;
  top: 100%;
  right: 0;
  transition: all 0.3s;

  @include mobile {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0;
    width: 100%;
    border-radius: 0;
    max-width: unset;
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-left: 10px solid $red;
    border-top: 10px solid $red;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -15px;
    top: 0;

    @include mobile {
      display: none;
    }
  }
  //Remove default
  li {
    list-style: none;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    font: 22px;
    cursor: pointer;
  }

  .container {
    display: flex;

    //Align text to the left and page-and-close to the right
    justify-content: space-between;
  }

  &__alert-icon {
    font-size: calc-em(20px);
    width: 28px;
    min-width: 28px;
    color: white;
  }

  //Contains main text and notification icon
  &__content {
    position: relative;
    width: calc(100%);
    padding-right: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    //override slick
    margin-bottom: 0 !important;

    //Arrows
    i {
      font-size: calc-em(20px);
    }
  }

  &__text {
    font-size: calc-em(16px);
    font-weight: 400;
    margin: 0;
    line-height: 1.25;
    color: white;
    display: flex;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__paging {
    margin: 0;
    position: absolute;
    bottom: -3px;
    right: 24px;
    font-size: calc-em(18px);
    color: white;

    & :not(.slick-active) {
      display: none;
    }
  }

  //Both prev and next arrow
  &__arrow {
    position: absolute;
    z-index: 20;
    bottom: 0;
    line-height: auto;
    font-size: calc-em(14px);

    i {
      color: white;
    }
  }

  &__prev {
    right: 55px;
  }

  &__next {
    right: 0px;
  }

  // X icon
  &__close {
    //Horizontal spacing to the page-numbers
    font-size: 20px;
    line-height: 18px;
    right: 20px;
    position: absolute;
    top: 0;
    cursor: pointer;
    color: white;
  }
}
