//side-nav styles
.side-nav {
  background-color: white;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
  border-top: 5px solid $red;
  border-radius: 5px;
  margin-bottom: 30px;
  display: block;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      position: relative;
      border-bottom: 1px solid $midGrey;
      padding-left: 20px;
      // background-color: $red;
      &.active {
        > a {
          color: $red;
        }
      }
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        font-weight: 400;

        color: black;
        &::before {
          content: $icomoon-chevron-right;
          font-family: $icomoon-font-family;
          position: absolute;
          left: 10px;
          top: 8px;
          display: block;
          transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:hover {
          color: $red;
          &::before {
            color: $red;
            transform: translateX(5px);
          }
        }
      }
      ul {
        display: block;
        li {
          padding-left: 20px;
          background-color: white;
          border-bottom: none;

          a {
            color: $darkGrey;
          }
        }
      }
    }
  }
}
