mixin side-nav(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.side-nav(class=spec.__class)&attributes(attributes)
    ul
      each item in spec.items
        li(class=item.__class)
          a(href=item.url)
            span=item.name

          if item.children
            ul.lvl2nav
              each child in item.children
                li(class=child.__class)
                  a(href=child.url)
                    span=child.name
