mixin social-media-grid(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .social-media-grid(class=spec.__class)&attributes(attributes)
    .container-sm
      .row
        .col-md-4
          .grid-item.grid-item-1-2
            a(href="#").social-media-item
              .social-media-item__image
                img(src="/site-images/energyone/social-media1.jpeg" alt="social media image")
        .col-md-4
          .grid-item.grid-item-2-1
            a(href="#").social-media-item
              .social-media-item__image
                img(src="/site-images/energyone/social-media2.jpeg" alt="social media image")
          .grid-item.grid-item-2-1
            a(href="#").social-media-item
              .social-media-item__image
                img(src="/site-images/energyone/social-media3.jpeg" alt="social media image")
        .col-md-4
          .grid-item.grid-item-2-1
            a(href="#").social-media-item
              .social-media-item__image
                img(src="/site-images/energyone/social-media4.jpeg" alt="social media image")
          .grid-item.grid-item-2-1
            a(href="#").social-media-item
              .social-media-item__image
                img(src="/site-images/energyone/social-media5.jpeg" alt="social media image")
