//social-media-grid styles

.social-media-grid {
  display: block;
  padding: 20px 0px;
  .col-md-4 {
    padding: 0;
  }
  .grid-item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    &-2-1 {
      padding-top: 60%;
    }
    &-1-2 {
      padding-top: 120%;
    }
  }
  .social-media-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    display: block;
    overflow: hidden;
    &__image {
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    img {
      @include objectfit-cover;
      object-position: top center;
      display: block;
      transform: scale(1);
      transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &::after {
      content: $icomoon-facebook;
      font-family: $icomoon-font-family;
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: white;
      text-decoration: none;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}
