//site-nav styles
.site-nav {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 0px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    border-bottom: 1px solid $grey;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    background-color: white;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .site-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .active-menu-indicator {
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    z-index: 1002;
    left: 100%;
    background-color: $red;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .site-logo {
    display: flex;
    align-items: center;
    a {
      width: 135px;
      padding: 10px 10px;
      position: relative;
      display: block;
      @include mobile {
        width: 90px;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .dark-logo {
      display: none;
    }
  }
  .primary-nav {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    .nav-links {
      display: none;
      @include desktop {
        display: flex;
      }
      margin: 0;
      li {
        list-style-type: none;
        &:hover {
          .mega-menu {
            transform: scale(1) rotateX(0deg);
            opacity: 1;
          }
        }
        a {
          color: white;
          font-weight: 500;
          text-decoration: none;
          font-size: calc-em(15px);
          display: block;
          padding: 15px 30px;
        }
        ul {
          li {
            a {
              font-weight: 300;
              &:hover {
                color: $red;
                text-decoration: underline;
              }
            }
          }
        }
        ul {
          li {
            a {
              color: black;
            }
          }
        }
        .mega-menu {
          a {
            color: black;
          }
        }
      }
    }
    .header-cta {
      button {
        text-decoration: none;
        padding: 10px 15px;
        font-size: 24px;
        color: white;
        background: transparent;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        i {
          display: block;
        }
        &:hover {
          background-color: $red;
          i {
            &::before {
              color: white !important;
            }
          }
        }
        &.active {
          background-color: $red;
          i {
            &::before {
              color: white !important;
            }
          }
        }
      }
      .notification-toggle {
        position: relative;
        .notification-count {
          position: absolute;
          top: 0px;
          right: 10px;
          display: block;
          font-size: calc-em(9px);
          z-index: 1;
          color: black;
          &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $yellow;
            position: absolute;
            top: -1px;
            left: -7px;
            z-index: -1;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          }
        }
      }
      .search-toggle {
        .icomoon-search {
          display: block;
        }
        .icomoon-close {
          display: none;
        }
        &.active {
          .icomoon-search {
            display: none;
          }
          .icomoon-close {
            display: block;
          }
        }
      }
    }
  }

  .menu-handle {
    display: block;
    cursor: pointer;
    min-height: 30px;

    @include desktop {
      display: none;
    }

    span {
      display: block;

      width: 30px;
      height: 3px;

      margin: 7px;

      //Color of icon
      background-color: white;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &.active {
      .top {
        transform: translateY(10px) rotate(-45deg);
      }

      .middle {
        background-color: transparent;
      }

      .bottom {
        transform: translateY(-10px) rotate(45deg);
      }
    }
  }
  &.scrolled {
    //background-color: white;

    &::before {
      opacity: 1;
      transform: translateY(0%);
    }
    .primary-nav {
      ul {
        li {
          a {
            color: black;
          }
        }
      }
    }
    .header-cta {
      button {
        i {
          &::before {
            color: black;
          }
        }
      }
    }
    .site-logo {
      .white-logo {
        display: none;
      }
      .dark-logo {
        display: block;
      }
    }
    .menu-handle {
      span {
        background-color: black;
      }
    }
  }
}
