include ../mega-menu/mega-menu


mixin site-nav(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.site-nav(class=spec.__class)&attributes(attributes)
    .container
      .site-nav-wrapper
        .site-logo
          a(href="/")
            img.white-logo(src=spec.logoImage.url1, alt=spec.logoImage.alt)
            img.dark-logo(src=spec.logoImage.url2, alt=spec.logoImage.alt)
          if spec.secondaryLogo
            if spec.secondaryLogo.url1
              a(href="/")
                img.white-logo(src=spec.secondaryLogo.url1, alt=spec.secondaryLogo.alt)
                img.dark-logo(src=spec.secondaryLogo.url2, alt=spec.secondaryLogo.alt)
        .primary-nav
          .active-menu-indicator
          ul.nav-links
            each item in spec.primary
              li.lvl1item
                a(href=item.url)
                  span=item.name
                if item.megamenu
                  +mega-menu({
                    "menuItems":item.megamenu
                  })



          .header-cta
            //- button.notification-toggle(title="Notifications")
            //-   i.icomoon-bell
            //-   span.notification-count 2
            button.search-toggle(title="Search")
              i.icomoon-search
              i.icomoon-close
          .menu-handle
            span.top
            span.middle
            span.bottom
