mixin photo-gallery(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .photo-gallery(class=spec.__class)&attributes(attributes)
    .loader
    .gallery-slider__main

      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery1.jpg")
            img(src="/site-images/photogallery/gallery1.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 1
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery2.jpg")
            img(src="/site-images/photogallery/gallery2.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photoasdasdasdasdasdasdasdasdasdasdasdasdasdasd
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery3.jpg")
            img(src="/site-images/photogallery/gallery3.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 3
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery4.jpg")
            img(src="/site-images/photogallery/gallery4.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 4
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery1.jpg")
            img(src="/site-images/photogallery/gallery1.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 1
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery2.jpg")
            img(src="/site-images/photogallery/gallery2.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 2
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery3.jpg")
            img(src="/site-images/photogallery/gallery3.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 3
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery4.jpg")
            img(src="/site-images/photogallery/gallery4.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 4
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery1.jpg")
            img(src="/site-images/photogallery/gallery1.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 1
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery2.jpg")
            img(src="/site-images/photogallery/gallery2.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 2
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery3.jpg")
            img(src="/site-images/photogallery/gallery3.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 3
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery4.jpg")
            img(src="/site-images/photogallery/gallery4.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 4
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery1.jpg")
            img(src="/site-images/photogallery/gallery1.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 1
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery2.jpg")
            img(src="/site-images/photogallery/gallery2.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 2
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery3.jpg")
            img(src="/site-images/photogallery/gallery3.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 3
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.
      .gallery-slide
        .gallery-slide__image
          a(data-fancybox="gallery" href="/site-images/photogallery/gallery4.jpg")
            img(src="/site-images/photogallery/gallery4.jpg", alt="gallery image 1")
        .gallery-slide__description
          p.title Photo Title 4
          p.description Photo Description taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus dignissim.


    .gallery-slider__nav
      .gallery-slider__nav-arrows
        button(title="previous image").prev-image
          i.icomoon-chevron-left
        button(title="next image").next-image
          i.icomoon-chevron-right

      .gallery-slider__nav-wrapper
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery1.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery2.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery3.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery4.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery1.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery2.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery3.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery4.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery1.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery2.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery3.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery4.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery1.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery2.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery3.jpg" alt="profile-image")
        .gallery-slide__nav
          img(src="/site-images/photogallery/gallery4.jpg" alt="profile-image")

