//photo-gallery styles
.photo-gallery {
  display: block;
  width: 100%;
  position: relative;
  //padding: 20px;
  background-color: white;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  border-radius: 2px;
  overflow: hidden;
  .loader {
    position: absolute;
    top: 100px;
    left: 50%;
    display: block;
    transform: translateX(-100%);
  }
  .slick-list {
    margin-bottom: -5px;
  }
  .gallery-slider__main {
    @extend %clearfix;
    visibility: hidden;

    &.slick-initialized {
      visibility: visible;
    }
  }
  .gallery-slider__nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 5px 35px;
    .gallery-slider__nav-wrapper {
      visibility: hidden;
      &.slick-initialized {
        visibility: visible;
      }
    }
  }
  .gallery-slide {
    &__image {
      width: 100%;
      height: 350px;
      float: left;
      background-color: black;
      @include desktop {
        width: 60%;
      }
      a {
        display: block;
        height: 100%;
      }
      img {
        @include objectfit-contain;
        display: block;
      }
    }
    &__description {
      width: 100%;
      height: 100%;
      float: left;
      padding: 20px 30px;
      @include desktop {
        width: 40%;
        height: 350px;
      }
      .title {
        font-size: calc-em(20px);
        font-weight: 500;
        word-wrap: break-word;
      }
    }

    &__nav {
      width: 100%;
      height: 100px;
      padding: 5px 5px;
      cursor: pointer;
      @include desktop {
        height: 80px;
      }
      img {
        @include objectfit-cover;
      }
    }
  }

  .prev-image,
  .next-image {
    position: absolute;
    top: 0;
    z-index: 2;
    border: none;
    background-color: $red;
    color: white;
    height: 100%;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .next-image {
    right: 0;
  }
  .prev-image {
    left: 0;
  }
  .slick-current {
    .gallery-slide__nav {
      background-color: $yellow;
    }
  }
}
