
extends ../_layouts/base

include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/atoms/section-title/section-title

include ../_modules/molecules/banner/banner
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links

include ../_modules/organisms/landing-banner/landing-banner
include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options


block content
  +banner-small({
    "image":{
      "url":"/site-images/clublanding/banner.jpeg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"ALL MODULES",
    })

  .container
    .row
      .col-md-12.padding-m
        +section-title()
          | Banner <span class="text--grey"> Modules</span>
        h2.text--title Banner Small
  +banner-small({
    "image":{
      "url":"/site-images/clublanding/banner.jpeg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"Banner Small",
    })
  .container
    .row
      .col-md-12.padding-m
        h2.text--title Banner Normal
  +banner-normal({
    "image":{
      "url":"/site-images/clublanding/banner.jpeg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"Banner Small",
    })
  .container
    .row
      .col-md-12.padding-m
        h2.text--title Banner Full Width
  +landing-banner()
  .container
    .row
      .col-md-12.padding-l
        h2.text--title This banner will have a negetive margin to accomodate the homapage design. USE this module only on homepage

  .container
    .row
      .col-md-12.padding-m
        +section-title()
          | CARD <span class="text--grey"> Modules</span>