
extends ../_layouts/base

include ../_modules/atoms/section-title/section-title

include ../_modules/molecules/banner/banner
include ../_modules/molecules/card/card
include ../_modules/molecules/multi-step-form/multi-step-form
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/carousel-type-2/carousel-type-2

include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var micrositeClass = 'microsite--red'

block content
  +banner-normal({
    "image":{
      "url":"/site-images/clubs/jurong.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "image":{
        "url":"/assets/images/safra-jurong-logo.png",
        "alt":"SAFRA Jurong logo"
      },
      "location":{
        "text":"333 Boon Lay Way Singapore 649848",
        "url":"https://www.google.com.sg/maps/place/SAFRA+Jurong/@1.335065,103.7040917,17z/data=!3m1!4b1!4m5!3m4!1s0x31da0ff2b432a6cb:0x111f72b021de7cff!8m2!3d1.335065!4d103.7062804"
      },
      "date":"Daily 9:00a.m - 9:00p.m",
      "phone":"6686 4333"
    })
  section.general-section
    .container
      .row
        .col-md-12
          +section-title({
            "cta":{
              "text":"See your full itinerary",
              "url":"/explore-safra"
            },
            "__class":"section-title--blue section-title--small"
          })
            | Recommended <span class="text--black"> for you</span>
            p.text--subtitle.text--grey Based on your answers
        .col-md-4
          +multi-step-form()
        .col-md-8

          +carousel-type-1({
            "prevArrow":"icomoon-chevron-left",
            "nextArrow":"icomoon-chevron-right"
          })
            each item in site.data.clubRecommendation
              .slide.match-height-elm
                +card({
                  "image":item.image,
                  "title":item.title,
                  "date":item.date,
                  "duration":item.duration,
                  "location":item.location,
                  "__class":"card--club-recommendation"
                })
  +club-facilities()
  section.general-section
    .container
      +section-title({
        "cta":{
          "text":"See all happeningss",
          "url":"#"
        },
        "__class":"section-title--blue"
      })
        | <span class="text--grey"> GET</span> INVOLVED
    .container
      .row
        +carousel-type-1()
          each item in site.data.clubHappenings
            .slide.match-height-elm
              +card({
                "image":item.image,
                "title":item.title,
                "type":item.type,
                "date":item.date,
                "location":item.location,
                "__class":"card--happening"
              })
  +club-deals({
    "items":site.data.clubDeals.jurong
  })