//cta-banner styles

.cta-banner {
  display: block;
  position: relative;
  margin: 30px 0px;
  border-radius: 5px;
  overflow: hidden;
  &__image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__button {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
}
