mixin cta-banner(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cta-banner(class=spec.__class)&attributes(attributes)
    .cta-banner__image
      img(src=spec.image alt="cta banner alt")
    .cta-banner__button
      +button({
        "text":spec.ctaText,
        "url":spec.ctaUrl,
        "__class":"button--fill"
      })