
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/icon-card/icon-card
include ../_modules/molecules/listing-card/listing-card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/cta-banner/cta-banner
include ../_modules/molecules/cta-text-bar/cta-text-bar


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Membership", "url":"/membership"},{"name":"SAFRA Reward", "url":"/reward-points"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/rewards/banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"SAFRA Rewards",
    })

block asideContent
  +side-nav({
    "items":[
      {
        "name":"General Information",
        "url":""
      },
      {
        "name":"Privileges",
        "url":""
      },
      {
        "name":"SAFRA Rewards",
        "url":"/reward-points",
        "__class":"active",
        "children":[
          {
            "name":"SAFRA Points",
            "url":""
          },
          {
            "name":"SAFRA Dollars",
            "url":""
          }
        ]
      }
    ]
  })

block content
  +content-header({
    "title":"Reward yourself: Spend your way to great prizes at SAFRA Clubs",
  })
  .container.container-sm
    .listing-section
      .row
        .listing-item.col-md-3.col-sm-3.match-height-elm
          +icon-card({
            "image":"/site-images/reward1.svg",
            "description":"SAFRAPOINTS Rewards Programme rewards SAFRA Members for their patronage at SAFRA Clubs and participating merchants."
          })
        .listing-item.col-md-3.col-sm-3.match-height-elm
          +icon-card({
            "image":"/site-images/reward2.svg",
            "description":"Every $1 spent = 1 SAFRAPOINT earned"
          })
        .listing-item.col-md-3.col-sm-3.match-height-elm
          +icon-card({
            "image":"/site-images/reward3.svg",
            "description":"In addition, you can earn DOUBLE SAFRAPOINTS when you spend during your birthday month!"
          })
        .listing-item.col-md-3.col-sm-3.match-height-elm
          +icon-card({
            "image":"/site-images/reward4.svg",
            "description":"Every 100 SAFRAPOINTS is worth $2 in value (equivalent to 2% rebate)"
          })
  h2 5 ways to earn your SAFRAPOINTS*
  .listing-section
    .row
      .col-flex.col-flex__center
        .listing-item.col-md-4.col-sm-4.match-height-elm
          +icon-card({
            "image":"/site-images/reward-icon1.svg",
            "description":"Spend at participating merchants in all SAFRA clubs and exclusive partners*"
          })
        .listing-item.col-md-4.col-sm-4.match-height-elm
          +icon-card({
            "image":"/site-images/reward-icon2.svg",
            "description":"Sign up/ renew SAFRA Membership, SAFRA Interest Group or EnergyOne Gym Membership (including per entry fees)"
          })
        .listing-item.col-md-4.col-sm-4.match-height-elm
          +icon-card({
            "image":"/site-images/reward-icon3.svg",
            "description":"Book SAFRA operated facilities and/or D’Resort stays (under SAFRA operated units)"
          })

        .listing-item.col-md-4.col-sm-4.match-height-elm
          +icon-card({
            "image":"/site-images/reward-icon4.svg",
            "description":"Pay for SAFRA organized activities (for payments made through SAFRA)"
          })
        .listing-item.col-md-4.col-sm-4.match-height-elm
          +icon-card({
            "image":"/site-images/reward-icon4.svg",
            "description":"Purchase SAFRA - NTUC group insurance policies (for payments made through SAFRA)"
          })
  .row
    +cta-text-bar({
      "items":[
        {
          "text":"Redeem Safrapoints",
          "url":"#"
        },
        {
          "text":"Reward Vouchers",
          "url":"#"
        },
        {
          "text":"Redemption Catalogue",
          "url":"#"
        },
        {
          "text":"Partners",
          "url":"#"
        }
      ]
    })
  .text-center.padding-l
    +button({
      "text":"Join SAFRA now",
      "__class":"button--fill"
    })

  p * Excludes spending made at Slot Machines, purchase of discounted vouchers, payment for SAFRA DBS Credit/Debit card, Car Park Fees, Child Education Policy, SAFRA AIG Insurance Plans, SAFRA Ezy Travel Plan, security deposits, fines, tender deposits and document fees and non-group insurance schemes. Other terms and conditions apply. Please refer here for more details.

  p # For a complete list of participating merchants, please refer to www.safra.sg/safrapoints-partners.



block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




