
extends ../_layouts/base-standard


include ../_modules/atoms/content-header/content-header
include ../_modules/molecules/listing-card/listing-card
include ../_modules/molecules/carousel-banner/carousel-banner
include ../_modules/molecules/banner/banner


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Our Facilities", "url":"/facilities-landing"}]


block topContent
  +carousel-banner()
    .slide
      a(href="/").carousel-banner__image
        img(src="/site-images/facilities/banner1.jpg" alt="banner image")
    .slide
      .carousel-banner__image
        img(src="/site-images/facilities/banner2.jpg" alt="banner image")


block content


  +content-header({
    "title":"Our Facilities",
  })
  .listing-section
    .row
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Outdoor Sports",
          "url":"/facilities-listing?category=outdoor-sports",
          "items":[
            {
              "title":"Water Activities Facility"
            },
            {
              "title":"Swimming Pool"
            },
            {
              "title":"Bikes @ Waterway"
            },
          ]
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Indoor sports",
          "url":"/facilities-listing?category=indoor-sports",
          "items":[
            {
              "title":"Indoor Air Weapons Range"
            },
            {
              "title":"Energy One"
            },
            {
              "title":"Kidz Amaze"
            },
          ]
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"F&B",
          "url":"/facilities-listing?category=F&B",
          "items":[
            {
              "title":"Astons Specialities"
            },
            {
              "title":"Beer Alley"
            },
            {
              "title":"Bola Café"
            },
          ]
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Leisure & Entertainment",
          "url":"/facilities-listing?category=leisure-n-entertainment",
          "items":[
            {
              "title":"7th Heaven KTV"
            },
            {
              "title":"Clique Gaming"
            },
            {
              "title":"Denker Sports World Shooting"
            },
          ]
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Function rooms",
          "url":"/function-rooms-landing"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Retail & Shopping",
          "url":"/facilities-listing?category=retail-n-shopping"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Playgrounds",
          "url":"/facilities-listing?category=playgrounds"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Co-working Space",
          "url":"/facilities-listing?category=co-working-space"
        })

block bottomContent
  +banner-featured({
    "image":{
      "url":"/site-images/facilities/promo-banner.jpg",
      "link":"/site-images/facilities/promo-banner.jpg",
      "alt":"banner image"
    }
  })
    .row
      .col-md-4.col-md-6
        h2 View privileges and benefits that you enjoy as a SAFRA member at our partner clubs
        //- +button({
        //-   "text":"Find out more",
        //-   "__class":"button--fill"
        //- })
