
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/cta-card/cta-card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Interest Groups", "url":"/interest-group-listing"},{"name":"Adventure Club", "url":"/interest-group-article"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/interest-group/banner.JPG",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"Running Club",
    })


block asideContent
  +contact-card()
    p For more information, please contact Jia Zhen at <a href="tel:+6568528235">6852 8235</a> or <a href="mailto:cjiazhen@safra.sg">cjiazhen@safra.sg</a>.

block content
  +content-header({
    "title":"Be part of our family today",
  })
  p With SAFRA's Running Club, you won't be running alone any longer.

  p Group social runs are conducted twice weekly on Tuesday and Thursday evenings with experienced runners to guide and pace members along. Apart from the bi-weekly social runs, the Running Club also organises location runs and participates in major running events such as the SAFRA Singapore Bay Run & Army Half Marathon, Standard Chartered Marathon, Mizuno Wave Run, HomeTeamNS Real Run, 2nd Link Run, and so on. There will never be a moment of dread as you can certainly expect great company from our fun-loving members.

  h2 SAFRA Running Club Member Privileges
  ul
    li Regular bi-weekly leisure and location runs
    li Social gatherings (eg. potluck feasts)
    li Special discounts for selected sports gear
    li Stamina training by expert runners

  h2 Promotion
  img(src="/site-images/interest-group/ig-promo.jpg" alt="promotion")
  p Sign up with us to enjoy 10% off selected products at Under Armour Retail outlets* and/or subsidiary outlets* as advertised by flashing the official SAFRA Running Club membership card.

  p Valid till 30 Apr 2020.

  p Terms & Conditions
  ul
    li Only applicable to regular priced items.
    li Excludes Project Rock and Curry 6 products.
    li Not applicable with other Under Armour or SAFRA promotions.

  h2 Schedule
  .table--responsive
    table(border='0')
      tbody
        tr
          td
            strong Tue, 7pm
          td
            strong Thu, 7pm
          td
            strong Sun, 7am
          td

        tr
          td
            strong SAFRA Jurong
          td
            | Club Atrium /
            br
            |  Running Club Room
          td
            | Club Atrium /
            br
            |  Running Club Room
          td
            | Occasional
            br
            br
            |  Club Atrium /
            br
            |  Running Club Room
        tr
          td
            strong SAFRA Mount Faber
          td Outside SAFRA Mount Faber Subway
          td Outside SAFRA Mount Faber Subway
          td
            | Occasional
            br
            br
            |  Outside SAFRA Mount Faber Subway
        tr
          td
            strong SAFRA Punggol
          td
            | Level 2, Courtyard
            br
            br
            |  Subject to running route. Check SAFRA Punggol Running Club Facebook for update.
          td
            | Level 2, Courtyard
            br
            br
            |  Subject to running route. Check SAFRA Punggol Running Club Facebook for update.
          td
            | Level 2, Courtyard
            br
            br
            |  Subject to running route. Check SAFRA Punggol Running Club Facebook for update.
        tr
          td
            strong SAFRA Tampines
          td
            | Club&apos;s drop-off point.
            br
            br
            |  Subject to running route. Will be updated on the SRC TM FB page.
          td
            | Club&apos;s drop-off point.
            br
            br
            |  Subject to running route. Will be updated on the SRC TM FB page.
          td
            | Club&apos;s drop-off point.
            br
            br
            |  Subject to running route. Will be updated on the SRC TM FB page.
        tr
          td
            strong SAFRA Toa Payoh
          td Club Lobby
          td Club Lobby
          td Subject to running route. Will be updated via Email or SRC TP FB Group Page
        tr
          td
            strong SAFRA Yishun
          td Carpark
          td
            | Subject to running route. Will be updated via
            br
            |  SRC YS FB Page / Whatsapp Group Email
          td
            | Subject to running route. Will be updated via
            br
            |  SRC YS FB Page / Whatsapp Group Email

  h2 Contact Information
  p Email the following clubs for enquiries and more details about SAFRA Running Club.

  p Kelly at ckelly@safra.sg (SAFRA Jurong)
  p Raazmy at raazmy@safra.sg (SAFRA Mount Faber)
  p Tiffany / Desmond at asmtiffany@safra.sg / tdesmond@safra.sg (SAFRA Punggol)
  p Dixon at ndixon@safra.sg (SAFRA Tampines)
  p Fauzi at mfauzi@safra.sg (SAFRA Toa Payoh)
  p Rin at jhazairin@safra.sg (SAFRA Yishun)

  h2 Official Sports Apparel
  img(src="/site-images/interest-group/apparel.jpg" alt="promotion")

  .row.padding-l
    +button({
      "text":"Sign up today",
      "url":"#",
      "__class":"button--fill button--with-arrow"
    })

  h2 Event Widget
  +cta-card--event({
    "image":{
      "url":"/site-images/insurance/insurance3.jpg"
    },
    "title":"Event Title",
    "description":"Description efficitur nunc sed cursus dignissim. In luctus gravida interdum. Mauris tortor mi, congue et porttitor at, sodales eget odio curabitur cursus blandit felis, sed tempor nunc varius ac. Ut tincidunt nunc a leo.",
    "cta":{
      "text":"Find Out More",
      "url":"#"
    }
  })


block contentFooter

  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




