//info-card styles
.info-card {
  display: block;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.7);
  border: 0.5px solid #dcdcdc;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 40px;
  position: relative;
  @include mobile {
    margin-top: 100px;
  }
  &__logo {
    max-width: 300px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__image {
    padding: 20px 0px;
    img {
      max-width: 150px;
      height: auto;
    }
  }
  &__content {
  }
  &__title {
    h1 {
      font-size: calc-em(32px);
      color: $darkGrey;
      text-shadow: none;
    }
  }
  &__description {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 100;
  }
  &__location {
    padding: 5px 0px 5px 40px;
    position: relative;
    text-decoration: none;
    &::before {
      content: $icomoon-location-path1;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: $darkGrey;
    }
    &::after {
      content: $icomoon-location-path2;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: $red;
    }
    p {
      margin: 0;
    }
    a {
      color: $clubBlue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__time {
    padding: 5px 0px 5px 40px;
    position: relative;
    &:before {
      content: $icomoon-clock;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: $darkGrey;
    }
    p {
      //background-color: $lightGrey;
      margin: 0;
      color: $darkGrey;
      font-size: calc-em(14px);
    }
  }
  &__phone {
    padding: 5px 0px 5px 40px;
    position: relative;
    &:before {
      content: $icomoon-phone;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: $darkGrey;
    }
    p {
      //background-color: $lightGrey;
      margin: 0;
      color: $darkGrey;
      font-size: calc-em(14px);
    }
    a {
      color: $clubBlue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__icons {
    padding: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      display: block;
    }

    ul {
      @extend %list-unstyled;
      @extend %clearfix;
      padding: 0 0 0 12px;
    }

    li {
      float: left;
      padding-right: 12px;

      &:last-child {
        padding-right: 0;
      }
    }

    a {
      font-size: calc-em(20px);
      text-decoration: none;
      color: $clubBlue;
      display: block;

      i {
        display: block;
      }
    }
  }
  &--general {
    border: none;
    padding: 0px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 30px;
    @include mobile {
      margin-top: 0px;
    }
    .info-card__title {
      border-bottom: 1px solid $grey;
      background-color: $red;
      padding: 10px 20px;
      p {
        margin: 0;
        font-size: calc-em(20px);
        color: white;
        text-shadow: none;
      }
    }
    .info-card__content {
      padding: 10px 20px;
    }
  }
}
