mixin info-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .info-card(class=spec.__class)&attributes(attributes)
    if spec.image
      .info-card__logo
        img.lazyload(data-src=spec.image.url alt=spec.image.alt)
    .info-card__content
      if spec.title
        .info-card__title
          h1!=spec.title
      if spec.description
        .info-card__description
          p=spec.description
      if spec.location
        .info-card__location
          p
            a(href=spec.location.url)=spec.location.text
      if spec.date
        .info-card__time
          p=spec.date
      if spec.phone
        .info-card__phone
          a(href="tel:+65 99999999")=spec.phone
      if spec.mediaIcons
        .info-card__icons
          span Follow us:
          ul
            each icon in spec.mediaIcons
              li
                a(href=icon.url)
                  i(class=icon.className)


mixin info-card--general(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .info-card.info-card--general(class=spec.__class)&attributes(attributes)
    .info-card__title
      p=spec.title
    .info-card__content
      block


