//tabbed-content styles
.tabbed-content {
  .tabs {
    width: 100%;
    border-bottom: 1px solid $mediumGrey;
    position: relative;
    .tab {
      background-color: transparent;
      border: none;
      padding: 25px 30px;
      font-weight: 500;
      font-size: calc-em(19px);
      color: grey;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &.active {
        color: $darkGrey;
      }
    }
    .active-indicator {
      display: block;
      width: 100px;
      height: 4px;
      background-color: $red;
      position: absolute;
      top: 100%;
      left: 0;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  .tab-content {
    display: block;
    &.hidden {
      display: none;
    }
    .slide {
      padding: 20px;
    }
  }
}
