include ../../molecules/card-carousel/card-carousel
include ../../molecules/card/card

mixin tabbed-content(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .tabbed-content(class=spec.__class)&attributes(attributes)
    .tabs
      button.tab.active(data-related-content="thisweek") This week
      button.tab(data-related-content="thismonth") This month
      span.active-indicator
    .tab-content-wrapper
      .tab-content#thisweek
        .row
          +card-carousel()
            each item in site.data.whatson.week
              .slide
                +card({
                  "image":item.image,
                  "title":item.title,
                  "date":item.date,
                  "location":item.location,
                  "type":item.type,
                })
      .tab-content.hidden#thismonth
        .row
          +card-carousel()
            each item in site.data.whatson.month
              .slide
                +card()

