
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"SAFRA Insurance", "url":"/insurance"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/about-banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"All your protection under one roof",
    })


block asideContent
  +side-nav({
    "items":[
      {
        "name":"About SAFRA",
        "url":"#",
        "children":[
          {
            "name":"SAFRA's Vision",
            "url":"#"
          },
          {
            "name":"Key Management",
            "url":"#"
          },
          {
            "name":"Staff Organisation chart",
            "url":"#"
          }
        ]
      },
      {
        "name":"Careers",
        "url":"/careers"
      },
      {
        "name":"FAQs",
        "url":"/FAQ"
      },
      {
        "name":"Terms & Privacy",
        "url":"#"
      },
      {
        "name":"Feedback",
        "url":"/feedback"
      },
      {
        "name":"Contact Us",
        "url":"/contact-us"
      }
    ]
  })
block content
  +content-header({
    "title":"About SAFRA"
  })
  p We’re the go-to destination for all social, recreational, sports and educational facilities for NSmen and their families. Formed in 1972, SAFRA’s goal was to aid the Singapore Armed Forces (SAF) enhance camaraderie and boost morale among National Servicemen.

  p Since then, we’ve built a network of clubs located at Jurong, Mount Faber, Punggol, Tampines, Toa Payoh and Yishun. In addition to clubs, we offer a host of activities , value-added services and membership perks that meet the lifestyle needs of our community of more than 350,000 SAFRA members. Join us today!
  section.listing-section
    .row
      .listing-item.col-md-6.col-sm-6.match-height-elm
        +card({
          "image":"/site-images/clubs/jurong.jpg",
          "title":"SAFRA Jurong",
          "__class":"card--club",
          "url":"/safra-jurong",
        })
      .listing-item.col-md-6.col-sm-6.match-height-elm
        +card({
          "image":"/site-images/clubs/mtfaber.jpg",
          "title":"SAFRA Mount Faber",
          "__class":"card--club",
          "url":"/safra-mtfaber",
        })
      .listing-item.col-md-6.col-sm-6.match-height-elm
        +card({
          "image":"/site-images/clubs/pungol.jpg",
          "title":"SAFRA Punggol",
          "__class":"card--club",
          "url":"/club-landing",
        })
      .listing-item.col-md-6.col-sm-6.match-height-elm
        +card({
          "image":"/site-images/clubs/tampanies.jpg",
          "title":"SAFRA Tampines",
          "__class":"card--club",
          "url":"/safra-tampines",
        })
      .listing-item.col-md-6.col-sm-6.match-height-elm
        +card({
          "image":"/site-images/clubs/toapayoh.png",
          "title":"SAFRA Toa Payoh",
          "__class":"card--club",
          "url":"/safra-toapayoh",
        })
      .listing-item.col-md-6.col-sm-6.match-height-elm
        +card({
          "image":"/site-images/clubs/yishun.jpg",
          "title":"SAFRA Yishun",
          "__class":"card--club",
          "url":"/safra-yishun",
        })


block contentFooter
  +button-share()


