
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/carousel-banner/carousel-banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/pagination-ajax/pagination-ajax
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/listing-card/listing-card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Search results", "url":"/search-results"}]

block topContent


block asideContent
  +filter()
    +filter--search()
    +filter--select(name="location")
      option(value="all") All Locations
      option(value="safra-hq") SAFRA - HQ
      option(value="safra-jurong") SAFRA - Jurong
      option(value="safra-mount-faber") SAFRA - Mount Faber
      option(value="safra-punggol") SAFRA - Punggol
      option(value="safra-tampines") SAFRA - Tampines
      option(value="safra-toa-payoh") SAFRA - Toa Payoh
      option(value="safra-town-club") SAFRA - Town Club
      option(value="safra-yishun") SAFRA - Yishun

    +filter--checkbox-list()
      input#filtercheckbox2(type="checkbox" name="type" value="activities")
      label(for="filtercheckbox2") Activities
      input#filtercheckbox3(type="checkbox" name="type" value="events")
      label(for="filtercheckbox3") Events
      input#filtercheckbox4(type="checkbox" name="type" value="facilities")
      label(for="filtercheckbox4") Facilities
      input#filtercheckbox5(type="checkbox" name="type" value="services")
      label(for="filtercheckbox5") Services
      input#filtercheckbox6(type="checkbox" name="type" value="promotions")
      label(for="filtercheckbox6") Promotions


    .apply-filter-button
      +button({
        "text":"FILTER NOW",
        "__class":"button--fill button--small"
      })


block content
  +content-header({
    "title":"Search Results",
  })
  .search-results
    .search-keyword-info
      h2.keyword-info-message.no-margin 20 search results for "keyword"
    .listing.listing-section
      .contianer
        .row
          .listing-items-container

        .row
          .col-md-12
            +pagination-ajax()

      script(id="search-results" type="text/template" data-items-per-page=12 data-template-id="search-results" data-api="api/searchresults.json" class="listing-template" data-error-message="Sorry no Items Found")
        |{{~it :item:index }}
        .listing-item
          +listing-card--search({
            "url":"{{=item.Link}}",
            "title":"{{=item.Title}}",
            "description":"{{=item.Description}}"
          })
        |{{~}}


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




