
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/carousel-banner/carousel-banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/pagination-ajax/pagination-ajax
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Our Facilities", "url":"/facilities-landing"}]

block topContent
  +carousel-banner()
    .slide
      .carousel-banner__image
          img(src="/site-images/membership/banner1.jpg" alt="banner image")
    .slide
      .carousel-banner__image
        img(src="/site-images/membership/banner2.jpg" alt="banner image")


block asideContent
  +filter()
    +filter--search()
    +filter--select(name="location")
      option(value="all") All Locations
      option(value="safra-hq") SAFRA - HQ
      option(value="jurong") SAFRA - Jurong
      option(value="mount-faber") SAFRA - Mount Faber
      option(value="punggol") SAFRA - Punggol
      option(value="tampines") SAFRA - Tampines
      option(value="toa-payoh") SAFRA - Toa Payoh
      option(value="town-club") SAFRA - Town Club
      option(value="yishun") SAFRA - Yishun


    +filter--checkbox-list()
      p.checkbox-list-title Promotions
      input#filtercheckbox2(type="checkbox" name="persona" value="all")
      label(for="filtercheckbox2") for all
      input#filtercheckbox3(type="checkbox" name="persona" value="for-me-time")
      label(for="filtercheckbox3") for me-time
      input#filtercheckbox4(type="checkbox" name="persona" value="for-my-buddies")
      label(for="filtercheckbox4") for my buddies
      input#filtercheckbox5(type="checkbox" name="persona" value="for-my-partner")
      label(for="filtercheckbox5") for my partner
      input#filtercheckbox6(type="checkbox" name="persona" value="for-my-family")
      label(for="filtercheckbox6") for my family

    +filter--checkbox-list()
      p.checkbox-list-title Select Interest
      input#filter0(type="checkbox" name="interest" value="all")
      label(for="filter0") for all
      input#filter1(type="checkbox" name="interest" value="outdoor-sports")
      label(for="filter1") Outdoor sports
      input#filter2(type="checkbox" name="interest" value="indoor-sports")
      label(for="filter2") Indoor sports
      input#filter3(type="checkbox" name="interest" value="f-n-b")
      label(for="filter3") F&B
      input#filter5(type="checkbox" name="interest" value="leisure-n-entertainment")
      label(for="filter5") Leisure & Entertainment
      input#filter7(type="checkbox" name="interest" value="function-rooms")
      label(for="filter7") Funtion rooms
      input#filter4(type="checkbox" name="interest" value="retail-n-shopping")
      label(for="filter4") Retail & Shopping
      input#filter6(type="checkbox" name="interest" value="playgrounds")
      label(for="filter6") Playgrounds
      input#filter8(type="checkbox" name="interest" value="co-working-space")
      label(for="filter8") Co-working Space

    .apply-filter-button
      +button({
        "text":"FILTER NOW",
        "__class":"button--fill button--small"
      })


block content
  +content-header({
    "title":"Category Title",
  })
  .listing.listing-section
    .contianer
      .row
        .listing-items-container

      .row
        .col-md-12
          +pagination-ajax()

    script(id="facilities-listing" type="text/template" data-items-per-page=12 data-template-id="facilities-listing" data-api="api/facilities.json" class="listing-template" data-error-message="Sorry no Items Found")
      |{{~it :item:index }}
      .listing-item.col-md-4.col-sm-6.match-height-elm
        +card({
          "image":"{{=item.ImageSrc}}",
          "alt":"{{=item.ImageAlt}}",
          "title":"{{=item.Title}}",
          "description":"{{=item.Description}}",
          "location":"{{=item.Location}}",
          "__class":"card--services",
          "url":"{{=item.Link}}"
        })
      |{{~}}


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




