//multi-step-form styles
@mixin FormColors($mainColor) {
  .multi-step-form {
    .step-indicator {
      .step {
        span {
          color: $mainColor;
        }
        &.active {
          background-color: $mainColor;
          &::after {
            border: 1px solid $mainColor;
            background-color: $mainColor;
          }
          span {
            color: white;
          }
        }
      }
    }
    .next-button {
      button {
        color: $mainColor;
      }
    }
  }
}

.multi-step-form {
  background: #f2f2f2;
  padding: 30px 20px;
  .form {
    display: none;
    &.active {
      display: block;
    }
    &__title {
      font-size: calc-em(21px);
      margin: 0;
      font-weight: bold;
    }
    &__subtitle {
      font-size: cacl-em(15px);
      color: #adadad;
      margin: 0;
      padding-bottom: 10px;
    }

    &__options {
    }

    &__item {
      label {
        font-size: calc-em(18px);
        color: $darkGrey;
        padding-left: 10px;
        span {
          vertical-align: middle;
          font-weight: 500;
        }
        img {
          height: 50px;
          width: auto;
          padding-right: 10px;
        }
      }
      &--checkbox {
        input {
          display: none;
        }
        label {
          display: block;
          padding: 10px 20px 10px 35px;
          position: relative;
          cursor: pointer;
          &::before {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 2px;
            display: block;
            position: absolute;
            top: 10px;
            left: 0;
            border: 2px solid $darkGrey;
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
          &::after {
            content: "";
            width: 10px;
            height: 20px;
            border-radius: 2px;
            display: block;
            position: absolute;
            opacity: 0;
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            top: 5px;
            left: 10px;
            border-bottom: 3px solid $red;
            border-right: 3px solid $red;
            //box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
          }
        }
        input[type="checkbox"]:checked + label {
          &::before {
            background-color: white;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            border: 2px solid white;
          }
          &::after {
            transform: rotate(45deg);
            opacity: 1;
          }
        }
      }
      &--radio {
        input {
          display: none;
        }
        label {
          display: block;
          padding: 10px 20px 10px 35px;
          position: relative;
          cursor: pointer;
          &::before {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            border: 2px solid $darkGrey;
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
          &::after {
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 2px;
            display: block;
            position: absolute;
            opacity: 0;
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            top: 50%;
            left: 2px;
            background-color: $red;
            border-radius: 50%;
            //box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
            transform: translateY(-50%) scale(0);
          }
        }
        input[type="radio"]:checked + label {
          &::before {
            background-color: white;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            border: 2px solid white;
          }
          &::after {
            transform: translateY(-50%) scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
  .next-button {
    margin-top: 20px;
    color: $clubBlue;
    display: block;
    cursor: pointer;
    button {
      border: none;
      background-color: transparent;
      display: block;
      position: relative;
      margin-right: 0;
      margin-left: auto;
      padding: 10px 20px 10px 20px;
      color: $clubBlue;
      &::after {
        content: $icomoon-chevron-right;
        font-family: $icomoon-font-family;
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &:hover {
        &::after {
          transform: translateY(-50%) translateX(5px);
        }
      }
    }
  }
  .step-indicator {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    .step {
      padding: 10px 18px;
      background-color: white;
      border-radius: 50%;
      margin: 10px 20px;
      position: relative;
      display: block;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        top: calc(50% - 1px);
        left: 100%;
        background-color: white;
        position: absolute;
      }
      &::after {
        content: "";
        display: block;
        width: 130%;
        height: 130%;
        top: -15%;
        left: -15%;
        border-radius: 50%;
        border: 1px solid white;
        position: absolute;
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
      span {
        font-weight: 500;
        color: $clubBlue;
        position: relative;
        z-index: 1;
      }
      &.active {
        background-color: $clubBlue;
        &::after {
          border: 1px solid $clubBlue;
          background-color: $clubBlue;
        }
        span {
          color: white;
        }
      }
    }
  }
}

.microsite--blue {
  @include FormColors($clubBlue);
}

.microsite--red {
  @include FormColors($clubRed);
}

.microsite--orange {
  @include FormColors($clubOrange);
}

.microsite--purple {
  @include FormColors($clubPurple);
}

.microsite--lightblue {
  @include FormColors($clubLightBlue);
}

.microsite--green {
  @include FormColors($clubGreen);
}
