mixin multi-step-form(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .multi-step-form(class=spec.__class)&attributes(attributes)
    .step-indicator
      .step.active#step1
        span 1
      .step#step2
        span 2
      .step#step3
        span 3
    .form#form-step-1.active
      p.form__title I am visiting..
      .form__options
        .form__item.form__item--radio
          input#item1(type="radio" name="persona" value="for me")
          label(for="item1")
            span
              img(src="/site-images/clublanding/form-icon1.svg" alt="person icon")
            span for me time
        .form__item.form__item--radio
          input#item2(type="radio" name="persona" value="Activity")
          label(for="item2")
            span
              img(src="/site-images/clublanding/form-icon2.svg" alt="person icon")
            span with my buddies
        .form__item.form__item--radio
          input#item3(type="radio" name="persona"  value="Activity")
          label(for="item3")
            span
              img(src="/site-images/clublanding/form-icon3.svg" alt="person icon")
            span with my partner
        .form__item.form__item--radio
          input#item4(type="radio" name="persona" value="Activity")
          label(for="item4")
            span
              img(src="/site-images/clublanding/form-icon4.svg" alt="person icon")
            span with my family

      .next-button(data-next-step=2)
        button Next
    .form#form-step-2
      p.form__title How much time do I have?
      .form__options
        .form__item.form__item--radio
          input#item21(type="radio" name="duration" value="1 - 2 hours")
          label(for="item21") 1 - 2 hours
        .form__item.form__item--radio
          input#item22(type="radio" name="duration" value="3 - 4 hours")
          label(for="item22") 3 - 4 hours
        .form__item.form__item--radio
          input#item23(type="radio" name="duration" value="Half a day")
          label(for="item23") Half a day
        .form__item.form__item--radio
          input#item24(type="radio" name="duration" value="Full day")
          label(for="item24") Full day

      .next-button(data-next-step=3)
        button Next
    .form#form-step-3
      p.form__title What am I interested in?
      p.form__subtitle (You may select more than 1)
      .form__options
        .form__item.form__item--checkbox
          input#item31(type="checkbox" name="interest" value="sports-n-fitness")
          label(for="item31") Sports & Fitness
        .form__item.form__item--checkbox
          input#item32(type="checkbox" name="interest" value="f-n-b")
          label(for="item32") F&B
        .form__item.form__item--checkbox
          input#item33(type="checkbox" name="interest" value="leisure-n-entertainment")
          label(for="item33") Leisure & Entertainment
        .form__item.form__item--checkbox
          input#item34(type="checkbox" name="interest" value="health-n-beauty")
          label(for="item34") Health & Beauty
        .form__item.form__item--checkbox
          input#item35(type="checkbox" name="interest" value="education")
          label(for="item35") Education & Enrichment
        .form__item.form__item--checkbox
          input#item36(type="checkbox" name="interest" value="arts-n-creative")
          label(for="item36") Retail & Shopping
        .form__item.form__item--checkbox
          input#item37(type="checkbox" name="interest" value="executive-programs")
          label(for="item37") Vacation & Travel
        .form__item.form__item--checkbox
          input#item38(type="checkbox" name="interest" value="corporate")
          label(for="item38") Corporate
        .form__item.form__item--checkbox
          input#item39(type="checkbox" name="interest" value="others")
          label(for="item39") Others

      .next-button.plan-for-me
        button Plan for me
