
extends ../_layouts/base

include ../_modules/atoms/section-title/section-title

include ../_modules/molecules/banner/banner
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/card/card


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options


block content
  +banner-full-width-small({
    "image":{
      "url":"/site-images/explore/banner.jpg",
      "link":"/site-images/explore/banner.jpg",
      "alt":"banner image"
    }
  })
    h1.text--title
      | Explore SAFRA
  section.general-section
    .container
      +section-title({
      })
        | Activities
    .listing.listing-section
      .container
        .row
          .listing-items-container

      script(id="whatson-listing" type="text/template" data-items-per-page=12 data-template-id="whatson-listing" data-api="api/whatson.json" class="listing-template" data-error-message="Sorry no Items Found")
        |{{~it :item:index }}
        .listing-item.col-md-4.col-sm-6.match-height-elm
          +card({
            "image":"{{=item.ImageSrc}}",
            "alt":"{{=item.ImageAlt}}",
            "title":"{{=item.Title}}",
            "date":"{{=item.StartDate}}{{? item.EndDate}} - {{=item.EndDate}}{{?}}",
            "location":"{{=item.Location}}",
            "__class":"card--services",
            "url":"{{=item.Link}}"
          })
        |{{~}}


      .text-center
        .container
          .row
            +button({
              "text":"Load More"
            }).load-more


  section.general-section
    .container
      +section-title({
      })
        | Promotions
    .listing.listing-section
      .container
        .row
          .listing-items-container

      script(id="promotions-listing" type="text/template" data-items-per-page=4 data-template-id="promotions-listing" data-api="api/promotions.json" class="listing-template" data-error-message="Sorry no Items Found")
        |{{~it :item:index }}
        .listing-item.col-md-3.col-sm-6.match-height-elm
          +card({
            "image":"{{=item.ImageSrc}}",
            "alt":"{{=item.ImageAlt}}",
            "title":"{{=item.Title}}",
            "type":"{{=item.Type}}",
            "date":"{{=item.StartDate}}{{? item.EndDate}} - {{=item.EndDate}}{{?}}",
            "location":"{{=item.Location}}",
            "__class":"card--promotion",
            "url":"{{=item.Link}}"
          })
        |{{~}}

      .text-center
        .container
          .row
            +button({
              "text":"Load More"
            }).load-more


  section.general-section
    .container
      +section-title({
      })
        | Facilities
    .listing.listing-section
      .container
        .row
          .listing-items-container

      script(id="facilities-listing" type="text/template" data-items-per-page=4 data-template-id="facilities-listing" data-api="api/facilities.json" class="listing-template" data-error-message="Sorry no Items Found")
        |{{~it :item:index }}
        .listing-item.col-md-3.col-sm-6.match-height-elm
          +card({
            "image":"{{=item.ImageSrc}}",
            "alt":"{{=item.ImageAlt}}",
            "title":"{{=item.Title}}",
            "description":"{{=item.Description}}",
            "location":"{{=item.Location}}",
            "__class":"card--services",
            "url":"{{=item.Link}}"
          })
        |{{~}}
      .text-center
        .container
          .row
            +button({
              "text":"Load More"
            }).load-more

  section.general-section
    .container
      +section-title({
      })
        | Services
    .listing.listing-section
      .container
        .row
          .listing-items-container


      script(id="services-listing" type="text/template" data-items-per-page=4 data-template-id="services-listing" data-api="api/services.json" class="listing-template" data-error-message="Sorry no Items Found")
        |{{~it :item:index }}
        .listing-item.col-md-3.col-sm-6.match-height-elm
          +card({
            "image":"{{=item.ImageSrc}}",
            "alt":"{{=item.ImageAlt}}",
            "title":"{{=item.Title}}",
            "description":"{{=item.Description}}",
            "location":"{{=item.Location}}",
            "__class":"card--services",
            "url":"{{=item.Link}}"
          })
        |{{~}}

      .text-center
        .container
          .row
            +button({
              "text":"Load More"
            }).load-more
