
extends ../_layouts/base-article


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Activities", "url":"/activity-listing"},{"name":"SAFRA Football Fiesta – Futsal Kakis","url":"/activity-article"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })

block content
  +content-header({
    "title":"SAFRA Football Fiesta – Futsal Kakis",
  })
  img(src="/site-images/activity/footsal.jpg" alt="article image")
  p Yearning for a game of futsal but can’t seem to find other players?
  p Join us every first Friday of the month for a friendly social futsal session to kick off the weekend!
  p Refreshing beverages will be provided.
  .table-responsive
    table
      tr
        td Venue:
        td SAFRA Tampines, Futsal Court
      tr
        td Date:
        td Apr 2019 - Mar 2020 (Every first Friday of the month)
      tr
        td Time:
        td 7pm - 9pm
      tr
        td Fees:
        td Free (SAFRA Member) <br> $5 (Guest) <br> *Price inclusive of 7% GST.
  p
    strong Registration is required.

  ul
    li h2 Terms & Conditions
    li Member's rate applicable to holder of valid SAFRA Membership card.
    li The activity is deemed confirmed, unless informed by SAFRA.
    li Please leave your contact number in case we need to inform you of any last minute change.
    li Registration can be made at the front desk of SAFRA Tampines. Daily operating hours: 9am - 9pm.
    li If you're registering through mail, please attach a cheque made payable to SAFRA.

      p Send to: <br> SAFRA Tampines <br> 1/A Tampines St 92

    li Singapore 528882
    li Registering through mail is subject to availability of vacancies at the moment of receiving.
    li Kindly produce your membership card(s) and receipt during the day of the event.
    li Photographs and Videos: SAFRA Tampines may use any photographs or videos taken during the event for publicity materials otherwise indicated by the participant in writing along with the submission of this form.
    li Request for refund shall be determined on a case-to-case basis.
  +button({
    "text":"Register now",
    "__class":"button--fill button--with-arrow"
  })
block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




