
extends ../_layouts/base


include ../_modules/atoms/button/button

include ../_modules/molecules/cta-text-bar/cta-text-bar
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/carousel-type-4/carousel-type-4
include ../_modules/molecules/card/card
include ../_modules/molecules/promo-card/promo-card
include ../_modules/molecules/carousel-banner/carousel-banner
include ../_modules/molecules/banner/banner
include ../_modules/molecules/cta-text-bar/cta-text-bar
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/social-media-grid/social-media-grid
include ../_modules/molecules/filter-bar/filter-bar
include ../_modules/molecules/range-slider-section/range-slider-section

include ../_modules/organisms/landing-banner/landing-banner

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var microsite = true
  - var micrositeClass = "microsite--fins"
  - var micrositeLogo = "/site-images/fins/logo.png"
  - var micrositeFooterLogos = [{"url":"/assets/images/safra-logo-black.svg","alt":"Safra logo"},{"url":"/site-images/fins/logo.png","alt":""}]

block content
  +carousel-banner--hero()
    .slide
      +banner-full-width-small({
        "image":{
          "url":"/site-images/fins/banner.jpg"
        }
      }).banner--medium
        +info-card({
          "title":"Kick start your journey with FINS Swim School"
        })
    .slide
      +banner-full-width-small({
        "image":{
          "url":"/site-images/fins/banner2.jpg"
        }
      }).banner--medium
        +info-card({
          "title":"Kick start your journey with FINS Swim School"
        })

  .general-section.section-blue
    .container.container-sm
      .row
        .col-md-4
          h1 About FINS Swimschool
        .col-md-8
          p FINS Swim School was established in November 2012 with SAFRA Toa Payoh as the home of its first centre.
          p With a team of professional and competent coaches, children and adults of all ages can benefit from the coaches’ vast swimming experiences. At FINS Swim School, our coaches strive to bring out the best in students by providing a comprehensive, safe and well-structured curriculum with the objective of cultivating continued development in their journey as swimmers. This is to motivate them to excel mentally and physically as an individual and as a team player both in sports and in life.

  .general-section
    .container
      .row
        .col-md-12.text-center
          h1 Locations
    .listing-section
      .container
        .row
          each item, index in site.data.energyoneLocations
            if index < 3
              .listing-item.col-md-4.match-height-elm
                +card({
                  "image":item.image,
                  "location":item.location
                }).card--normal.card--locations
                  each subitem in item.operatingHours
                    p.card__operating-hours
                      span.day=subitem.day
                      span.time=subitem.time

  .general-section
    .container
      .row
        .col-md-12.text-center
          h1 Courses
    .container
      .row
        +carousel-type-1()
          .slide.match-height-elm
            +card({
              "image":"/site-images/fins/courses1.jpg",
              "title":"Get fit with Aqua-aerobics today!",
              "description":"Aqua Aerobics is a fast rising trend as the density of the water allows for easy mobility, making it a safe and fun exercise.",
              "location":"SAFRA - Yishun",
              "date":"3 Jul 2018 - 31 Dec 2019"
            }).card--courses
          .slide.match-height-elm
            +card({
              "image":"/site-images/fins/courses2.jpg",
              "title":"Have a friendly game of futsal with fellow kakis",
              "description":"Join us every first Friday of the month for a friendly social futsal session to kick off the weekend!",
              "location":"SAFRA - Yishun",
              "date":"3 Jul 2018 - 31 Dec 2019"
            }).card--courses
          .slide.match-height-elm
            +card({
              "image":"/site-images/fins/courses3.jpg",
              "title":"Baking can be fun when it's done with family",
              "description":"Let your kids have fun while learning to bake and nurture their creativity!",
              "location":"SAFRA - Yishun",
              "date":"3 Jul 2018 - 31 Dec 2019"
            }).card--courses
          .slide.match-height-elm
            +card({
              "image":"/site-images/fins/courses1.jpg",
              "title":"Get fit with Aqua-aerobics today!",
              "description":"Aqua Aerobics is a fast rising trend as the density of the water allows for easy mobility, making it a safe and fun exercise.",
              "location":"SAFRA - Yishun",
              "date":"3 Jul 2018 - 31 Dec 2019"
            }).card--courses
  .general-section.section-blue
    +range-slider-section()

  .general-section
    .container
      .row
        .col-md-12.text-center
          h1 Promotions
        .col-md-12
          +carousel-banner--hero()
            .slide.padding-eq-l
              .container.container-sm
                +card--normal({
                  "image":"/site-images/fins/promo.jpeg",
                  "title":"Be the first 200 new sign-ups to receives a Free TYR Junior Ranger Goggles.",
                  "date":"1 Oct 2019 - 31 Oct 2019"
                }).card--special-promo
                  br
                  +button({
                    "text":"Find out more",
                  }).button--fill

            .slide.padding-eq-l
              .container.container-sm
                +card--normal({
                  "image":"/site-images/fins/promo.jpeg",
                  "title":"Be the first 200 new sign-ups to receives a Free TYR Junior Ranger Goggles.",
                  "date":"1 Oct 2019 - 31 Oct 2019"
                }).card--special-promo
                  br
                  +button({
                    "text":"Find out more",
                  }).button--fill

            .slide.padding-eq-l
              .container.container-sm
                +card--normal({
                  "image":"/site-images/fins/promo.jpeg",
                  "title":"Be the first 200 new sign-ups to receives a Free TYR Junior Ranger Goggles.",
                  "date":"1 Oct 2019 - 31 Oct 2019"
                }).card--special-promo
                  br
                  +button({
                    "text":"Find out more",
                  }).button--fill




  +banner-featured({
    "image":{
      "url":"/site-images/fins/promobanner.jpeg",
      "alt":"banner image"
    }
  })
    .row
      .col-md-4.col-md-6
        h2 Register Interest for FINS Aquatic Programs
        +button({
          "text":"Find out more",
          "__class":"button--fill"
        })