mixin price-compare-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .price-compare-card(class=spec.__class)&attributes(attributes)
    .price-compare-items
      .pricing-item.match-height-section.pricing-item--orange
        .pricing-item__title
          p Kidz Amaze Member
        .pricing-item__saving.match-height-elm
          p <span class="text-medium">Save up to</span><span class="text-large">$210</span> when you book party rooms
        .pricing-item__price
          p $585
        .pricing-item__features
          ul
            li.available Earn SAFRAPOINTS at participating outlets
            li.available Member discount
      .pricing-item.match-height-section
        .pricing-item__title
          p Safra Member
        .pricing-item__saving.match-height-elm
          p <span class="text-medium">Save up to</span><span class="text-large">$155</span> when you book party rooms
        .pricing-item__price
          p $640
        .pricing-item__features
          ul
            li.available Earn SAFRAPOINTS at participating outlets
            li.available Member discount
      .pricing-item.match-height-section
        .pricing-item__title
          p Non Member
        .pricing-item__saving.match-height-elm
          p <span class="text-large">N.A</span>
        .pricing-item__price
          p $795
        .pricing-item__features
          ul
            li Earn SAFRAPOINTS at participating outlets
            li Member discount