//price-compare-card styles
.price-compare-card {
  background-color: white;
  .price-compare-items {
    display: flex;
    justify-content: center;
    background-color: white;
    @include mobile {
      display: block;
    }
  }
  .pricing-item {
    background-color: white;
    padding: 30px 30px;
    max-width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    @include mobile {
      max-width: 400px;
      margin: 20px auto;
    }
    &__title {
      font-size: calc-em(28px);
      text-align: center;
    }
    &__saving {
      font-size: calc-em(22px);
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .text-medium {
        font-size: 1.5em;
        display: block;
      }
      .text-large {
        font-size: 2.5em;
        display: block;
      }
    }
    &__price {
      font-size: calc-em(22px);
      text-align: center;
    }
    &__features {
      ul {
        padding: 0;
        list-style-type: none;
        li {
          position: relative;
          padding-left: 20px;
          &::before {
            content: $icomoon-close;
            font-family: $icomoon-font-family;
            font-size: 10px;
            position: absolute;
            top: 3px;
            left: 0;
          }
          &.available {
            &::before {
              content: $icomoon-checkmark;
            }
          }
        }
      }
    }
    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
    &--orange {
      background-color: $kidsAmazeOrange;
    }
  }
}
