mixin filter-bar(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filter-bar(class=spec.__class)&attributes(attributes)
    .filter-item
      label(for="persona") I am visiting..
      select#persona.custom-select(name="persona")
        option(value="all") All
        option(value="for-me-time") for me-time
        option(value="with-my-buddies") with my buddies
        option(value="with-my-partner") with my partner
        option(value="with-my-family") with my family
    .filter-item
      label(for="interest") What are you interested in
      select#interest.custom-select(name="interest")
        option(value="all") All
        option(value="events") Events
        option(value="vouchers") Vouchers
        option(value="activities") Activities
    .filter-item
      label(for="location") Whrere are you going
      select#location.custom-select(name="location")
        option(value="all") All Locations
        option(value="hq") SAFRA - HQ
        option(value="jurong") SAFRA - Jurong
        option(value="mount-faber") SAFRA - Mount Faber
        option(value="punggol") SAFRA - Punggol
        option(value="tampines") SAFRA - Tampines
        option(value="toa-payoh") SAFRA - Toa Payoh
        option(value="town-club") SAFRA - Town Club
        option(value="yishun") SAFRA - Yishun

    .filter-btn
      button(aria-role="Submit")
        i.icomoon-refresh

mixin filter-bar--personalised(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filter-bar(class=spec.__class)&attributes(attributes)
    .filter-item
      label(for="persona") I am visiting..
      select#persona.custom-select(name="persona")
        option(value="with my family") with my family
        option(value="for me-time") for me-time
        option(value="with my buddies") with my buddies
        option(value="with my partner") with my partner

    .filter-item
      label(for="interest") What are you interested in
      select#interest.custom-select(name="interest")
        option(value="All") All
        option(value="Events") Events
        option(value="Vouchers") Vouchers
        option(value="Activities") Activities
    .filter-item
      label(for="location") Whrere are you going
      select#location.custom-select(name="location")
        option(value="SAFRA - Yishun") SAFRA - Yishun
        option(value="SAFRA - Mt Faber") SAFRA - Mt Faber
        option(value="SAFRA - Jurong") SAFRA - Jurong
        option(value="SAFRA - Punggol") SAFRA - Punggol
        option(value="SAFRA - Tampines") SAFRA - Tampines
        option(value="SAFRA - Toa payoh") SAFRA - Toa payoh

    .filter-btn
      button(aria-role="Submit")
        i.icomoon-refresh

mixin filter-bar--deals(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filter-bar.filter-bar--deals(class=spec.__class)&attributes(attributes)
    .filter-bar__title
      <span class="text--grey"> GET</span> INVOLVED
    .filters
      a(href="#" data-type="button" data-value="all" data-name="interest").filter.filter--pill.active Recommended for you
      a(href="#" data-type="button" data-value="facilities" data-name="interest").filter.filter--pill Facilities
      a(href="#" data-type="button" data-value="education-enrichment" data-name="interest").filter.filter--pill Play & Enrichment
      a(href="#" data-type="button" data-value="fitness-n-leisure" data-name="interest").filter.filter--pill Fitness & Leisure
      a(href="#" data-type="button" data-value="f-n-b" data-name="interest").filter.filter--pill F & B
    .filter-dropdown
      .filter-item
        select.custom-select.filter-item.filter--select(name="interest")
          option(value="all") All
          option(value="facilities") Facilities
          option(value="education-enrichment") Play & Enrichment
          option(value="fitness-n-leisure") Fitness & Leisure
          option(value="f-n-b") F & B


mixin filter-bar--availablity(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filter-bar.filter-bar--availablity(class=spec.__class)&attributes(attributes)

    .filter-bar__content
      .filters
        .filter
          input#datepicker1.date-picker(name="date" data-id="datepicker1" placeholder="Choose a date.")
        .filter
          select#location.custom-select(name="time")
            option(value="9 AM") 9 AM
            option(value="10 AM") 10 AM
            option(value="11 AM") 11 AM
            option(value="12 PM") 12 PM
            option(value="1 PM") 1 PM
            option(value="2 PM") 2 PM
            option(value="3 PM") 3 PM
            option(value="4 PM") 4 PM
            option(value="5 PM") 5 PM
            option(value="6 PM") 6 PM
            option(value="7 PM") 7 PM
            option(value="8 PM") 8 PM
            option(value="9 PM") 9 PM
      .filter-btn
        button.button.button--fill
          span Check availablity

mixin filter-bar--slider(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filter-bar.filter-bar--slider(class=spec.__class)&attributes(attributes)
    .filter-bar__content
      .range-slider
        input.fiter(type="range" min="0" max="100" value="0" step="33.33")
        .range-slider-labels
          ul
            li Beginner
            li Intermediate
            li Advanced
            li Development/ pre-squad
    //- .filter-bar__content
    //-   .filters
    //-     .filter.active
    //-       button Beginner
    //-     .filter
    //-       button Intermediate
    //-     .filter
    //-       button Advanced
    //-     .filter
    //-       button Development/ pre-squad
    .filter-dropdown
      .filter-item
        select#location.custom-select(name="location")
          option(value="Beginner") Beginner
          option(value="Intermediate") Intermediate
          option(value="Advanced") Advanced
          option(value="Development/ pre-squad") Development/ pre-squad
