//filter-bar styles

@mixin create-filter($mainColor) {
  .filter-bar {
    &--deals {
      .filter-bar__title {
        color: $mainColor;
      }
      .filters {
        .filter {
          &.active {
            color: $mainColor;
            border: 1px solid $mainColor;
          }
          &:hover {
            color: $mainColor;
            border: 1px solid $mainColor;
          }
        }
      }
    }
  }
}

@mixin rangeThumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 0 !important;
}

@mixin rangeTrack {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: white;
}

.filter-bar {
  display: block;

  margin-bottom: 20px;
  @include desktop {
    display: flex;
    flex-grow: grow;
    border-bottom: 1px dotted #797979;
    border-width: 1px;
  }
  .filters {
    background-color: transparent;
  }
  .filter-item {
    width: 100%;
    padding: 10px 0px 0px 0px;
    @extend %clearfix;
    @include desktop {
      width: 30%;
    }

    label {
      display: block;
      color: #8b8b8b;
      font-size: calc-em(14px);
      line-height: 100%;
      letter-spacing: 0.085em;
      text-transform: uppercase;
      padding: 20px;
      @include mobile {
        padding: 20px 0px;
      }
    }
    .nice-select {
      width: 100%;
      border: none;
      border: 1px dotted #797979;
      border-radius: 0px;
      padding: 10px 20px;
      height: auto;
      font-size: calc-me(16px);
      line-height: 1.6667;

      @include desktop {
        font-size: calc-em(24px);
        border: none;
        border-right: 1px dotted #797979;
        border-radius: 0px;
      }
      .list {
        li {
          color: #8b8b8b;
          padding: 10px 20px;
          font-weight: 300;
        }
      }
    }
  }
  .filter-btn {
    width: 10%;
    display: none;
    justify-content: center;
    align-items: flex-end;
    @include desktop {
      display: flex;
    }
    button {
      border: none;
      background-color: transparent;
      padding: 10px;
      cursor: pointer;
      i {
        font-size: 30px;
      }
      &:hover {
        i {
          &::before {
            color: $red;
          }
        }
      }
    }
  }
  &--deals {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    align-items: center;
    @include mobile {
      display: block;
    }
    .filter-bar__title {
      font-size: calc-em(30px);
      /* identical to box height */
      letter-spacing: 0.265em;
      text-transform: uppercase;
      color: $red;
      font-weight: bold;
      max-width: 70%;
      @include mobile {
        max-width: 100%;
        font-size: calc-em(20px);
      }
    }
    .filters {
      padding: 10px 0px;
      display: none;
      @include desktop {
        display: block;
      }

      .filter {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: $darkGrey;
        font-weight: 500;
        margin-right: 10px;
        border: 1px solid transparent;
        &.active {
          border: 1px solid $red;
          border-radius: 50px;
          color: $red;
        }
        &:hover {
          border: 1px solid $red;
          border-radius: 50px;
          color: $red;
        }
      }
    }
    .filter-dropdown {
      @include desktop {
        display: none;
      }
    }
  }
  &--availablity {
    border-bottom: none;
    display: block;
    text-align: center;
    @include mobile {
      display: block;
    }
    .filter-bar__title {
      font-weight: bold;
      width: 100%;
    }
    .filter-bar__content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .filters {
      overflow: visible;
      padding: 10px 0px;
      display: flex !important;
      width: auto;
      height: auto;
      opacity: 1;
      transform: scale(1);
      position: relative;
      .filter {
        margin: 10px;
      }
    }
    .filter-btn {
      width: auto;
      display: block;
      button {
        background-color: $red;
        border: 1px solid $red;
        border-radius: 40px;
        padding: 10px 20px;
        margin: 10px;
        span {
          z-index: 1;
          position: relative;
        }
        &:focus {
          outline: none;
        }
        &:hover {
          span {
            color: $red;
          }
        }
      }
    }
  }
  &--slider {
    border-bottom: none;
    .filter-bar__content {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .filter-dropdown {
      display: none;
      @include mobile {
        display: block;
      }
    }
    .filter-bar__content {
      @include mobile {
        display: none;
      }
    }
    .nice-select {
      .current {
        color: black;
      }
    }
    .filters {
      display: flex;
      border: none;
      position: relative;
      padding: 60px 0px 40px 0px;
      width: 100%;
      &::before {
        content: "";
        width: 75%;
        height: 2px;
        position: absolute;
        top: 27px;
        left: 12.5%;
        background-color: white;
      }
      .filter {
        width: 25%;
        &.active {
          button {
            &::before {
              transform: translateX(-50%) scale(1.5);
            }
          }
        }
        button {
          border: none;
          background-color: transparent;
          color: white;
          position: relative;
          font-size: calc-em(20px);
          cursor: pointer;
          text-align: center;
          width: 100%;

          &:hover {
            &::before {
              transform: translateX(-50%) scale(1.5);
            }
          }
          &::before {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%) scale(1);
            transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
        }
      }
    }
  }
}

.range-slider {
  position: relative;
  width: 100%;
  display: block;
  padding: 26px 0px;
  margin: 20px 0px 40px 0px;
  .thumb {
    display: none;
  }
  input[type="range" i] {
    width: 75.8%;
    position: absolute;
    top: 2px;
    height: 0;
    margin: 30px 0px;
    -webkit-appearance: none;
    left: 0;
    right: 0;
    margin: 30px auto;
    z-index: 2;
    // Thumb
    &::-webkit-slider-thumb {
      -webkit-appearance: none; // needed again for Chrome & Safari
      @include rangeThumb;
    }

    &::-moz-range-thumb {
      @include rangeThumb;
    }

    &::-ms-thumb {
      @include rangeThumb;
    }

    // Track
    &::-webkit-slider-runnable-track {
      @include rangeTrack;
    }

    &::-moz-range-track {
      @include rangeTrack;
    }

    &::-ms-track {
      @include rangeTrack;
    }

    &:focus {
      // override outline/background on focus
      background: none;
      outline: none;
    }

    &::-ms-track {
      // A little somethin' somethin' for IE
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }

  // Labels below slider
  .range-slider-labels {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    ul {
      margin: 0px;
      padding: 0;
      list-style: none;
      display: flex;
      width: 100%;
      justify-content: center;
    }
    li {
      position: relative;
      width: 100%;
      text-align: center;
      color: white;
      cursor: pointer;
      width: 25%;
      &::before {
        position: absolute;
        top: -25px;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        width: 9px;
        height: 9px;
        background: white;
        border-radius: 50%;
      }
    }

    .active {
      color: #37adbf;
    }

    .selected::before {
      background: #37adbf;
    }

    .active.selected::before {
      display: none;
    }
  }
}

.date-picker {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $midGrey;
}

.microsite--blue {
  @include create-filter($clubBlue);
}

.microsite--red {
  @include create-filter($clubRed);
}

.microsite--orange {
  @include create-filter($clubOrange);
}

.microsite--purple {
  @include create-filter($clubPurple);
}

.microsite--lightblue {
  @include create-filter($clubLightBlue);
}

.microsite--green {
  @include create-filter($clubGreen);
}
