mixin parallax-section(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.parallax-section(class=spec.__class)&attributes(attributes)
    .bg-image
      .parallax-container
        .parallax
          img(src=spec.image alt="banner-image")
    .banner-content
      block