//full-width-banner styles
.parallax-section {
  position: relative;
  .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .parallax-container {
      position: relative;
      overflow: hidden;
      height: 100%;
      display: block;
      .parallax {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        img {
          display: block;
          opacity: 0;
          position: absolute;
          left: 50%;
          bottom: 0;
          min-width: 100%;
          min-height: 100%;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .banner-content {
    padding: 60px 0px;
    z-index: 1;
    position: relative;
  }
}
