
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"SAFRA Insurance", "url":"/insurance"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/insurance/banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"All your protection under one roof",
    })


block asideContent
  //- +side-nav({
  //-   "items":[
  //-     {
  //-       "name":"All Facilities",
  //-       "url":"#"
  //-     },
  //-     {
  //-       "name":"Indoor Air Weapons Range",
  //-       "url":"#",
  //-       "children":[
  //-         {
  //-           "name":"Membership Rates",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":" SAFRA Junior Shooting Program",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"Shooting Courses",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"Contact Us",
  //-           "url":"#"
  //-         }
  //-       ]
  //-     },
  //-     {
  //-       "name":"EnergyOne Gyms",
  //-       "url":"#",
  //-       "children":[
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         }
  //-       ]
  //-     },
  //-     {
  //-       "name":"Kidz Amaze",
  //-       "url":"#",
  //-       "children":[
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         }
  //-       ]
  //-     },
  //-     {
  //-       "name":"NutureStars Preschool",
  //-       "url":"#",
  //-       "children":[
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         }
  //-       ]
  //-     },
  //-     {
  //-       "name":"Preschool SAFRA Adventure Sports Centre (Operated by Camelot Pte Ltd)",
  //-       "url":"#",
  //-       "children":[
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         }
  //-       ]
  //-     },
  //-     {
  //-       "name":"FINS Swim School",
  //-       "url":"#",
  //-       "children":[
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         }
  //-       ]
  //-     },
  //-     {
  //-       "name":"Calendar of Events",
  //-       "url":"#",
  //-       "children":[
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         }
  //-       ]
  //-     },
  //-   ]
  //- })
  //- +contact-card()
  //-   p If you would like to find out more on anything that interest you, get in touch with us and our friendly IAWR staff will guide you through the rest.

  //-   p
  //-     | <strong>Indoor Air Weapon Range</strong> <br>
  //-     | SAFRA Yishun Country Club <br>
  //-     | 60 Yishun Avenue 4 <br>
  //-     | Singapore 769027 <br>

  //-   p General: 6852 8224
  //-   p Email: <a href="mailto:safrashootingclub@safra.sg">safrashootingclub@safra.sg</a>
  +related-links({
    "title":"Related Links",
    "cards":[
      {
        "image":"/site-images/function-room/swimming.jpeg",
        "title":"SAFRA FINS SWIM",
        "description":"Free TYR Junior Ranger Goggles for the first 200 new sign-ups",
        "url":"#"
      },
      {
        "title":"EnergyOne Gyms",
        "description":"Get the best in fitness at our EnergyOne Gyms!",
        "url":"#"
      },
      {
        "title":"Barbeque Pits",
        "description":"Got a feel to grill? Book barbeque pits online or drop by the front desk",
        "url":"#"
      }
    ]
  })

block content
  +content-header({
    "title":"SAFRA Insurance",
    "description":"Make sure your insurance coverage is adequate at all times. SAFRA has teamed up with NTUC Income and AIG Asia Pacific Insurance Pte Ltd (AIG) to provide comprehensive insurance plans to protect you and your loved ones at home and around the world."
  })
  +card({
    "image":"/site-images/insurance/insurance1.jpg",
    "title":"Event Title",
    "description":"Description efficitur nunc sed cursus dignissim. In luctus gravida interdum. Mauris tortor mi, congue et porttitor at, sodales eget odio curabitur cursus blandit felis, sed tempor nunc varius ac. Ut tincidunt nunc a leo.",
    "__class":"card--2-col"
  })
  +card({
    "image":"/site-images/insurance/insurance2.png",
    "title":"Event Title",
    "description":"Description efficitur nunc sed cursus dignissim. In luctus gravida interdum. Mauris tortor mi, congue et porttitor at, sodales eget odio curabitur cursus blandit felis, sed tempor nunc varius ac. Ut tincidunt nunc a leo.",
    "__class":"card--2-col"
  })
  +card({
    "image":"/site-images/insurance/insurance3.jpg",
    "title":"Event Title",
    "description":"Description efficitur nunc sed cursus dignissim. In luctus gravida interdum. Mauris tortor mi, congue et porttitor at, sodales eget odio curabitur cursus blandit felis, sed tempor nunc varius ac. Ut tincidunt nunc a leo.",
    "__class":"card--2-col"
  })
  +card({
    "image":"/site-images/insurance/insurance4.jpg",
    "title":"Event Title",
    "description":"Description efficitur nunc sed cursus dignissim. In luctus gravida interdum. Mauris tortor mi, congue et porttitor at, sodales eget odio curabitur cursus blandit felis, sed tempor nunc varius ac. Ut tincidunt nunc a leo.",
    "__class":"card--2-col"
  })
  +card({
    "image":"/site-images/insurance/insurance5.jpg",
    "title":"Event Title",
    "description":"Description efficitur nunc sed cursus dignissim. In luctus gravida interdum. Mauris tortor mi, congue et porttitor at, sodales eget odio curabitur cursus blandit felis, sed tempor nunc varius ac. Ut tincidunt nunc a leo.",
    "__class":"card--2-col"
  })


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })



