include ../../atoms/button/button

mixin section-title(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .section-title(class=spec.__class)&attributes(attributes)

    h1.title
      block
    .section-cta
      if spec.cta
        +button({
          "text":spec.cta.text,
          "url":spec.cta.url
        })