//section-title styles

@mixin TitleColors($mainColor) {
  .title {
    color: $mainColor;
  }
}

.section-title {
  position: relative;
  .title {
    font-size: calc-em(30px);
    /* identical to box height */
    letter-spacing: 0.265em;
    text-transform: uppercase;
    color: $red;
    max-width: 70%;
    @include mobile {
      max-width: 100%;
      font-size: calc-em(20px);
    }
    img {
      height: 100px;
      width: auto;
      display: inline-block;
      &.inline-logo {
        height: 35px;
        padding-left: 10px;
        vertical-align: middle;
        margin-top: -5px;
      }
    }
    h1 {
      margin: 0;
    }
  }
  .button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include mobile {
      display: none;
    }
  }

  &--small {
    .title {
      font-size: calc-em(26px);
      line-height: 1.3;
      @include mobile {
        max-width: 100%;
        font-size: calc-em(20px);
      }
      .text--subtitle {
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
}

.microsite--blue {
  @include TitleColors($clubBlue);
}
.microsite--red {
  @include TitleColors($clubRed);
}

.microsite--orange {
  @include TitleColors($clubOrange);
}

.microsite--purple {
  @include TitleColors($clubPurple);
}

.microsite--lightblue {
  @include TitleColors($clubLightBlue);
}

.microsite--green {
  @include TitleColors($clubGreen);
}
