
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/pagination-ajax/pagination-ajax
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/listing-card/listing-card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"About SAFRA", "url":"/about"},{"name":"Media Releases", "url":"/media-releases"}]

block topContent

block asideContent
  +side-nav({
    "items":[
      {
        "name":"SAFRA Vision",
        "url":""
      },
      {
        "name":"Key Management",
        "url":""
      },
      {
        "name":"SAFVL",
        "url":"/FAQ/energyone-membership"
      },
      {
        "name":"Vendors",
        "url":""
      },
      {
        "name":"Volunteers",
        "url":""
      },
      {
        "name":"Media Releases",
        "url":"",
        "__class":"active"
      },
      {
        "name":"IPPT in your community",
        "url":""
      },
      {
        "name":"ACCORD",
        "url":""
      }
    ]
  })

block content
  +content-header({
    "title":"Media Releases",
  })
  .listing.listing-section
    .contianer
      .row
        .listing-items-container

      .row
        .col-md-12
          +pagination-ajax()

    script(id="mediarelease-listing" type="text/template" data-items-per-page=12 data-template-id="mediarelease-listing" data-api="api/mediareleases.json" class="listing-template" data-error-message="Sorry no Items Found")
      |{{~it :item:index }}
      .listing-item
        +listing-card--media-release({
          "title":"{{=item.Title}}",
          "date":"{{=item.Date}}",
          "link":"{{=item.Link}}"
        })
      |{{~}}


block contentFooter
  +button-share()
