//e-vouchers styles
.e-vouchers {
  .app-info-card {
    display: flex;
    padding: 20px 0px;
    @include mobile {
      display: block;
    }
    .app-info-image {
      img {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 120px;
        display: block;
        margin: 20px auto;
      }
    }
    .app-info {
      padding: 0px 20px;
      p {
        margin: 0;
        padding-left: 10px;
        padding-bottom: 15px;
        &::before {
          content: "✔";
          padding-right: 10px;
        }
      }
    }
  }
  .e-voucher-list {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
  }
}
