include ../../molecules/voucher-card/voucher-card
include ../../molecules/banner/banner

mixin e-vouchers(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.e-vouchers(class=spec.__class)&attributes(attributes)
    .container
      +section-title()
        | MSAFRA<span class="text--grey"> EXCLUSIVE </span> E-VOUCHERS

      .app-info-card
        .app-info-image
          img(src="/assets/images/msafra-logo.jpeg")
        .app-info
          p.app-info-item Discover SAFRA benefits near you with our GPS enabled function.
          p.app-info-item Get exclusive treats and deals available for SAFRA members. All purchases can be collected from your preferred SAFRA club.
          p.app-info-item Stay up-to-date on carpark and swimming pool usage at your favourite SAFRA club
          a(href="https://apps.apple.com/us/app/msafra/id1172110089?ls=1")
            img(src="/assets/images/appstore-icon.jpeg" alt="app store icon")
          a(href="https://play.google.com/store/apps/details?id=com.safra.msafra&hl=en")
            img(src="/assets/images/playstore-icon.jpeg" alt="app store icon")
    .container
      +banner-featured({
        "image":{
          "url":"/site-images/energyone/featured-banner1.jpg",
          "alt":"banner image"
        }
      })
        h2 Learn More about mSAFRA
        +button({
          "text":"Download MSAFRA now",
          "url":"/msafra"
        }).button--fill
    //- .container
    //-   .e-voucher-list
    //-     +e-voucher-card({
    //-         "image":"/site-images/e-vouchers/voucher1.png",
    //-         "name":"McDonald’s Gift Certificate",
    //-         "price":{
    //-           "value":"$2.00"
    //-         }
    //-       })
    //-     +e-voucher-card({
    //-       "image":"/site-images/e-vouchers/voucher2.png",
    //-       "name":"KFC Voucher",
    //-       "price":{
    //-         "value":"$5.00"
    //-       }
    //-     })
    //-     +e-voucher-card({
    //-       "image":"/site-images/e-vouchers/voucher3.png",
    //-       "name":"SAFRA’s Reward Voucher",
    //-       "status":"Coming Soon",
    //-       "price":{
    //-         "value":"$10.00"
    //-       }
    //-     })
    //- .container
    //-   .row
    //-     .col-md-12.text-center.padding-m
    //-       +button({
    //-         "text":"Download MSAFRA now",
    //-         "url":"/msafra"
    //-       })