/* hind-300 - latin */

@import "../_icomoon/style.scss";

$font-path: "/assets/fonts/";

@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 200;
  src: url("#{$font-path}MyriadPro-Light.woff"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}MYRIADPRO-REGULAR.woff"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path}MYRIADPRO-SEMIBOLD.woff"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 600;
  src: url("#{$font-path}MYRIADPRO-BOLD.woff"); /* IE9 Compat Modes */
}

// /* hind-regular - latin */
// @font-face {
//   font-family: 'Hind';
//   font-style: normal;
//   font-weight: 400;
//   src: url('#{$icon-font-path}hind-v9-latin-regular.eot'); /* IE9 Compat Modes */
//   src: local('Hind Regular'), local('Hind-Regular'),
//        url('#{$icon-font-path}hind-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$icon-font-path}hind-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//        url('#{$icon-font-path}hind-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
//        url('#{$icon-font-path}hind-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//        url('#{$icon-font-path}hind-v9-latin-regular.svg#Hind') format('svg'); /* Legacy iOS */
// }
// /* hind-500 - latin */
// @font-face {
//   font-family: 'Hind';
//   font-style: normal;
//   font-weight: 500;
//   src: url('#{$icon-font-path}hind-v9-latin-500.eot'); /* IE9 Compat Modes */
//   src: local('Hind Medium'), local('Hind-Medium'),
//        url('#{$icon-font-path}hind-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$icon-font-path}hind-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
//        url('#{$icon-font-path}hind-v9-latin-500.woff') format('woff'), /* Modern Browsers */
//        url('#{$icon-font-path}hind-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
//        url('#{$icon-font-path}hind-v9-latin-500.svg#Hind') format('svg'); /* Legacy iOS */
// }
// /* hind-600 - latin */
// @font-face {
//   font-family: 'Hind';
//   font-style: normal;
//   font-weight: 600;
//   src: url('#{$icon-font-path}hind-v9-latin-600.eot'); /* IE9 Compat Modes */
//   src: local('Hind SemiBold'), local('Hind-SemiBold'),
//        url('#{$icon-font-path}hind-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$icon-font-path}hind-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
//        url('#{$icon-font-path}hind-v9-latin-600.woff') format('woff'), /* Modern Browsers */
//        url('#{$icon-font-path}hind-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
//        url('#{$icon-font-path}hind-v9-latin-600.svg#Hind') format('svg'); /* Legacy iOS */
// }
// /* hind-700 - latin */
// @font-face {
//   font-family: 'Hind';
//   font-style: normal;
//   font-weight: 700;
//   src: url('#{$icon-font-path}hind-v9-latin-700.eot'); /* IE9 Compat Modes */
//   src: local('Hind Bold'), local('Hind-Bold'),
//        url('#{$icon-font-path}hind-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('#{$icon-font-path}hind-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
//        url('#{$icon-font-path}hind-v9-latin-700.woff') format('woff'), /* Modern Browsers */
//        url('#{$icon-font-path}hind-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
//        url('#{$icon-font-path}hind-v9-latin-700.svg#Hind') format('svg'); /* Legacy iOS */
// }
