/* =====================
Layout
===================== */
%vh {
  @include visuallyhidden();
}

%clearfix {
  @include clearfix();
}

%container {
  @extend %clearfix;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

%container-lg {
  @extend %container;
}

%list-unstyled {
  @include normalise-list;
}

.clearfix {
  @extend %clearfix;
}

.container {
  @extend %container;
  max-width: $bpXLgDesktop;
}

.container-lg {
  @extend %container-lg;
  max-width: $bpXLgDesktop;
}

.container-sm {
  @extend %container-lg;
  max-width: 1140px;
}

.container-xs {
  @extend %container-lg;
  max-width: 900px;
}

.vh,
.sr-only {
  @extend %vh;
}

.general-section {
  padding: 40px 0px 40px 0px;
}

.img-responsive {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  width: 100%;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.row {
  @extend %clearfix;
  margin: 0 -15px;
}

.reverse-col {
  [class^="col-"],
  [class*=" col-"] {
    float: right;
  }
}

[class^="col-"],
[class*=" col-"] {
  float: left;
  width: 100%;
  padding: 0 15px;
}

[class^="col-offset-"],
[class*=" col-offset-"] {
  margin: auto;
}

.col-flex {
  display: flex;
  flex-wrap: wrap;
  &__space-between {
    justify-content: space-between;
    align-items: center;
  }
  &__center {
    justify-content: center;
  }
}

.col-center {
  text-align: center;
  [class^="col-"],
  [class*=" col-"] {
    display: inline-block;
  }
}

.tablet-only {
  display: none;
}

.desktop-only {
  display: none;
}

.align-left {
  // display: inline-block;
  float: left;
  clear: both;
  margin: 20px 20px 20px 0px !important;
}

.align-right {
  // display: inline-block;
  float: right;
  clear: both;
  margin: 20px 0px 20px 20px !important;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    width: (100% / 12 * $i);
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .padding-right-40 {
    padding-right: 40px !important;
  }

  .padding-s {
    padding: 10px 20px;
  }

  .padding-m {
    padding: 20px 20px;
  }

  .padding-l {
    padding: 50px 20px;
  }

  .padding-eq-l {
    padding: 30px 30px;
    @include mobile {
      padding: 30px 0px;
    }
  }

  .col-offset-xs-#{$i} {
    margin-left: (100% / 12 * $i);
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .no-mobile {
    display: none;
  }
}

@media only screen and (min-width: $bpTablet) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: (100% / 12 * $i);
    }

    .col-offset-sm-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }

  .mobile-only {
    display: none;
  }
}

@media only screen and (min-width: $bpTablet) and (max-width: $bpDesktop - 1) {
  .tablet-only {
    display: block;
  }

  .no-tablet {
    display: none;
  }
}

@media only screen and (min-width: $bpDesktop) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: (100% / 12 * $i);
    }

    .col-offset-md-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }

  .desktop-only {
    display: block;
  }

  .no-desktop {
    display: none;
  }
}

@media only screen and (min-width: $bpLgDesktop) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: (100% / 12 * $i);
    }

    .col-offset-lg-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }
}

.content {
  &--vertical-center {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
