// .section-title {
//   font-size: calc-em(28px);
//   font-weight: 600;
//   display: block;
//   margin: 0;
//   padding: 15px 0px;
//   position: relative;
//   &::before {
//     content: '';
//     width: 40px;
//     height: 3px;
//     background-color: $red;
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
//   @include tablet {
//     font-size: calc-em(32px);
//   }

//   @include desktop {
//     font-size: calc-em(40px);
//   }
// }

.text--title {
  font-size: calc-em(30px);
  line-height: 36px;

  letter-spacing: 0.265em;
  text-transform: uppercase;
}

.text--large {
  font-size: calc-em(20px);
}

.text--title-small {
  max-width: 600px;
}

.text--align-center {
  margin: 0.67em auto;
}

.text--subtitle {
  font-size: calc-em(14px);
  line-height: 100%;
  /* or 14px */
  letter-spacing: 0.485em;
  text-transform: uppercase;
}

.text--center {
  text-align: center;
}

.text--white {
  color: white;
}
.text--red {
  color: $red;
}
.text--grey {
  color: $grey;
}

.text--black {
  color: $darkGrey;
}

.text--green {
  color: $green;
}

.subtitle {
  font-size: calc-em(21px);
  line-height: 1.5;
  letter-spacing: 0.185em;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.65);
}

.text--title-with-underline {
  border-bottom: 1px solid $midGrey;
  padding-bottom: 20px;
}
