/* Breakpoints */
$bpMobile: 320px;
$bpLgMobile: 450px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpXLgDesktop: 1366px;

/* Font Weight */
$base-fontsize: 16px;
$base-lineheight: 1.2;
$thin: 100;
$light: 200; // avenir-light
$book: 300; // avenir-book
$roman: 400; // avenir-roman
$medium: 500; // avenir-medium
$heavy: 700; // avenir-heavy
$black: 900; // avenir-black

/* Colors */

$lightGrey: #fbfbfb;
$mediumGrey: #e3e3e3;
$grey: #c2c2c2;
$darkGrey: #333333;
$midGrey: rgb(212, 212, 212);
$red: #eb003f;
$redTransparent: rgba(202, 33, 38, 0.85);
$cardGradient: linear-gradient(
  360deg,
  #000000 1.42%,
  rgba(255, 255, 255, 0) 100%
);
$orange: #ff8703;
$purple: #b519ff;
$yellow: #f8ce46;
$darkerBlue: #06038d;
$darkGreen: #006747;

$yellowEnergyOne: #dac009;

$darkRed: rgb(177, 0, 47);

$facebook: #17309e;
$twitter: #00b7ec;
$linkedin: #2a61ab;
$youtube: #cc181e;
$instagram: #d62976;

$blue: #1bb1ec;
$darkBlue: #0f93c7;
$green: #4da269;

$clubBlue: #0772b9;
$clubRed: #da291c;
$clubPurple: #702f8a;
$clubOrange: #ea7600;
$clubLightBlue: #00b0b9;
$clubGreen: #64a70b;

$kidsAmazeGreen: #4ea66b;
$kidsAmazeBlue: #6ababe;
$kidsAmazeOrange: #eda842;
$kidsAmazeRed: #cd3537;

$finsBlue: #21457f;

$legendDarkGreen: #008c7b;
$legendGreen: #44c6ae;
$legendYellow: #fad67c;
$legendRed: #d95061;

$secondaryPink: #b519ff;
$secondaryOrange: #ff8703;
$secondaryGreen: #1eb31e;

/* Expo */
$easeInOutExpo: cubic-bezier(0.75, 0, 0, 0.75);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

/* Shadow */
$cardShadow: 0px 3px 12px 0 transparentize(#000, 0.88),
  0 0 2px 0 transparentize(#000, 0.92);
$cardShadowHover: 0px 3px 16px 0 transparentize(#000, 0.75),
  0 0 3px 0 transparentize(#000, 0.76);
$buttonShadow: 2px 2px 10px 0 transparentize(#000, 0.85);
$buttonShadowHover: 4px 4px 16px 0 transparentize(#000, 0.66);
// $bannerGradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.9%, rgba(0, 0, 0, 0.7) 69.25%, rgba(0, 0, 0, 0.7) 100%);
$bannerGradient: linear-gradient(
  top,
  rgba(0, 0, 0, 0) 5%,
  rgba(0, 0, 0, 0.6) 70%,
  rgba(0, 0, 0, 0.7) 100%
);
