//Normalize styles
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@import "../../node_modules/normalize.css/normalize";

@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/jquery-nice-select/scss/nice-select.scss";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "../../node_modules/pikaday/scss/pikaday.scss";

@import "./_variables";
@import "./_mixins";
@import "./_fonts";
@import "./_helpers";
@import "./_typography";

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "MyriadPro", sans-serif;
  font-style: normal;
  font-weight: 300;
  p {
    line-height: 1.5;
  }
  span {
    line-height: 1.5;
  }
  li {
    line-height: 1.5;
  }

  table {
    border-collapse: collapse;
    td {
      border: 1px solid $midGrey;
      padding: 10px 20px;
    }
  }
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-not-found {
  padding-top: 40px;
  img {
    max-width: 300px !important;
    height: auto;
  }
  p {
    font-size: calc-em(24px);
  }
}

.site-wrapper {
  padding-bottom: 0px;

  overflow-x: hidden;
  max-width: 100%;
}

.section-with-aside {
  .aside-wrapper {
    background-color: $lightGrey;
    padding: 30px;
  }
  .content-wrapper {
    padding: 30px;
    [class^="col-"],
    [class*=" col-"] {
      float: left;
    }
  }
  .content-footer {
    border-top: 1px solid $midGrey;
    padding: 30px 0px;
    margin-top: 40px;
  }
}

.page-scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  height: 2px;
  background-color: black;
  z-index: 1001;
  transition: all 0.3s linear;
}

.table--responsive {
  max-width: 100%;
  overflow: auto;
}

.nice-select {
  .list {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

.section-white {
  padding: 60px 0px;
  background-color: $lightGrey;
}

.section-grey {
  padding: 60px 0px;
  background-color: $lightGrey;
}

.section-red {
  padding: 60px 0px;
  background-color: $red;
}

.section-orange {
  padding: 60px 0px;
  background-color: $orange;
}

.section-yellow {
  padding: 60px 0px;
  background-color: $yellow;
}

.section-black {
  padding: 60px 0px;
  background-color: black;
  color: white;
}

.section-dark-grey {
  padding: 60px 0px;
  background-color: #2e2e2e;
}

.section-green {
  padding: 60px 0px;
  background-color: $green;
}

.section-blue {
  padding: 60px 0px;
  background-color: $blue;
}

.microsite--kids-amaze {
  .section-green {
    background-color: $kidsAmazeGreen;
  }

  .section-blue {
    background-color: $kidsAmazeBlue;
  }
}

.microsite--fins {
  .section-blue {
    background-color: $finsBlue;
    color: white;
  }
}

// ::-webkit-scrollbar {
//   width: 8px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: rgba(0, 0, 0, 0.1);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $red;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $red;
// }

// @import "../_modules/button/button";
@import "../_modules/atoms/rte/rte";
@import "../_modules/atoms/section-title/section-title";
@import "../_modules/atoms/button/button";
@import "../_modules/atoms/breadcrumb/breadcrumb";
@import "../_modules/atoms/content-header/content-header";

@import "../_modules/molecules/header-top/header-top";
@import "../_modules/molecules/site-nav/site-nav";
@import "../_modules/molecules/mobile-nav/mobile-nav";
@import "../_modules/molecules/mega-menu/mega-menu";
@import "../_modules/molecules/site-search/site-search";
@import "../_modules/molecules/notification/notification";
@import "../_modules/molecules/banner/banner";
@import "../_modules/molecules/cta-card/cta-card";
@import "../_modules/molecules/card/card";
@import "../_modules/molecules/card-carousel/card-carousel";
@import "../_modules/molecules/carousel-type-1/carousel-type-1";
@import "../_modules/molecules/carousel-type-2/carousel-type-2";
@import "../_modules/molecules/carousel-type-3/carousel-type-3";
@import "../_modules/molecules/carousel-type-4/carousel-type-4";
@import "../_modules/molecules/carousel-banner/carousel-banner";
@import "../_modules/molecules/parallax-section/parallax-section";
@import "../_modules/molecules/filter-bar/filter-bar";
@import "../_modules/molecules/icon-card/icon-card";
@import "../_modules/molecules/voucher-card/voucher-card";
@import "../_modules/molecules/info-card/info-card";
@import "../_modules/molecules/contact-card/contact-card";
@import "../_modules/molecules/related-links/related-links";
@import "../_modules/molecules/multi-step-form/multi-step-form";
@import "../_modules/molecules/side-nav/side-nav";
@import "../_modules/molecules/filter/filter";
@import "../_modules/molecules/pagination/pagination";
@import "../_modules/molecules/photo-gallery/photo-gallery";
@import "../_modules/molecules/listing-card/listing-card";
@import "../_modules/molecules/accordion/accordion";
@import "../_modules/molecules/form/form";
@import "../_modules/molecules/faq-cta/faq-cta";
@import "../_modules/molecules/cta-banner/cta-banner";
@import "../_modules/molecules/app-intro-section/app-intro-section";
@import "../_modules/molecules/cta-text-bar/cta-text-bar";
@import "../_modules/molecules/social-media-grid/social-media-grid";
@import "../_modules/molecules/price-compare-card/price-compare-card";
@import "../_modules/molecules/video-card/video-card";
@import "../_modules/molecules/range-slider-section/range-slider-section";
@import "../_modules/molecules/cookie-message/cookie-message";
@import "../_modules/molecules/location-notification/location-notification";
@import "../_modules/molecules/listing-sorter/listing-sorter";

@import "../_modules/organisms/site-header/site-header";
@import "../_modules/organisms/site-footer/site-footer";
@import "../_modules/organisms/landing-banner/landing-banner";
@import "../_modules/organisms/listing-section/listing-section";
@import "../_modules/organisms/recommendation-section/recommendation-section";
@import "../_modules/organisms/tabbed-content/tabbed-content";
@import "../_modules/organisms/whatson-section/whatson-section";
@import "../_modules/organisms/explore-safra/explore-safra";
@import "../_modules/organisms/treats-and-deals/treats-and-deals";
@import "../_modules/organisms/perks/perks";
@import "../_modules/organisms/benefits-and-promotion/benefits-and-promotion";
@import "../_modules/organisms/nsman/nsman";
@import "../_modules/organisms/interest-groups/interest-groups";
@import "../_modules/organisms/e-vouchers/e-vouchers";
@import "../_modules/organisms/club-deals/club-deals";
@import "../_modules/organisms/club-facilities/club-facilities";
@import "../_modules/organisms/calendar-listing/calendar-listing";
@import "../_modules/organisms/feed-customizer/feed-customizer";
