//whatson-section styles
.whatson-section {
  .slide {
    padding: 20px;
  }
  .overflow-carousel {
    display: block;
    position: relative;
    @extend %clearfix;

    .carousel-info,
    .carousel-wrapper {
      float: left;
    }
    .carousel-info {
      width: 100%;
      height: 100%;
      padding: 0px 20px;
      position: relative;
      @include desktop {
        width: 40%;
      }
    }
    .carousel-wrapper {
      width: 100%;
      height: 100%;

      // .slide {
      //   width: 60% !important;
      // }

      &.is-empty {
        .carousel-nav {
          display: none;
        }
      }

      @include desktop {
        width: 60%;
      }
      .card {
        @include desktop {
          width: 350px;
        }
      }
    }
  }

  .carousel-slider {
    > h2 {
      color: #fff;
      padding: 0 20px;
    }
  }

  .filter-buttons {
    padding: 20px;
    margin-top: 20px;
    .button {
      margin-right: 20px;
    }
  }
  .carousel-nav {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 50;
    margin-left: -10px;
    @include desktop {
      width: 20%;
      justify-content: flex-start;
    }
    @include tablet {
      left: 10px;
      bottom: 30%;
    }
    @include mobile {
      display: flex;
      left: 10px;
      bottom: 30%;
    }

    .prev-arrow,
    .next-arrow {
      display: block;
      border: 1px solid white;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      padding: 10px 12px;
      color: $red;
      margin: 10px;
      font-size: calc-em(20px);
      cursor: pointer;
      @include desktop {
        background-color: transparent;
        color: white;
        &:hover {
          background-color: $red;
          color: white;
        }
      }
      &:hover {
        background-color: white;
        color: $red;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .overflow-carousel {
    margin-left: calc((100% - #{$bpDesktop}) / 2);
  }
}

@media only screen and (min-width: $bpXLgDesktop) {
  .overflow-carousel {
    margin-left: calc((100% - #{$bpXLgDesktop}) / 2);
  }
}
