
include ../../atoms/button/button
include ../../organisms/tabbed-content/tabbed-content
include ../../molecules/parallax-section/parallax-section

mixin whatson-section(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.whatson-section(class=spec.__class)&attributes(attributes)
    +parallax-section({
      "image":"/site-images/whatson/parallax-bg.jpeg"
    })
      .overflow-carousel
        .carousel-info.match-height-item
          .content--vertical-center
            .content
              h1.text--title.text--white What’s On
              p.text--white 6 Clubs Islandwide Offering A Host Of Activities. You’ll Never Be Bored Again!
              +button({
                "text":"See all events",
                "url":"/event-listing",
                "__class": "button--white"
              })

        .carousel-wrapper.match-height-item
          .filter-buttons
            +button({
              "text":"This week",
              "url":"#",
              "__class":"button--white active"
            }).btn-currentweek
            +button({
              "text":"This month",
              "url":"#",
              "__class":"button--white"
            }).btn-currentmonth
          .carousel-nav
            button.prev-arrow
              i.icomoon-arrow-prev
            button.next-arrow
              i.icomoon-arrow-next
          .card-carousel.ajax-carousel-type-3
            .carousel-slider
    script(id="whats-on" type="text/template" data-template-id="whats-on" data-api="/api/whatson.json" class="listing-template" data-error-message="Sorry no Items Found")
      |{{~it :item:index }}
      .slide.match-height-elm
        +card({
          "image":"{{=item.ImageSrc}}",
          "title":"{{=item.Title}}",
          "date":"{{=item.StartDate}}{{? item.EndDate}} - {{=item.EndDate}}{{?}}",
          "location":"{{=item.Location}}",
          "__class":"card--event",
          "url":"{{=item.Link}}"
        })
      |{{~}}