
extends ../../_layouts/base-inner

include ../../_modules/atoms/button/button

include ../../_modules/atoms/content-header/content-header

include ../../_modules/molecules/side-nav/side-nav
include ../../_modules/molecules/accordion/accordion


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"FAQ", "url":"/faq"},{"name":"EnergyOne Membership","url":"/FAQ/energyone-membership"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })


block asideContent
  +side-nav({
    "items":[
      {
        "name":"General Information",
        "url":"/FAQ/general-information"
      },
      {
        "name":"Browser Compatibility",
        "url":"/FAQ/browser-compatibility"
      },
      {
        "name":"SAFRA Membership",
        "url":"/FAQ/safra-membership",
        "__class":"active"
      },
      {
        "name":"EnergyOne Membership",
        "url":"/FAQ/energyone-membership"
      }
    ]
  })


block content
  +content-header({
    "title":"Frequently Asked Questions - Browser Compatibility",
  })
  +accordion({
    "title":"How do I sign up for EnergyOne?"
  })
    p To sign up for gym membership, please visit our EnergyOne gyms at any SAFRA club and approach our friendly staff at the service counters. Please bring along your NRIC and SAFRA Membership Card (if applicable) for verification purposes.

  +accordion({
    "title":"When will I receive my new EnergyOne Membership Card?"
  })
    p You will receive your new EnergyOne Membership Card within one month after your application is confirmed.

  +accordion({
    "title":"Can my wife, who is a SAFRA Dependent Member, join EnergyOne?"
  })
    p Yes, of course! We welcome your family to join us at EnergyOne. Read more about the membership types here.

  +accordion({
    "title":"My son is 15 years old. Can he join EnergyOne?"
  })
    p We regret that the minimum age for EnergyOne gym membership and its usage is 16 years old. This is part of our safety regulations. However, your son can still access a host of other sports facilities at SAFRA. Please click here for more info.

  +accordion({
    "title":"EnergyOne Membership: Cancellations, waivers and suspensions"
  })
    p How do I cancel my EnergyOne Membership?
    p Please visit any of our EnergyOne service counters to obtain and complete the membership termination request form. You can also email the membership termination request form to EnergyOne@safra.sg to cancel your membership.

  +accordion({
    "title":"I am unable to use the gym for a period of time. Can I suspend my membership and for how long?"
  })
    p A waiver can be granted for In-Camp Training (at least 14 days) or medical conditions (e.g. hospitalisation, surgery or major illness). A waiver application form must be submitted together with the supporting documents. The membership will be waived in accordance to the indicated dates upon approval. Please visit any of our EnergyOne service counters to obtain and complete the waiver application form.

    p Please visit any of our EnergyOne service counters to get a copy of the waiver application form. You can also email the waiver application form to EnergyOne@safra.sg. Other terms and conditions apply.

  +accordion({
    "title":"I am travelling for business. What are the conditions to qualify me for a waiver of my EnergyOne membership?"
  })
    p EnergyOne Members who are going overseas for study or job assignment for 2 months and more may apply for absent membership. An absent membership application form must be submitted together with the supporting documents at least two weeks prior to the effective date. An administrative fee of $3.20 (including GST) per month will apply for the full period of absence.

    p Please submit your completed application form together with the relevant documents at any of the EnergyOne service counters or email EnergyOne@safra.sg. Other terms and conditions apply.

  +accordion({
    "title":"I'm already a SAFRA Member. Why must I also sign up as an EnergyOne Member to enjoy the gym?"
  })
    p SAFRA’s membership fees are kept low and affordable so that as many NSmen and their families can enjoy a host of benefits, such as discounts on lifestyle offerings provided by our partnering merchants island-wide and free access to our swimming pools which most members enjoy.

    p For other niche SAFRA-managed facilities such as EnergyOne which caters to a particular segment of members, a nominal fee is charged for members who use our gyms to enjoy significantly discounted rates as compared to commercial gyms, while offering state of the art equipment. Those who do not use the gyms are also not penalised by having to bear the operational costs through a higher SAFRA membership fee structure. This allows SAFRA to keep our operations financially sustainable and members continue to enjoy benefits that meet their varied lifestyle needs.
