
extends ../_layouts/base-article


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/faq-cta/faq-cta

include ../_modules/molecules/card/card


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"404", "url":"/404"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })

block content

  .rte
    .page-not-found
      .container
        .row
          .text-center
            img(src="/assets/images/404.svg" alt="404 error image")
            p Aww snap! The page you are looking for is not found!


