//accordion styles
.accordion {
  display: block;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.08);
  margin: 30px 0px;
  &__title {
    padding: 30px 60px 30px 20px;
    position: relative;
    p {
      font-size: calc-em(23px);
      font-weight: 500;
      margin: 0;
      @include mobile {
        font-size: calc-em(20px);
      }
    }
    &::after,
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: black;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
    &.open {
      &::after {
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }
  &__content {
    display: none;
    padding: 10px 30px 30px 30px;
    border-top: 1px solid $midGrey;
  }
}
