mixin accordion(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .accordion(class=spec.__class)&attributes(attributes)
    .accordion__title
      p=spec.title
    .accordion__content
      block