mixin breadcrumb(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.breadcrumb(class=spec.__class)&attributes(attributes)
    ul
      each item in spec.items
        li
          a(href=item.url)
            span=item.name