//breadcrumb styles
.breadcrumb {
  display: block;
  background-color: $lightGrey;
  padding: 0px 20px;
  border-radius: 5px;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      padding: 10px 10px 10px 0px;
      a {
        font-size: calc-em(14px);
        text-transform: uppercase;
        font-weight: 500;
        &:hover {
          color: $red;
          text-decoration: underline;
        }
      }
      &::after {
        content: $icomoon-chevron-right;
        font-family: $icomoon-font-family;
        vertical-align: middle;
        padding-left: 10px;
      }
      &:last-child {
        &::after {
          display: none;
        }
        a {
          font-weight: bold;
          color: $red;
        }
      }
      a {
        text-decoration: none;
        color: $darkGrey;
      }
    }
  }
}
