mixin mega-menu(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .mega-menu(class=spec.__class)&attributes(attributes)

    each megamenuItem in spec.menuItems
      if megamenuItem.type == 'normal'
        .mega-menu-item.mega-menu-item--normal
          if megamenuItem.children
            ul
              each child in megamenuItem.children
                li
                  a(href=child.url)
                    span=child.name
      if megamenuItem.type == 'list'
        .mega-menu-item.mega-menu-item--list
          a.title-item(href=megamenuItem.url)
            span=megamenuItem.name
          if megamenuItem.children
            ul
              each child in megamenuItem.children
                li
                  a(href=child.url)
                    span=child.name
      if megamenuItem.type == 'featured'
        .mega-menu-item.mega-menu-item--featured
          if megamenuItem.children
            each child in megamenuItem.children
              a(href=child.url).featured-card
                img(src=child.image.url, alt=child.image.alt)
                span=child.name