//mega-menu styles

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  display: none;
  width: 100%;
  padding: 30px;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(1) rotateX(90deg);
  transform-origin: top center;
  opacity: 0;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  a {
    color: black;
  }
  @include desktop {
    display: flex;
  }
  .mega-menu-item {
    flex-grow: 1;
    padding: 0px 10px;
    a {
      color: black;
      padding: 15px 10px 15px 0px;
    }
    ul {
      display: block;
      padding: 0 20px;
    }
    li {
      list-style-type: none;
      a {
        padding: 10px 10px 10px 0px !important;
        color: black;
        font-weight: 100;
        &:hover {
          color: $red;
        }
      }
    }
    &--normal {
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 25%;
        }
      }
    }
    &--list {
      width: calc(100% / 3);
      .title-item {
        font-weight: 500;
        color: white !important;
        background-color: $red;
        border-radius: 5px;
        position: relative;
        padding-right: 50px;
        cursor: pointer;
        &::after {
          content: $icomoon-arrow-right;
          font-family: $icomoon-font-family;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:hover {
          &::after {
            transform: translateX(5px) translateY(-50%);
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        li {
          width: 50%;
        }
      }
    }

    &--featured {
      width: calc(100% / 3);
      .featured-card {
        padding: 0 !important;
        border: 1px solid #c4c4c4;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
        span {
          display: block;
          width: 100%;
          padding: 10px 50px 10px 20px;
          position: relative;
          &::after {
            content: $icomoon-arrow-right;
            font-family: $icomoon-font-family;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
