include ../../atoms/button/button

mixin location-notification(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .location-notification(class=spec.__class)&attributes(attributes)
    .notification-message
    script(id="location-message-template" type="text/template" data-template-id="location-message-template" data-api="/api/locationInfo.json" class="message-template")
      P
        | We have noticed that you are near <strong class="text--red">{{=it.name}}</strong> club, would you like to visit the club page instead?
      +button({"text":"Yes","url":"{{=it.item.Link}}"}).notification-yes
      +button({"text":"No"}).notification-no