//location-notification styles
.location-notification {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  width: 100%;
  .notification-message {
    background-color: white;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      display: block;
    }
    p {
      margin: 0;
    }
    .button {
      padding: 10px 20px;
      min-width: auto;
      margin-bottom: 0;
      margin-left: 10px;
      margin-right: 0px;
      @include mobile {
        margin-top: 5px;
        margin-left: 0;
        margin-right: 10px;
      }
    }
  }
}
