
extends ../_layouts/base-article


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/listing-card/listing-card



block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Announcements", "url":"/announcements"}]

block topContent

block content
  +content-header({
    "title":"Announcements",
  })

  h2.text--title-with-underline August 2019

  +listing-card--announcement({
    "title":"SAFRA Mount Faber Swimming Pools - Normal operations have resumed",
  })
    p Dear SAFRA Members and Guests,
    p The swimming pools at SAFRA Mount Faber have reopened. Normal operations have resumed. We sincerly apologise for the inconvenience caused earlier and thank you for your patience.
    p The Management of SAFRA
    p 11 August 2019

  h2.text--title-with-underline July 2019

  +listing-card--announcement({
    "title":"Closure of staircase to Orchid Bowl at SAFRA Yishun",
  })
    p Dear SAFRA Members and Guests,
    p Please be informed that the staircase (beside Carpark Entrance) leading to Orchid Bowl is inaccessible till further notice. For access to Orchid Bowl, please use the staircase near swimming pool.We apologise for the inconvenience and thank you for your understanding.
    p The Management of SAFRA
    p 7 July 2019

  +listing-card--announcement({
    "title":" SAFRA Toa Payoh carpark renovation works",
  })
    p Dear SAFRA Members and Guests,
    p As part of our enhancement to club facilities, SAFRA Toa Payoh will be conducting renovation works at the carpark from Mon, 8 Jul 2019 to Thu, 8 Aug 2019. The works will be carried out from 12am to 5am daily. Please be informed that parking is still available. There will be limited parking lots available during this period. We apologise for any inconvenience caused and seek your understanding.
    p The Management of SAFRA
    p 2 July 2019

block contentFooter
  +button-share()




