
extends ../_layouts/base-standard


include ../_modules/atoms/content-header/content-header
include ../_modules/molecules/card/card



block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Interest Groups", "url":"/interest-group-listing"}]

block content
  +content-header({
    "title":"Templates",
  })
  .rte
    ol
      li
        a(href="/")
          span Home
      li
        a(href="/home-personalised")
          span Home Personalised - Family
      li
        a(href="/home-couple")
          span Home Personalised - Couple
      li
        a(href="/home-nsman")
          span Home Personalised - NSman
      li
        a
          span Clubs
        ul
          li
            a(href="/club-landing")
              span SAFRA Punggol
          li
            a(href="/safra-jurong")
              span SAFRA Jurong
          li
            a(href="/safra-mtfaber")
              span SAFRA Mt Faber
          li
            a(href="/safra-tampines")
              span SAFRA Tampines
          li
            a(href="/safra-toapayoh")
              span SAFRA Toa Payoh
          li
            a(href="/safra-yishun")
              span SAFRA Yishun
      li
        a(href="/explore-safra")
          span Explore Safra
      li
        a(href="/kids-amaze")
          span Kids Amaze
      li
        a(href="/function-rooms")
          span Function Rooms
      li
        a(href="/IAWR")
          span IAWR
      li
        a(href="/energy-one")
          span EnergyOne
      li
        a(href="/nurture-stars-preschool")
          span NurtureStars
      li
        a(href="/fins")
          span FINS
      li
        a(href="/insurance")
          span Insurance
      li
        a(href="/promotions-listing")
          span Promotions Listing
      li
        a(href="/promotions-article")
          span Promotions article
      li
        a(href="/about")
          span About
      li
        a(href="/careers")
          span Career
      li
        a(href="/membership-landing")
          span Membership Landing
      li
        a(href="/cohesion-landing")
          span Cohesion Landing
      li
        a(href="/contact-us")
          span Contact Us
      li
        a(href="/feedback")
          span Feedback Page
      li
        a
          span SAFVL - IN PROGRESS
      li
        a(href="/FAQ")
          span FAQ
        ul
          li
            a(href="/FAQ/general-information")
              span General Information
          li
            a(href="/FAQ/browser-compatibility")
              span Browser Compatibility
          li
            a(href="/FAQ/safra-membership")
              span SAFRA Membership
          li
            a(href="/FAQ/energyone-membership")
              span EnergyOne Membership
      li
        a(href="/announcements")
          span Annoucements
      li
        a(href="/media-releases")
          span Media Releases
      li
        a(href="/reward-points")
          span SAFRA Rewards Points
      li
        a(href="/services-landing")
          span Services Landing
      li
        a(href="/services-listing")
          span Services Listing
      li
        a(href="/services-article")
          span Services article
      li
        a(href="/facilities-landing")
          span Facilities Landing
      li
        a(href="/facilities-listing")
          span Facilities Listing
      li
        a(href="/facilities-article")
          span Facilities article
      li
        a(href="/whatson-listing")
          span What's On
      li
        a(href="/event-article")
          span Event article
      li
        a(href="/activity-article")
          span Activity article
      li
        a(href="/cohesion-listing")
          span Cohesion Listing
      li
        a(href="/cohesion-article")
          span Cohesion article
      li
        a(href="/interest-group-listing")
          span Interest group listing
      li
        a(href="/interest-group-article")
          span Interest group Article
      li
        a(href="/msafra")
          span mSAFRA
      li
        a(href="/event-calendar")
          span Calendar of Events






