//listing-sorter styles
.listing__header {
  @include clearfix;

  .content-header {
    float: left;

    &__content {
      float: none;
      width: auto;
    }

    &__title {
      white-space: nowrap;
    }

    & + .listing-sorter {
      margin: 0 0 17px;

      @media only screen and (min-width: 480px) {
        margin: 17px 0;
      }
    }
  }
}

.listing-sorter {
  display: flex;
  align-items: center;
  margin: 17px 0;
  float: left;
  width: 100%;

  @media only screen and (min-width: 480px) {
    float: right;
    margin: 17px 0;
    width: auto;
  }

  label {
    margin: 0 18px 0 0;
  }

  .nice-select {
    float: none;
    width: 180px;
  }
}
