//card styles

@mixin CardColors($mainColor) {
  .card {
    // &__type {
    //   background-color: $mainColor;
    // }
    &--deal {
      .card__category {
        color: $mainColor;
      }
    }
    &--promotion {
      color: $red;
      &:hover {
        .card__title {
          color: $mainColor;
          text-decoration: underline;
        }
      }
    }
    &--happening {
      .card__image {
        padding-top: 75%;
        // padding-top: 85.66%;
      }
      &:hover {
        .card__title {
          color: $mainColor;
          text-decoration: underline;
        }
      }
    }
    &--article {
      &:hover {
        .card__title {
          color: $red;
          text-decoration: underline;
        }
      }
    }
  }
}

.card {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: white;
  position: relative;
  &__map {
    width: 100%;
    height: auto;
    position: relative;
    .map-container {
      height: 300px;
      width: 100%;
    }
  }
  .toggle-street-view {
    position: absolute;
    bottom: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 5px 20px;
    left: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:hover {
      background-color: $red;
      color: white;
    }
  }
  &__image {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%;
    img {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      @include objectfit-cover;
    }
  }
  &__content {
    padding: 20px 30px;
  }
  &__title-icon-wrapper {
    padding: 0px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__icon {
    img {
      @include objectfit-contain();
      height: 40px;
      width: 80px;
      padding-right: 10px;
    }
  }

  &__title {
    font-size: calc-em(20px);
    font-weight: bold;
    color: $darkGrey;
    p {
      margin: 0;
    }
  }

  &__description {
    color: $darkGrey;
  }
  &__type {
    // position: absolute;
    // top: 20px;
    // left: 20px;
    background-color: $red;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: calc-em(14px);
    display: inline-block;

    &--orange {
      background-color: $orange !important;
    }
    &--purple {
      background-color: $purple !important;
    }
    &--blue {
      background-color: $blue !important;
    }
    &--red {
      background-color: $red !important;
    }
    &--green {
      background-color: $darkGreen !important;
    }
  }
  &__category {
    font-size: calc-em(14px);
    line-height: 100%;
    /* or 14px */
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $red;
  }
  &__date {
    padding: 5px 0px 5px 40px;
    position: relative;
    &:before {
      content: $icomoon-clock;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: $darkGrey;
    }
    p {
      //background-color: $lightGrey;
      margin: 0;
      color: $darkGrey;
      font-size: calc-em(14px);
    }
  }
  &__location {
    padding: 5px 0px 5px 40px;
    position: relative;
    margin-bottom: 10px;
    &::before {
      content: $icomoon-location-path1;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: $darkGrey;
    }
    &::after {
      content: $icomoon-location-path2;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: $red;
    }
    span {
      border-radius: 30px;
      background-color: #f0f0f0;
      padding: 10px 20px;
      font-size: calc-em(12px);
      color: $darkGrey;
      display: block;
    }
  }
  &__phone {
    display: block;
    position: relative;
    padding: 5px 10px 5px 40px;
    color: black;
    text-decoration: none;
    &:hover {
      color: $red;
      text-decoration: underline;
    }
    &::before {
      content: $icomoon-phone;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: $darkGrey;
    }
  }
  &__mail {
    display: block;
    position: relative;
    padding: 5px 10px 5px 40px;
    color: black;
    text-decoration: none;
    &:hover {
      color: $red;
      text-decoration: underline;
    }
    &::before {
      content: $icomoon-mail;
      font-family: "icomoon";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: $darkGrey;
    }
  }
  &__operating-hours {
    display: flex;
    color: black;
    span {
      width: 50%;
    }
  }

  &--normal {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    .card__image {
      padding-top: 75%;
    }
    .card__content {
      padding: 20px 20px;

      p {
        margin: 0;
        padding-bottom: 10px;
      }
      .button {
        padding: 10px 20px;
        p {
          margin: 0px 0px;
          padding: 0px;
        }
      }
      .card__date {
        p {
          padding-bottom: 0px;
        }
      }
    }

    .card__title {
      font-size: calc-em(18px);
      font-weight: bold;
      color: $darkGrey;
      p {
        margin: 0;
      }
    }
    &-small {
      .card__image {
        padding-top: 56.6%;
      }
    }
  }
  &--event {
    &:hover {
      .card__title {
        color: $red;
        text-decoration: underline;
      }
    }
    .card__title {
      font-size: calc-em(14px);
      font-weight: bold;
      color: $darkGrey;
    }
  }
  &--explore {
    text-align: center;
    transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
    }
    .card__title {
      font-size: calc-em(16px);
      letter-spacing: 5%;
      text-align: center;
      margin: 0 auto;
    }
    .card__type {
      margin: 12px 0 0;
    }
    .card__content {
      text-align: center;
      padding: 8px 5px 5px 5px;
    }
    .card__location {
      padding: 0;
      margin: 0;
      &::before,
      &::after {
        display: none;
      }
      span {
        background-color: transparent;
        font-size: calc-em(14px);
        font-style: italic;
      }
    }
    @include mobile {
      border: 1px solid #dedede;
    }
  }
  &--promotion {
    .card__image {
      padding-top: 75%;
    }
    &:hover {
      .card__title {
        color: $red;
        text-decoration: underline;
      }
    }
    .card__content {
      padding: 12px 0px 20px;
    }

    .card__title {
      font-size: calc-em(22px);
      @include mobile {
        font-size: calc-em(14px);
      }
      p {
        margin: 0;
      }
    }

    .card__type {
      // left: -15px;
      // position: absolute;
      border-radius: 3px;
      margin: 16px 0 0;

      // &:after {
      //   content: "";
      //   display: block;
      //   width: 0;
      //   height: 0;
      //   border-bottom: 10px solid $darkRed;
      //   border-right: 10px solid transparent;
      //   border-left: 10px solid transparent;
      //   position: absolute;
      //   top: calc(100% - 2px);
      //   left: 2px;
      //   transform: rotate(45deg);
      // }
      &--blue {
        &::after {
          border-bottom: 10px solid $darkBlue;
        }
      }
    }
  }

  &--article {
    &:hover {
      .card__title {
        color: $red;
        text-decoration: underline;
      }
    }
    .card__image {
    }
    .card__content {
      padding: 20px 0px;
    }
    .card__title {
      font-size: calc-em(18px);
      p {
        margin: 0;
      }
    }
  }
  &--ig {
    border: 1px solid #dedede;
    transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
    }
    .card__image {
      padding-top: 75%;
    }
    .card__content {
      padding: 20px;
      @include mobile {
        padding: 10px;
      }
    }
    .card__title {
      font-size: calc-em(18px);
      @include mobile {
        font-size: calc-em(14px);
      }
      p {
        margin: 0;
      }
    }
  }
  &--happening {
    .card__content {
      padding: 10px 0px;
    }
    .card__title {
      font-size: calc-em(19px);
      padding-bottom: 15px;
      @include mobile {
        font-size: calc-em(14px);
      }
      p {
        margin: 0;
      }
    }
    .card__date {
      p {
        margin: 0;
      }
    }
    .card__type {
      margin: 16px 0 0;
    }
  }
  &--deal {
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    }
    .card__image {
      padding-top: 75%;
    }
    .card__type {
      margin: 16px 0 0 30px;
    }
    .card__title {
      font-size: calc-em(19px);
      padding-bottom: 15px;
      font-weight: 500;
      @include mobile {
        font-size: calc-em(14px);
      }
      p {
        margin: 0;
      }
    }

    .card__date {
      font-size: calc-em(14px);
    }

    .card__content {
      padding: 0 30px 20px;
    }
  }
  &--club-recommendation {
    border: 1px solid #b1b1b1;
    .card__image {
      padding-top: 75%;
    }
    .card__content {
      padding: 10px;
    }
    .card__title {
      font-size: calc-em(14px);
      padding-bottom: 15px;
      font-weight: 500;
      p {
        margin: 0;
      }
    }
    .card__date {
      font-size: calc-em(12px);
    }
  }
  &--club-facilities {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    }
    .card__image {
      width: 100%;
      height: 100%;
      min-height: 300px;
      img {
        width: 100%;
        height: 100%;
        @include objectfit-cover();
      }
    }
    .card__content {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: white;
      width: 100%;
    }
    .card__title {
      font-size: calc-em(18px);
      font-weight: 500;
      p {
        margin: 0;
      }
    }
  }
  &--services {
    &:hover {
      .card__title {
        color: $red;
        text-decoration: underline;
      }
    }
    .card__content {
      padding: 20px 0px;
      .card__title {
        font-size: calc-em(18px);
        font-weight: 500;
        padding-bottom: 10px;
        p {
          margin: 0;
        }
      }
      .card__description {
        p {
          margin: 0;
          padding: 5px 0px;
        }
      }
    }
  }

  &--2-col {
    display: flex;
    margin: 20px 0px;
    flex-grow: grow;
    @include mobile {
      display: block;
    }
    .card__image {
      height: auto;
      width: 30%;
      padding-top: 22%;
      @include mobile {
        padding-top: 75%;
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .card__content {
      width: 70%;
      padding: 0px 20px;
      @include mobile {
        width: 100%;
        padding: 20px 0px;
      }
    }
    .card__title {
      font-size: calc-em(18px);
      font-weight: 500;
      padding-bottom: 10px;
      p {
        margin: 0;
      }
    }
    .card__description {
      p {
        margin: 0;
        padding: 5px 0px;
      }
    }

    &:hover {
      .card__title,
      .card__description {
        text-decoration: underline;
      }
    }
    &-large {
      .card__image {
        width: 40%;
        padding-top: 29%;
        @include mobile {
          width: 100%;
        }
      }
      .card__content {
        width: 60%;
        height: 100%;

        position: relative;
        margin: auto 0;
        @include mobile {
          width: 100%;
        }
      }
      .card__title {
        p {
          font-size: calc-em(26px);
        }
      }
    }
  }
  &--special-promo {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 0px;
    flex-grow: grow;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    @include mobile {
      display: block;
    }
    .card__image {
      width: 30%;
      flex-grow: grow;
      padding-top: 0;
      height: auto;
      @include mobile {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
        @include objectfit-cover;
      }
    }
    .card__content {
      width: 70%;
      padding: 30px 30px;
      @include mobile {
        width: 100%;
        padding: 20px 20px;
      }
      .button {
        margin-top: 15px;
      }
    }
    .card__title {
      font-size: calc-em(30px);
      padding-bottom: 10px;
      @include mobile {
        font-size: calc-em(22px);
      }
      p {
        margin: 0;
      }
    }
  }
  &--cohesion {
    border: 1px solid #b1b1b1;
    .card__image {
      padding-top: 100%;
    }
    .card__title {
      p {
        margin: 0;
      }
    }
  }
  &--courses {
    .card__image {
      padding-top: 75%;
    }
  }
  &--club {
    border-radius: 5px;
    overflow: hidden;
    &:hover {
      .card__image {
        transform: scale(1.1);
      }
    }
    .card__image {
      height: 300px;
      transform: scale(1);
      transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
      img {
        display: block;
        @include objectfit-cover;
      }
    }
    .card__content {
      position: absolute;
      bottom: 20px;
      width: 80%;
      text-align: center;
      padding: 0;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    }
    .card__title {
      width: 100%;
      text-align: center;
    }
  }
  &--with-map {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    .card__title {
      font-size: calc-em(18px);
      @include mobile {
        font-size: calc-em(14px);
      }
      p {
        margin: 0;
      }
    }
    .card__content {
      padding: 20px 20px;
    }
  }
  &--dark {
    background-color: black;
    color: white;
    .card__location {
      span {
        background-color: $yellowEnergyOne;
        font-weight: bold;
        display: inline-block;
      }
      &::before {
        color: white;
      }
      &:after {
        color: $yellowEnergyOne;
      }
    }
    .card__operating-hours {
      color: white;
    }
  }
  &--locations {
    .card__image {
      padding-top: 56.6%;
    }
    .card__location {
      span {
        font-weight: bold;
        display: inline-block;
      }
      &::before {
        color: white;
      }
    }
  }
  &--type-event {
    .card__type {
      background-color: $secondaryPink;
    }
  }
  &--type-activity {
    .card__type {
      background-color: $secondaryOrange;
    }
  }
  &--type-course {
    .card__type {
      background-color: $secondaryGreen;
    }
  }
  &--type-services {
    .card__type {
      background-color: $blue;
    }
  }
  &--type-promotions {
    .card__type {
      background-color: $red;
    }
  }
  &--type-facilities {
    .card__type {
      background-color: $darkGreen;
    }
  }
}

.microsite--blue {
  @include CardColors($clubBlue);
}

.microsite--red {
  @include CardColors($clubRed);
}

.microsite--orange {
  @include CardColors($clubOrange);
}

.microsite--purple {
  @include CardColors($clubPurple);
}

.microsite--lightblue {
  @include CardColors($clubLightBlue);
}

.microsite--green {
  @include CardColors($clubGreen);
}
