mixin card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.url = spec.url || '#'
  - spec.alt = spec.alt || ""

  a.card(class=spec.__class href=spec.url)&attributes(attributes)
    if spec.map
      .card__map
    if spec.image
      .card__image
        img(src=spec.image alt=spec.alt)

    if spec.type
      if spec.type == 'Event'
        .card__type.card__type--orange
          span=spec.type
      else if spec.type == 'Activity'
        .card__type.card__type--purple
          span=spec.type
      else if spec.type == 'Course'
        .card__type.card__type--purple
          span=spec.type
      else if spec.type == 'Facility'
        .card__type.card__type--green
          span=spec.type
      else if spec.type == 'Members Exclusive'
        .card__type.card__type--red
          span=spec.type
      else if spec.type == 'Available to all'
        .card__type.card__type--blue
          span=spec.type
      else
        .card__type
          span=spec.type
    .card__content
      if spec.category
        .card__category
          p=spec.category
      if spec.title || spec.icon
        .card__title-icon-wrapper
          if spec.icon
            .card__icon
              img.lazyload(data-src=spec.icon alt="icon")
          if spec.title
            .card__title
              p=spec.title

      if spec.description
        .card__description
          p=spec.description
      if spec.location
        .card__location
          span=spec.location
      if spec.date
        .card__date
          p=spec.date
      block

mixin card--normal(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .card(class=spec.__class)&attributes(attributes)
    if spec.map
      .card__map(data-lat=spec.map.lat data-long=spec.map.long data-uid=spec.uid )
        .map-container(id=spec.uid)
        .toggle-street-view
          span View 360 walkthrough
    if spec.image
      .card__image
        img(src=spec.image alt=spec.alt)

    if spec.type
      if spec.type == 'Event'
        .card__type.card__type--orange
          span=spec.type
      if spec.type == 'Activity'
        .card__type.card__type--purple
          span=spec.type
      if spec.type == 'Course'
        .card__type.card__type--purple
          span=spec.type
      if spec.type == 'Facility'
        .card__type.card__type--green
          span=spec.type
      if spec.type == 'Members Exclusive'
        .card__type.card__type--red
          span=spec.type
      if spec.type == 'Available to all'
        .card__type.card__type--blue
          span=spec.type
      else
        .card__type
          span=spec.type
    .card__content

      if spec.category
        .card__category
          p=spec.category
      if spec.title || spec.icon
        .card__title-icon-wrapper
          if spec.icon
            .card__icon
              img.lazyload(data-src=spec.icon alt="icon")
          if spec.title
            .card__title
              p=spec.title

      if spec.description
        .card__description
          p=spec.description
      if spec.location
        .card__location
          span=spec.location
      if spec.phone
        - var phone = 'tel:' + spec.phone
        a(href=phone).card__phone
          span=spec.phone
      if spec.mail
        - var mail = 'mailto:' + spec.mail
        a(href=mail).card__mail
          span=spec.mail
      if spec.date
        .card__date
          p=spec.date
      block

