include ../../molecules/carousel-type-3/carousel-type-3

mixin interest-groups(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.interest-groups(class=spec.__class)&attributes(attributes)
    .container
      +section-title({
        "cta":{
          "text":"See all interest groups",
          "url":"/interest-group-listing"
        },

      })
        | <span class="text--grey">Join </span> Like-Minded <span class="text--grey"> PEOPLE </span>
    +carousel-type-3()
      each item in site.data.interestGroup
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "__class":"card--ig",
            "url":"/interest-group-article"
          })
    .container
      .row.mobile-only
        .col-md-12.text-center.padding-m
          +button({
            "text":"See all interest groups",
            "url":"/interest-group-listing"
          })