//interest-groups styles
//whatson-section styles
.interest-groups {
  .section-title {
    @include mobile {
      text-align: center;
    }
  }

  .filters {
    padding: 20px;
    margin-top: 20px;
    .button {
      margin-right: 20px;
    }
  }
}
