
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Cohesion Services", "url":"/cohesion-landing"},{"name":"Adventure","url":"/cohesion-article"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })


block asideContent
  +side-nav({
    "items":[
      {
        "name":"Sample title",
        "url":"#"
      },
      {
        "name":"Sample title",
        "url":"#"
      },
      {
        "name":"Sample title",
        "url":"#"
      },
      {
        "name":"Sample title",
        "url":"#"
      },
      {
        "name":"Sample title",
        "url":"#"
      },
      {
        "name":"Sample title",
        "url":"#"
      },
      {
        "name":"Sample title",
        "url":"#"
      },
      {
        "name":"Sample title",
        "url":"#"
      },
    ]
  })

block content
  +content-header({
    "title":"Adventure",
  })
  +card({
    "image":"/site-images/adventure1.png",
    "title":"Canopy Walk",
    "description":"Measuring a total of 100m on each tier, climbers have to negotiate four challenging sections along each rope course that offers a spectacular view of Yishun Park 15-18m off the ground! Enjoy a heart-pumping experience at the Canopy Walk now.",
    "__class":"card--2-col card--2-col-large"
  })
  +card({
    "image":"/site-images/adventure2.png",
    "title":"NAVEX Challenge",
    "description":"Are you confident in your navigation skills? Be prepared for a team-engaging competition, which includes the elements of navigational and physical challenge. Scores are taken into consideration both as an individual and as a team.",
    "__class":"card--2-col card--2-col-large"
  })
  +card({
    "image":"/site-images/adventure3.png",
    "title":"Rock Climbing & Abseiling",
    "description":"Scale new heights or abseil from SAFRA's iconic 25m rock wall. Either way, you will experience an unforgettable thrill and the exhilaration of overcoming a demanding challenge, conquering your fear of heights.",
    "__class":"card--2-col card--2-col-large"
  })
  +card({
    "image":"/site-images/adventure4.png",
    "title":"Scavenger Hunt",
    "description":"Are you ready to out-think, outpace and outlast your opponents? Get ready to explore and unearth a hidden treasure faster than the other teams. Discover more about yourself and your team members as you go on a quest to uncover the hidden treasure!",
    "__class":"card--2-col card--2-col-large"
  })


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




