include ../../atoms/section-title/section-title
include ../../molecules/carousel-type-2/carousel-type-2
include ../../molecules/filter-bar/filter-bar


mixin explore-safra(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.explore-safra(class=spec.__class )&attributes(attributes)
    .container
      +section-title({
        "cta":{
          "text":"See all",
          "url":"/explore-safra"
        }
      })
        <span class="text--grey"> Explore</span> SAFRA
    .container
      .row
        .col-md-12
          +filter-bar()
    .container
      .row
        .card-carousel.ajax-carousel-type-2
          button.prev-btn
            i.icomoon-chevron-left
          button.next-btn
            i.icomoon-chevron-right
          .loader
          .carousel-slider

    script(id="explore-safra" type="text/template" data-template-id="explore-safra" data-api="/api/explore-safra.json" class="listing-template" data-error-message="Sorry no Items Found")
      |{{~it :item:index }}
      .slide.match-height-elm
        +card({
          "image":"{{=item.ImageSrc}}",
          "title":"{{=item.Title}}",
          "type":"{{=item.Type}}",
          "location":"{{=item.Location}}",
          "__class":"card--explore {{=item.cardClass}}",
          "url":"{{=item.Link}}"
        })
      |{{~}}