include ../../atoms/section-title/section-title
include ../../molecules/card-carousel/card-carousel
include ../../molecules/voucher-card/voucher-card

mixin treats-and-deals(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.treats-and-deals(class=spec.__class)&attributes(attributes)
    .container
      +section-title({
        "cta":{
          "text":"See all vouchers",
          "url":"#"
        }
      })
        img(src="/site-images/treatsanddeals/treatsanddealslogo.svg" alt="SAFRA treats and deals logo")
    .container
      //- .row
      //-   .col-md-12
      //-     p.text--subtitle Watch out for new deals every month!
      .row
        .voucher-list
          +voucher-card({
            "image":"/site-images/treatsanddeals/toastbox.jpeg",
            "name":"Toast Box",
            "status":"Coming Soon",
            "price":{
              "text":"From",
              "value":"$14.00",
              "up":"$20"
            },
            "description":"Up to 30% off $20 Toast Box Vouchers (Sep 2019)"
          })
          +voucher-card({
            "image":"/site-images/treatsanddeals/nightsafari.png",
            "name":"Night Safari",
            "status":"Deal over",
            "price":{
              "value":"$30.00",
              "up":"$49"
            },
            "description":"$30 Adult Admission Ticket to Night Safari (U.P. $49)"
          })
          +voucher-card({
            "image":"/site-images/treatsanddeals/yakun.jpeg",
            "name":"Ya Kun Kaya Toast",
            "status":"Coming Soon",
            "price":{
              "text":"From",
              "value":"$14.00",
              "up":"$20"
            },
            "description":"Up to 30% off $20 Ya Kun Vouchers (Jul 2019)"
          })
      .row.mobile-only
        .col-md-12.text-center
          +button({
            "text":"See all vouchers",
            "url":"#"
          })
      .section-grey.no-padding.text-center
        p.padding-m.text--subtitle
          strong Watch out for new deals every month!
