extends _layouts/base

include ./_modules/molecules/notification/notification


include ./_modules/organisms/landing-banner/landing-banner
include ./_modules/organisms/recommendation-section/recommendation-section
include ./_modules/organisms/whatson-section/whatson-section
include ./_modules/organisms/explore-safra/explore-safra
include ./_modules/organisms/recommendation-section/recommendation-section
include ./_modules/organisms/benefits-and-promotion/benefits-and-promotion
include ./_modules/organisms/perks/perks
include ./_modules/organisms/interest-groups/interest-groups
include ./_modules/organisms/nsman/nsman
include ./_modules/organisms/e-vouchers/e-vouchers
include ./_modules/organisms/treats-and-deals/treats-and-deals
include ./_modules/organisms/feed-customizer/feed-customizer

block config
  - var page = 'homepage'
  - var site = htmlWebpackPlugin.options //global site data
  - var announcement = true

block content

  +notification()
  +landing-banner()
    .slide
      +banner-full-width({
        "image":{
          "url":"/site-images/main-bg.jpg"
        }
      })
        p.subtitle Find your special experience with SAFRA
        h1 Celebrate every moment at SAFRA
        +button({
          "text":"Find out more",
          "__class":""
        })
    .slide
      +banner-full-width({
        "image":{
          "url":"/site-images/persona/banner-nsman.jpeg",
          "link": "#"
        }
      })
        p.subtitle Find your special experience with SAFRA
        h1 Celebrate every moment at SAFRA
    .slide
      +banner-full-width({
        "image":{
          "url":"/site-images/persona/banner-couple.jpeg",
        }
      })
        p.subtitle Find your special experience with SAFRA
        h1 Celebrate every moment at SAFRA

  +recommendation-section({
    "content":site.data.recommendation
  })
  +explore-safra()
  +treats-and-deals()
  +perks()
  +benefits-and-promotion()
  +whatson-section()
  +interest-groups()
  +nsman()
  +e-vouchers()
  +feed-customizer()
