
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter
include ../_modules/molecules/cta-text-bar/cta-text-bar


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Events", "url":"/event-listing"},{"name":"46TH SAFRA ANNUAL GENERAL MEETING","url":"/event-article"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })
block asideContent
  +side-nav({
    "items":[
      {
        "name":"SAFRA Entrepreneurs’ Marketplace",
        "url":"/event-article",
        "__class":"active",
        "children":[
          {
            "name":"Creative Workshop Registration",
            "url":"/event-article/creative-workshop-registration"
          },
          {
            "name":"Sponsors and Partners",
            "url":"/event-article/sponsors-and-partners"
          },
          {
            "name":"To apply for a Booth",
            "url":"/event-article/to-apply-for-a-booth"
          }
        ]
      },

    ]
  })

block content
  +content-header({
    "title":"46TH SAFRA ANNUAL GENERAL MEETING",
  })
  img(src="/site-images/event1.jpg" alt="article image" style="width: 100%; height: auto;" )
  p SAFRA members and their families are invited to attend the SAFRA Annual General Meeting (AGM). Details are as follows:

  .table-responsive
    table
      tr
        td Venue:
        td SAFRA Mount Faber (Seats within the AGM hall are on first-come, first-served basis)
      tr
        td Event Date:
        td Sun, 17 Nov 2019
      tr
        td Event Time:
        td From 3pm (Registration starts at 2pm)
  br
  h2 Agenda
  ul
    li Delivery of President, SAFRA's Address
    li Adoption of the minutes of the 45th AGM
    li Adoption of the Annual Report for FY2019/2019
    li Adoption of Audited Financial Statements for FY2018/2019
    li Any other matters of which notice in writing has to be given to the General Secretary at least seven days before the meeting*.

  //- +cta-text-bar({
  //-   "items":[
  //-     {
  //-       "text":"To apply for a Booth",
  //-       "url":"#"
  //-     },
  //-     {
  //-       "text":"Creative Workshop Registration",
  //-       "url":"#"
  //-     },
  //-     {
  //-       "text":"Sponsors and Partners",
  //-       "url":"#"
  //-     },
  //-     {
  //-       "text":"List of Participating Vendors",
  //-       "url":"#"
  //-     }
  //-   ]
  //- })

  p *Notices may be sent through the SAFRA Online Feedback Portal by 10 Nov 2019.

  p The SAFRA Constitution and Minutes of the 45th AGM are available at SAFRA Online. The Annual Report FY 2018/2019 will be available from 11 Nov 2019.

  p(style="text-align: center;")
    strong
      a(href="#registration") Registration
      | &nbsp;| &nbsp;
      a(href="#hightlights") Highlights of the Day
      | &nbsp;| &nbsp;
      a(href="#gettingthere") Getting There

  h2#registration Registration
  table
    tr
      td SAFRA Members and Dependent Members
      td Free
    tr
      td Adult Guest
      td $12.80
    tr
      td Child Guest (5 - 12 years old)
      td $8.60
    tr
      td Package A (1 Adult & 1 Child)
      td $19.30
    tr
      td Package B (1 Adult & 2 Children)
      td $25.70

  p (Prices include entertainment and food. Inclusive of 7% GST.)


  +button({
    "text":"Login now to RSVP",
    "__class":"button--fill button--with-arrow"
  })

  p Alternatively, you can contact Casey Ho from SAFRA Mount Faber during office hours (Mon - Fri, 9am - 6pm) at 6377 3664 or email your particulars (name, membership ID and contact number) to mtfaberclub@safra.sg.


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




