mixin nsman(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''


  section.general-section.nsman(class=spec.__class)&attributes(attributes)
    .container
      +section-title({
        "cta":{
          "text":"See all articles",
          "url":"#"
        },

      })
        | Latest <span class="text--grey"> ON</span>
        span
          img.inline-logo(src="/site-images/nsman/nsman-logo.svg" alt="SAFRA NSMAN logo")
    .container
      .row
        .card-carousel.rss-feed-carousel
          button.prev-btn
            i.icomoon-chevron-left
          button.next-btn
            i.icomoon-chevron-right
          .carousel-slider

    script(id="nsman" type="text/template" data-template-id="nsman" data-api="/api/nsman.xml" class="listing-template" data-error-message="Sorry no Items Found")
      |{{~it :item:index }}
      .slide.match-height-elm
        +card({
          "image":"{{=item.ImageSrc}}",
          "title":"{{=item.Title}}",
          "date":"{{=item.Date}}",
          "__class":"card--article",
          "url":"{{=item.Link}}"
        })
      |{{~}}
