include ../../molecules/site-nav/site-nav
include ../../molecules/header-top/header-top
include ../../molecules/mobile-nav/mobile-nav
include ../../molecules/site-search/site-search
include ../../molecules/notification/notification
include ../../molecules/location-notification/location-notification

mixin site-header(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  header.site-header(class=spec.__class)&attributes(attributes)
    +location-notification()
    +header-top()
    +site-nav({
      "primary": spec.primary,
      "logoImage":{
        "url1":spec.logoImage.url1,
        "url2":spec.logoImage.url2,
        "alt":spec.logoImage.alt
      }
    })
    +mobile-nav({
      "primary": spec.primary,
    })
    +site-search()
    block



mixin site-header--microsite(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  header.site-header(class=spec.__class)&attributes(attributes)

    +header-top--microsite()
    +site-nav({
      "primary": spec.primary,
      "logoImage":{
        "url1":spec.logoImage.url1,
        "url2":spec.logoImage.url2,
        "alt":spec.logoImage.alt
      },
      "secondaryLogo":{
        "url1":spec.secondaryLogo.url1,
        "url2":spec.secondaryLogo.url2,
        "alt":spec.secondaryLogo.alt
      }
    })
    +mobile-nav({
      "primary": spec.primary,
    })
    +site-search()
    block