
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Careers", "url":"/careers"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/career/banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"All your protection under one roof",
    })


block asideContent
  +side-nav({
    "items":[
      {
        "name":"About SAFRA",
        "url":"/about"
      },
      {
        "name":"Careers",
        "url":"/careers"
      },
      {
        "name":"FAQs",
        "url":"/FAQ"
      },
      {
        "name":"Terms & Privacy",
        "url":"#"
      },
      {
        "name":"Feedback",
        "url":"/feedback"
      },
      {
        "name":"Contact Us",
        "url":"/contact-us"
      }
    ]
  })
block content
  +content-header({
    "title":"Careers @ SAFRA"
  })
  p We are looking for fun loving and dynamic individuals who are keen to contribute to our unique mission of bonding and engaging NSmen. With a network of 6 clubs located island wide, varied opportunities and exposure awaits you! Come join us in creating fun and engaging experiences – for yourself and our members!
  iframe(style="height: 1050px; width: 100%;" height="1700" src="https://www.jobstreet.com.sg/career/safra.htm" frameborder="0" width="100%" scrolling="yes")
block contentFooter
  +button-share()
  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




