include ../../molecules/card-carousel/card-carousel

mixin club-facilities(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.club-facilities(class=spec.__class)&attributes(attributes)
    .container
      +section-title({
        "cta":{
          "text":"See all facilities",
          "url":"/facilities-landing"
        },
        "__class":"section-title--blue"
      })
        | <span class="text--grey">Our</span> Facilities
      .facilities-slider--desktop
        .row
          +card-carousel({
            "prevArrow":"icomoon-chevron-left",
            "nextArrow":"icomoon-chevron-right"
          })
            .slide
              .slide-item.col-md-6.match-height-section
                if spec.personalised
                  +card({
                    "__class":"card--club-facilities",
                    "image":"/site-images/persona/fins.jpg",
                    "title":"FINS Swim School",
                    "icon":"/site-images/fins/logo.png",
                    "url" : "/fins"
                  })
                else
                  +card({
                    "__class":"card--club-facilities",
                    "image":"/site-images/clublanding/facility1.jpeg",
                    "title":"Splash @ Kidz Amaze",
                    "icon":"/site-images/clublanding/facility1logo.jpeg",
                    "url" : "/kids-amaze"
                  })

              .col-md-6.match-height-section
                .row
                  .slide-item.col-md-6.match-height-elm
                    +card({
                      "__class":"card--club-facilities",
                      "image":"/site-images/clublanding/facility2.jpeg",
                      "title":"EnergyOne Gym",
                      "icon":"/site-images/clublanding/facility2logo.jpeg",
                      "url" : "/energy-one"
                    })
                  .slide-item.col-md-6.match-height-elm
                    +card({
                      "__class":"card--club-facilities",
                      "image":"/site-images/clublanding/facility3.jpeg",
                      "title":"Wing Zone",
                      "icon":"/site-images/clublanding/facility3logo.png"
                    })
                  .slide-item.col-md-6.match-height-elm
                    +card({
                      "__class":"card--club-facilities",
                      "image":"/site-images/clublanding/facility4.jpeg",
                      "title":"Wing Zone",
                    })
                  .slide-item.col-md-6.match-height-elm
                    +card({
                      "__class":"card--club-facilities",
                      "image":"/site-images/clublanding/facility5.jpeg",
                      "title":"Wing Zone",
                    })
            .slide

              .slide-item.col-md-6.match-height-section
                if spec.personalised
                  +card({
                    "__class":"card--club-facilities",
                    "image":"/site-images/persona/fins.jpg",
                    "title":"FINS Swim School",
                    "icon":"/site-images/fins/logo.png",
                    "url" : "/fins"
                  })
                else
                  +card({
                    "__class":"card--club-facilities",
                    "image":"/site-images/clublanding/facility1.jpeg",
                    "title":"Splash @ Kidz Amaze",
                    "icon":"/site-images/clublanding/facility1logo.jpeg",
                    "url" : "/kids-amaze"
                  })
              .col-md-6.match-height-section
                .row
                  .slide-item.col-md-6.match-height-elm
                    +card({
                      "__class":"card--club-facilities",
                      "image":"/site-images/clublanding/facility2.jpeg",
                      "title":"EnergyOne Gym",
                      "icon":"/site-images/clublanding/facility2logo.jpeg"
                    })
                  .slide-item.col-md-6.match-height-elm
                    +card({
                      "__class":"card--club-facilities",
                      "image":"/site-images/clublanding/facility3.jpeg",
                      "title":"Wing Zone",
                      "icon":"/site-images/clublanding/facility3logo.png"
                    })
                  .slide-item.col-md-6.match-height-elm
                    +card({
                      "__class":"card--club-facilities",
                      "image":"/site-images/clublanding/facility4.jpeg",
                      "title":"Wing Zone",
                    })
                  .slide-item.col-md-6.match-height-elm
                    +card({
                      "__class":"card--club-facilities",
                      "image":"/site-images/clublanding/facility5.jpeg",
                      "title":"Wing Zone",
                    })
      .facilities-slider--mobile
        .row
          +card-carousel()
            .slide-item.match-height-elm
              +card({
                "__class":"card--club-facilities",
                "image":"/site-images/clublanding/facility2.jpeg",
                "title":"EnergyOne Gym",
                "icon":"/site-images/clublanding/facility2logo.jpeg"
              })
            .slide-item.match-height-elm
              +card({
                "__class":"card--club-facilities",
                "image":"/site-images/clublanding/facility3.jpeg",
                "title":"Wing Zone",
                "icon":"/site-images/clublanding/facility3logo.png"
              })
            .slide-item.match-height-elm
              +card({
                "__class":"card--club-facilities",
                "image":"/site-images/clublanding/facility4.jpeg",
                "title":"Wing Zone",
              })
            .slide-item.match-height-elm
              +card({
                "__class":"card--club-facilities",
                "image":"/site-images/clublanding/facility5.jpeg",
                "title":"Wing Zone",
              })
