//club-facilities styles
.club-facilities {
  .slide-item {
    padding: 10px;
  }
  .facilities-slider--desktop {
    display: none;
    @include desktop {
      display: block;
    }
  }
  .facilities-slider--mobile {
    display: block;
    @include desktop {
      display: none;
    }
  }
}
