//related-links styles

.related-links {
  background-color: white;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
  &__title {
    font-size: calc-em(20px);
    border-bottom: 1px solid $grey;
    font-weight: 500;
    background-color: $red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    p {
      margin: 0;
    }
  }

  &__cards {
    padding: 20px 20px;
  }
  .related-card {
    overflow: hidden;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $midGrey;
    display: block;
    text-decoration: none;
    color: $darkGrey;
    margin-bottom: 20px;
    &:hover {
      .related-card__content {
        .title {
          color: $red;
          text-decoration: underline;
        }
      }
    }
    &__image {
      width: 100%;
      height: 0;
      position: relative;
      padding-top: 75%;
      img {
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include objectfit-cover;
      }
    }
    &__content {
      padding: 10px 0px;
      p {
        margin: 0;
        padding-bottom: 10px;
      }
      .title {
        font-weight: 500;
      }
    }
  }
}
