mixin related-links(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .related-links(class=spec.__class)&attributes(attributes)
    .related-links__title
      p=spec.title
    .related-links__cards
      each item in spec.cards
        a(href=item.url).related-card
          if item.image
            .related-card__image
              img.lazyload(data-src=item.image alt="related item image")
          .related-card__content
            p.title=item.title
            p.description=item.description

