$btnColorMain: $red;
$btnTextColorLight: white;
$btnTextColorDark: black;

@mixin create-button($mainColor) {
  .button {
    color: $mainColor;
    border: 1px solid $mainColor;
    &::before {
      background-color: $mainColor;
    }
    &:hover {
      color: white;
    }
    &--fill {
      background-color: $mainColor;
      &::before {
        background-color: white;
      }
      &:hover {
        color: $mainColor;
      }
    }
    &--share {
      background-color: $mainColor;
      color: black;
      &:hover {
        color: black;
      }
    }
  }
}

.button {
  display: inline-block;
  padding: 15px 30px;
  color: $btnColorMain;
  border: 1px solid $btnColorMain;
  text-decoration: none;
  margin: 0;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: calc-em(16px);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-width: 150px;
  text-align: center;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 110%;
    height: 110%;
    position: absolute;
    background-color: $btnColorMain;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(-105%);
    border-radius: 50%;
    transform-origin: top left;
    z-index: 0;
  }
  &:hover {
    //background-color: $btnColorMain;
    color: white;
    &::before {
      border-radius: 0;
      transform: translateY(0%);
      opacity: 1;
    }
  }
  p {
    margin: 0;
    font-weight: 500;
    z-index: 1;
    position: relative;
  }
  &--white {
    color: white;
    border: 1px solid white;
    &::before {
      background-color: white;
    }
    &:hover {
      color: $darkGrey;
    }
    &.active {
      background-color: white;
      color: $darkGrey;
    }
  }
  &--fill {
    color: white;
    background-color: $btnColorMain;
    &::before {
      background-color: white;
    }
    &:hover {
      color: $btnColorMain;
    }
  }
  &--share {
    position: relative;
    background-color: $btnColorMain;
    color: white;
    font-weight: bold;
    letter-spacing: 0.185em;
    padding: 0;
    span {
      padding: 10px 40px 10px 20px;
      display: block;
    }
    &::before {
      background-color: white;
    }
    &:hover {
      background-color: white;
      color: $btnColorMain;
      z-index: 1;
      span {
        color: $btnColorMain;
        position: relative;
      }
    }
    i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &--small {
    position: relative;
    background-color: $btnColorMain;
    color: white;
    font-weight: bold;
    letter-spacing: 0.185em;
    padding: 10px 20px 10px 20px;
    &::before {
      background-color: white;
    }
    &:hover {
      background-color: white;
      color: $btnColorMain;
    }
    i {
      position: absolute;
      right: 20px;
    }
  }
  &--with-arrow {
    padding: 15px 50px 15px 20px;
    letter-spacing: 0.185em;
    text-transform: uppercase;

    &::after {
      content: $icomoon-arrow-next;
      font-family: $icomoon-font-family;
      position: absolute;
      right: 20px;
      top: 50%;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: translateY(-50%) translateX(0px);
    }
    &:hover {
      &::after {
        transform: translateY(-50%) translateX(5px);
      }
    }
    p {
      display: block;
    }
  }
  &--rounded {
    border-radius: 40px;
  }

  &--green {
    color: white;
    background-color: $green;
    border: 1px solid $green;
    &::before {
      background-color: white;
    }
    &:hover {
      color: $green;
    }
  }
}

.microsite--blue {
  @include create-button($clubBlue);
}

.microsite--red {
  @include create-button($clubRed);
}

.microsite--orange {
  @include create-button($clubOrange);
}

.microsite--purple {
  @include create-button($clubPurple);
}

.microsite--lightblue {
  @include create-button($clubLightBlue);
}

.microsite--green {
  @include create-button($clubGreen);
}

.microsite--energy-one {
  @include create-button($yellowEnergyOne);
  .button {
    p {
      color: black !important;
    }
    &:hover {
      p {
        color: black !important;
      }
    }
  }
}
