mixin button(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.url  = spec.url || '#'

  a.button(href=spec.url class=spec.__class)&attributes(attributes)
    p=spec.text

mixin button-share(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.url  = spec.url || '#'

  a.addthis_button_compact.button.button--share(href=spec.url class=spec.__class)&attributes(attributes)
    span SHARE
    i.icomoon-share-2