mixin voucher-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .voucher-card(class=spec.__class)&attributes(attributes)
    .voucher-card__top
      .voucher-card__image
        img.lazyload(data-src=spec.image alt="voucher image")
      .voucher-card__info
        .voucher-card__status
          span=spec.status
        .voucher-card__name
          p=spec.name
        .voucher-card__price
          if spec.price.text
            p.price-text=spec.price.text
          p.price-value=spec.price.value
            if spec.price.up
              span.price-up
                |  (U.P #{spec.price.up})
    .voucher-card__bottom
      .voucher-card__description
        p=spec.description
      .voucher-card__cta
        +button({
          "text":"Get deal"
        })


mixin e-voucher-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .voucher-card.voucher-card--e-card(class=spec.__class)&attributes(attributes)
    p.voucher-type E-Voucher
    .voucher-card__name
      p=spec.name
    .voucher-card__top
      .voucher-card__image
        img.lazyload(data-src=spec.image alt="voucher image")
      .voucher-card__info

        .voucher-card__price
          if spec.price.text
            p.price-text=spec.price.text
          p.price-value=spec.price.value
        .voucher-card__cta
          +button({
            "text":"Get deal"
          })
