//voucher-card styles

.voucher-card {
  background-image: url("/assets/images/voucher-normal.svg");
  background-position: top left;
  position: relative;
  margin: 0 auto;
  width: 330px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 330px 200px;
  padding: 30px 30px;

  &__top {
    display: flex;
    border-bottom: 1px dotted $darkGrey;
    padding-bottom: 10px;
  }
  &__image {
    width: 50%;
    height: 80px;
    img {
      display: block;
      @include objectfit-cover;
    }
  }
  &__info {
    width: 100%;
    padding: 0px 20px;
  }
  &__status {
    span {
      font-size: calc-em(10px);
      border-radius: 7px;
      background-color: $red;
      padding: 5px 20px;
      color: white;
    }
  }
  &__name {
    font-weight: bold;
    p {
      font-size: calc-em(14px);
      margin: 0;
      padding: 10px 0px 5px 0px;
    }
  }
  &__price {
    p {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }
    .price-text {
      font-size: calc-em(10px);
    }
    .price-value {
      color: $orange;
      font-size: calc-em(17px);
    }
  }
  &__bottom {
    display: flex;
    padding-top: 10px;
    align-items: center;
  }
  &__description {
    font-size: calc-em(13px);
    p {
      margin: 0;
    }
  }
  &__cta {
    .button {
      min-width: 100px;
      padding: 10px;
      font-size: calc-em(14px);
    }
  }

  &--e-card {
    background-image: url("/assets/images/e-voucher.svg");
    width: 350px;
    height: 200px;
    background-size: 350px 200px;
    background-position: top left;
    padding: 25px 20px 25px 90px;
    @include mobile {
      padding: 35px 20px 25px 80px;
      width: 310px;
      height: 20 d0px;
      background-repeat: no-repeat;
      background-size: 310px 200px;
    }
    .voucher-type {
      position: absolute;
      display: block;
      left: -12px;
      top: 72px;
      transform: rotate(-90deg);
      text-align: center;
      font-size: cacl-em(14px);
      line-height: 100%;
      /* identical to box height, or 14px */

      text-align: center;
      letter-spacing: 0.145em;
      text-transform: uppercase;

      color: #ffffff;
      @include mobile {
        top: 82px;
        left: -8px;
        font-size: calc-em(12px);
      }
    }
    .voucher-card__top {
      border-bottom: none;
    }
    .voucher-card__price {
      p {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: calc-em(25px);
        @include mobile {
          font-size: calc-em(20px);
        }
      }
    }
  }
}
