include ../../molecules/icon-card/icon-card

mixin perks(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.perks(class=spec.__class)&attributes(attributes)
    .container
      .section-title
        h1.title.text--title <span class="text--grey">Membership</span> perks
      .row
        .col-md-3.col-sm-6.col-xs-6.match-height-elm
          +icon-card({
            "image":"/site-images/perks/tickets.svg",
            "title":"SAFRA movie treats",
            "description":"FREE movie tickets to the latest blockbusters"
          })
        .col-md-3.col-sm-6.col-xs-6.match-height-elm
          +icon-card({
            "image":"/site-images/perks/facilities.svg",
            "title":"Exclusive access to Clubs facilities",
            "description":"Swimming pools, gyms & entertainment facilities"
          })
        .col-md-3.col-sm-6.col-xs-6.match-height-elm
          +icon-card({
            "image":"/site-images/perks/cart.svg",
            "title":"Exclusive benefits at over 1,800 merchant outlets",
            "description":"Earn up to 3% cash rebate at all retail shopping merchants"
          })
        .col-md-3.col-sm-6.col-xs-6.match-height-elm
          +icon-card({
            "image":"/site-images/perks/gifts.svg",
            "title":"Redemption of SAFRAPOINTS",
            "description":"A list of exciting rewards to redeem with your SAFRAPOINTS.",
            "url":"/reward-points"
          })
      .row
        .col-md-12.text--center.padding-m.cta-row
          +button({
            "text":"Find our more",
            "__class":"button--fill",
            "url":"/membership-landing"
          })