
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/icon-card/icon-card
include ../_modules/molecules/listing-card/listing-card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/accordion/accordion
include ../_modules/molecules/app-intro-section/app-intro-section


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"About SAFRA", "url":"/about"},{"name":"mSAFRA", "url":"/msafra"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/msafra/banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"SAFRA Points",
    })

block asideContent
  +side-nav({
    "items":[
      {
        "name":"General Information",
        "url":""
      },
      {
        "name":"Privileges",
        "url":""
      },
      {
        "name":"Safrapoints",
        "url":"/FAQ/energyone-membership",
        "__class":"active",
        "children":[
          {
            "name":"Overview",
            "url":""
          },
          {
            "name":"Redeem Safrapoints",
            "url":""
          },
          {
            "name":"Reward Vouchers",
            "url":""
          },
          {
            "name":"Redemption Catalogue",
            "url":""
          },
          {
            "name":"T&C",
            "url":""
          },
          {
            "name":"Partners",
            "url":""
          }
        ]
      }
    ]
  })

block content
  +content-header({
    "title":"mSAFRA",
  })

  +app-intro-section({
    "image":"/site-images/app-screen1.png"
  })
    h2 mSAFRA Mobile App: A world of privileges at your fingertips!
    p Download the mSAFRA mobile app now!
    a(href="")
      img(src="/site-images/google-play-badge.png" style="width:auto; height:40px; margin-right: 20px;")
    a(href="")
      img(src="/site-images/appstore-badge.svg")
    h2 Introducing the SAFRA e-card (beta)
    p The SAFRA e-card (beta) is an electronic version of the SAFRA membership card housed in the mSAFRA mobile app. It provides SAFRA members with greater convenience and interactivity in enjoying its lifestyle offerings.
    p Scroll down to learn more.
  h2 With a simple scan of the SAFRA e-card, members can:
  +accordion({
    "title":"Access SAFRA club facilities"
  })
    p swimming pools, EnergyOne gyms (for gym members) and games rooms
  +accordion({
    "title":"Log in instantly to self-help kiosks at all SAFRA clubs for e-services and transactions including"
  })
    p swimming pools, EnergyOne gyms (for gym members) and games rooms
    ul
      li 	Registration and renewal of SAFRA membership and Interest Group membership
      li Book facilities
      li Register for activities
      li Check and redeem SAFRAPOINTS
      li Updating personal information, Car IU and browse transaction history
  +accordion({
    "title":"Earn and redeem SAFRAPOINTS SAFRA clubs"
  })
    p Scan to earn and redeem SAFRAPOINTS instantly under the SAFRAPOINTS Rewards Programme (SRP). List of SRP participating merchants can be found at www.safra.sg/safrapoints-partners.
  +accordion({
    "title":"Flash e-card at partnering merchants* to enjoy SAFRA's perks and privileges"
  })
    p Visit www.safra.sg/indulge for full listing of merchants.
    p *Shaw Theatres will not accept SAFRA e-card until Q1 2020. In the meantime, SAFRA and MovieMax members can still enjoy their movie privileges by presenting their physical SAFRA Membership Card

  p The SAFRA e-card is available for all SAFRA principal (Ordinary/Associate) and dependant members, including SAFRA DBS cardholders. It will also reflect their membership status where applicable, for EnergyOne Gym, KidzAmaze Indoor Playground and other SAFRA Interest Groups and Micro Clubs.

  p Note: FINS Swim School and SAFRA Digital Media Club are currently not reflected and will be added in due couse.

  .row
    .col-md-4.col-sm-4.match-height-elm
      .app-image
        img(src="/site-images/appscreen2.png" alt="app screen")
    .col-md-4.col-sm-4.match-height-elm
      .app-image
        img(src="/site-images/appscreen3.png" alt="app screen")
    .col-md-4.col-sm-4.match-height-elm
      .app-image
        img(src="/site-images/appscreen4.png" alt="app screen")

  p The SAFRA e-card is also available for non-SAFRA members who are members of EnergyOne Gym, KidzAmaze Indoor Playground and SAFRA Interest Groups/Micro Clubs.

  p Guests who download the mSAFRA app and log in with their mySAFRA account will see a guest pass with a QR code only.

  p Access your SAFRA e-card now!

  .row
    .col-md-6.col-sm-6.match-height-elm
      h2.text-center Tap on 'e-card'
      .app-image
        img(src="/site-images/appscreen5.jpeg" alt="app screen")
    .col-md-6.col-sm-6.match-height-elm
      h2.text-center Scan or flash your SAFRA e-card
      .app-image
        img(src="/site-images/appscreen2.png" alt="app screen")

  p For illustration purposes only.

  p For more information about SAFRA e-card:

  +button({
    "text":"Find out more",
    "__class":"button button--with-arrow"
  })

block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




