
extends ../_layouts/base-standard


include ../_modules/atoms/content-header/content-header
include ../_modules/molecules/listing-card/listing-card
include ../_modules/molecules/carousel-banner/carousel-banner



block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Our Facilities", "url":"/facilities-landing"}, {"name":"Function Rooms", "url":"/function-rooms-landing"}]


block topContent
  +carousel-banner()
    .slide
      .carousel-banner__image
          img(src="/site-images/facilities/banner1.jpg" alt="banner image")
    .slide
      .carousel-banner__image
        img(src="/site-images/facilities/banner2.jpg" alt="banner image")


block content


  +content-header({
    "title":"Function Rooms",
  })
  .listing-section
    .row
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"SAFRA Mt Faber",
          "url":"/facilities-listing?category=function-rooms&location=safra-mt-faber"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"SAFRA Jurong",
          "url":"/facilities-listing?category=function-rooms&location=safra-jurong"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"SAFRA Punggol",
          "url":"/facilities-listing?category=function-rooms&location=safra-punggol"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"SAFRA Tampines",
          "url":"/facilities-listing?category=function-rooms&location=safra-tampines"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"SAFRA Toa Payoh",
          "url":"/facilities-listing?category=function-rooms&location=safra-toa-payoh"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"SAFRA Yishun",
          "url":"/facilities-listing?category=function-rooms&location=safra-yishun"
        })
