//video-card styles

.video-card {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 100% * (9 / 16);
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    @include objectfit-cover;
  }
  &:hover {
    &::after {
      color: $red;
      transform: scale(1.1) translate(-50%, -50%);
    }
  }
  &::after {
    content: $icomoon-play;
    font-family: $icomoon-font-family;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
