mixin video-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.video-card(class=spec.__class data-fancybox="" href=spec.url)&attributes(attributes)
    img(src=spec.image)
