include ../../molecules/card/card

mixin club-services(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.club-services(class=spec.__class)&attributes(attributes)
    .container
      +section-title({
        "cta":{
          "text":"See all services",
          "url":"/services-listing"
        },
        "__class":"section-title--blue"
      })
        | <span class="text--grey">Our</span> Services
      .club-services__list
        .row
          .listing-item.col-md-3.col-sm-6.match-height-elm
            +card({
              "image":"/site-images/services/listing1.jpg",
              "alt":"Some alt image",
              "title":"FINS Swimschool",
              "description":"Kick start your journey with FINS Swim School",
              "location":"SAFRA - Mount Faber, SAFRA - Yishun, SAFRA - Punggol",
              "__class":"card--services",
              "url":"/fins"
            })
          .listing-item.col-md-3.col-sm-6.match-height-elm
            +card({
              "image":"/site-images/services/listing1.jpg",
              "alt":"Some alt image",
              "title":"FINS Swimschool",
              "description":"Kick start your journey with FINS Swim School",
              "location":"SAFRA - Mount Faber, SAFRA - Yishun, SAFRA - Punggol",
              "__class":"card--services",
              "url":"/fins"
            })
          .listing-item.col-md-3.col-sm-6.match-height-elm
            +card({
              "image":"/site-images/services/listing1.jpg",
              "alt":"Some alt image",
              "title":"FINS Swimschool",
              "description":"Kick start your journey with FINS Swim School",
              "location":"SAFRA - Mount Faber, SAFRA - Yishun, SAFRA - Punggol",
              "__class":"card--services",
              "url":"/fins"
            })
          .listing-item.col-md-3.col-sm-6.match-height-elm
            +card({
              "image":"/site-images/services/listing1.jpg",
              "alt":"Some alt image",
              "title":"FINS Swimschool",
              "description":"Kick start your journey with FINS Swim School",
              "location":"SAFRA - Mount Faber, SAFRA - Yishun, SAFRA - Punggol",
              "__class":"card--services",
              "url":"/fins"
            })
