mixin cta-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.cta-card(title=spec.title class=spec.__class href=spec.url)&attributes(attributes)
    .cta-card__image
      img.lazyload(data-src=spec.image.url, alt=spec.image.alt)
    .cta-card__content
      p.cta-card__title=spec.title



mixin cta-card--event(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cta-card.cta-card--event(title=spec.title class=spec.__class href=spec.url)&attributes(attributes)
    .cta-card__image.match-height-elm
      img.lazyload(data-src=spec.image.url, alt=spec.image.alt)
    .cta-card__content.match-height-elm
      if spec.title
        p.cta-card__title=spec.title
      if spec.description
        p.cta-card__description=spec.description
      if spec.cta
        .cta-card__cta
          a(href=spec.cta.url)
            span=spec.cta.text
