//cta-card styles
.cta-card {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  //border: 1px solid #DEDEDE;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.2);
  }
  @include mobile {
    display: block;
  }
  &__image {
    width: 100px;
    height: 100%;

    img {
      @include objectfit-cover;
    }
    @include mobile {
      width: 100%;
      height: 150px;
    }
  }
  &__content {
    padding: 20px;
    position: relative;
    width: 100%;
    p {
      position: relative;
      font-size: calc-em(18px);
      font-weight: 500;
      color: $darkGrey;
      padding-right: 50px;
    }
    &::after {
      content: $icomoon-arrow-right;
      font-family: $icomoon-font-family;
      color: black;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      @include mobile {
        display: none;
      }
    }
  }
  &--event {
    border: none;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    .cta-card__content {
      width: 70%;
      @include mobile {
        width: 100%;
      }
      &::after {
        display: none;
      }
      .cta-card__description {
        font-weight: 300;
        font-size: 16px;
      }
    }
    .cta-card__image {
      width: 30%;
      height: 100%;
      @include mobile {
        width: 100%;
      }
      img {
        display: block;
      }
    }
    .cta-card__cta {
      margin: 10px 0px;
      border: none;
      a {
        color: black;
        text-decoration: none;
        font-size: calc-em(16px);
        font-weight: 500;
        display: inline-block;
        position: relative;
        padding-right: 20px;
        transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        &::after {
          content: $icomoon-arrow-next;
          font-family: $icomoon-font-family;
          position: absolute;
          top: calc(50% - 1px);
          right: 0;
          transform: translateY(-50%);
          transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:hover {
          color: $red;
          &::after {
            transform: translateY(-50%) translateX(5px);
          }
        }
      }
      p {
        padding: 0px 10px;
        margin: 0;
      }
    }
  }
}
