// cookie-message styles
.cookie-message {
  background: transparentize(#fff, 0.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  bottom: 0px;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 99999;
  a {
    color: $blue;

    &:visited {
      color: $red;
    }
    &:hover,
    &:focus {
      color: $red;
    }
  }

  .btn-close {
    border: 1px solid $red;
    background: #fff;
    color: $red;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    .label {
      color: $red;
      font-size: calc-em(16px);
    }

    &:hover,
    &:focus {
      background: $red;
      span {
        color: white;
      }
    }
  }

  &__content {
    padding: 20px 0;
    position: relative;

    p {
      margin: 0;
    }

    .btn-close {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .cookie-message {
    width: 100%;

    &__content {
      padding: 20px 80px 20px 20px;

      .btn-close {
        margin: 0;
        position: absolute;
        right: 0;
        top: 15px;
      }
    }
  }
}
