mixin cookie-message(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cookie-message&attributes(attributes)
    .container
      .cookie-message__content(data-token="201904032120")
        != spec.message
        button.btn.btn-close(type="button")
          span.label Close

