include ../../molecules/banner/banner

mixin landing-banner(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.landing-banner(class=spec.__class)&attributes(attributes)
    .banner-slider
      block