//landing-banner styles
.landing-banner {
  // margin-bottom: -150px;
  overflow: hidden;
  position: relative;
  .slide {
    .banner {
      .banner__image {
        transform: scale(1.3);
        transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      .banner__content {
        opacity: 0;
        transform: translateY(10%);
        transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        @include mobile {
          padding: 200px 0px;
        }
      }
    }
  }
  .slick-current {
    .slide {
      .banner {
        .banner__image {
          transform: scale(1);
        }
        .banner__content {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }
  .slick-dots {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 100px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    li {
      cursor: pointer;
      button {
        opacity: 0;
      }
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        display: block;
      }
      &.slick-active {
        &::before {
          background-color: $red;
        }
      }
    }
  }
}
