
extends ../_layouts/base-article


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/faq-cta/faq-cta

include ../_modules/molecules/card/card


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Locations", "url":"/contact-us"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })

block content

  .rte
    h1.text--title.text--red Titles

    h1 This is an H1 heading tag
    h2 This is an H2 heading tag
    h3 This is an H3 heading tag
    h4 This is an H4 heading tag
    h5 This is an H5 heading tag
    h6 This is an H6 heading tag

    h1.text--title.text--red List

    p the following will be the styling for list items
    ul
      li This is a list item
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolores nobis quia, ipsam ducimus magnam distinctio ipsa, repudiandae reprehenderit soluta harum quidem deserunt qui? Inventore, molestiae. Animi autem fugiat excepturi.
      li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate error architecto facere aut aliquam excepturi asperiores voluptatem expedita, ullam beatae veritatis et illo blanditiis. Eligendi velit molestias ullam ipsum nostrum.
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ad nemo excepturi eius. Laborum distinctio dolorum, quo dicta at ab nobis, voluptatibus aliquid id exercitationem nulla ipsa animi soluta odio.
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quae atque, quas hic vel quasi facere eius, totam illo suscipit quisquam repudiandae. Fuga in porro voluptas, blanditiis illo expedita officia!
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta reprehenderit, provident odit voluptate eos perferendis asperiores explicabo neque, quis doloribus optio ut qui, vitae ullam itaque animi pariatur fuga commodi.
        ul
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, labore iure. Necessitatibus, possimus! Ea reprehenderit, provident dignissimos sed repellat voluptatem, distinctio esse, architecto delectus at nisi numquam deserunt nulla qui!
          li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur ut enim repudiandae consectetur ullam dolorum nulla, asperiores id in qui! Non nam corrupti facilis aut rerum animi earum atque recusandae.
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perspiciatis voluptatum, placeat quod vero tempore sit suscipit aspernatur fugiat, laboriosam quam dolorem praesentium eaque. Nulla quisquam corrupti aut ut? Rerum!
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptates maxime soluta officiis, fugiat natus! Itaque voluptates, id reiciendis fugiat iure fugit, maiores repudiandae facilis magni numquam vel libero illum.
            ul
              li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, omnis. Neque magnam, odio quis at odit consectetur ex rerum delectus ipsam omnis dolorem assumenda illum laboriosam asperiores? Unde, ratione numquam.
              li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, incidunt debitis animi repellendus et sequi dolor laboriosam quasi dicta suscipit, veritatis optio hic nostrum facere delectus. Unde id alias consequuntur.
              li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, totam, omnis reprehenderit optio, maiores vitae perspiciatis aliquam est nesciunt neque quia praesentium. Numquam nostrum quis ex totam, amet ullam possimus?


    ol
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eum nam explicabo deleniti unde eos quisquam, laborum reiciendis adipisci maiores eveniet beatae consequuntur! Iusto voluptate eaque dignissimos explicabo cupiditate quos.
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid doloremque enim, accusamus voluptatem, eaque nihil architecto maiores, quis at consectetur quia molestiae illum dolore praesentium? Repellendus illo cum rem suscipit.
      li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem hic nulla repellendus deserunt officia asperiores optio, nostrum necessitatibus quas dolores, inventore nam quasi quis praesentium libero deleniti dignissimos molestias porro.
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nobis beatae non, dolorum corrupti tenetur rerum dolorem assumenda? Facilis iste maiores quo voluptatum rem, animi officiis quia inventore amet at!
        ol
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, labore iure. Necessitatibus, possimus! Ea reprehenderit, provident dignissimos sed repellat voluptatem, distinctio esse, architecto delectus at nisi numquam deserunt nulla qui!
          li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur ut enim repudiandae consectetur ullam dolorum nulla, asperiores id in qui! Non nam corrupti facilis aut rerum animi earum atque recusandae.
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perspiciatis voluptatum, placeat quod vero tempore sit suscipit aspernatur fugiat, laboriosam quam dolorem praesentium eaque. Nulla quisquam corrupti aut ut? Rerum!
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptates maxime soluta officiis, fugiat natus! Itaque voluptates, id reiciendis fugiat iure fugit, maiores repudiandae facilis magni numquam vel libero illum.
            ol
              li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, omnis. Neque magnam, odio quis at odit consectetur ex rerum delectus ipsam omnis dolorem assumenda illum laboriosam asperiores? Unde, ratione numquam.
              li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, incidunt debitis animi repellendus et sequi dolor laboriosam quasi dicta suscipit, veritatis optio hic nostrum facere delectus. Unde id alias consequuntur.
              li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, totam, omnis reprehenderit optio, maiores vitae perspiciatis aliquam est nesciunt neque quia praesentium. Numquam nostrum quis ex totam, amet ullam possimus?
    table
      thead
        tr
          th Company
          th Contact
          th Country
      tbody
        tr
          td Alfreds Futterkiste
          td Maria Anders
          td Germany
        tr
          td Centro comercial Moctezuma
          td Francisco Chang
          td Mexico
        tr
          td Ernst Handel
          td Roland Mendel
          td Austria
        tr
          td Island Trading
          td Helen Bennett
          td UK
        tr
          td Laughing Bacchus Winecellars
          td Yoshi Tannamuri
          td Canada
        tr
          td Magazzini Alimentari Riuniti
          td Giovanni Rovelli
          td Italy


    h1.text--title.text--red Sample content
    h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi minus iusto rem nihil veniam quae totam error, beatae exercitationem, magnam necessitatibus. Modi in explicabo architecto! Nihil vitae dolorum architecto illo.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, laboriosam, repellendus pariatur magnam illo dolore expedita quam, fugiat nostrum omnis quo voluptatem enim facilis. Itaque perferendis suscipit earum ad corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illo vero incidunt sapiente, corporis impedit doloremque quaerat omnis repudiandae commodi? Ratione ipsa doloribus suscipit tenetur illo nemo repudiandae fuga distinctio?
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas iusto vero nam labore, ducimus doloribus qui impedit enim quibusdam culpa obcaecati nulla id ratione autem ea illum recusandae modi tempora.
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam error et, ducimus incidunt dignissimos sequi corrupti praesentium suscipit dolorum. Consectetur unde consequuntur rerum, earum vel similique error at placeat minima!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque architecto obcaecati odio sint, ducimus, maiores aspernatur iusto magnam unde temporibus sunt velit aperiam non exercitationem natus, quae nisi! Tempora, commodi?
    ul
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem at veritatis, aliquid voluptatum neque sit impedit quam, fuga natus distinctio quae asperiores. Eveniet, eos delectus? Consequuntur optio excepturi earum quod!
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ab, non quia unde quidem nobis, eveniet obcaecati inventore praesentium facere odit vel at quod est suscipit, consequuntur dicta nulla deleniti?
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolorum eveniet ducimus necessitatibus harum, nulla alias! Corporis sunt dolorum accusamus ex facilis, ab officiis temporibus necessitatibus. Consectetur magni cupiditate ratione.
        ul
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi vitae aperiam aut repellendus eveniet, ducimus facere accusamus sapiente! Nulla earum unde voluptatibus tenetur vitae officiis error officia distinctio odit repudiandae?
          li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod voluptas, eligendi doloremque obcaecati perferendis reprehenderit similique commodi, ad aut aliquid quo possimus! Sit, dolores labore id voluptatibus officiis corrupti ut!
          li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, delectus eos numquam ad vero dicta labore, obcaecati doloribus expedita ipsa ratione quam magni eaque laboriosam, ut quaerat? Non, aliquid facilis!
        ol
          li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est voluptates iure ab libero cumque impedit laboriosam debitis sunt culpa optio nulla eius sit, ut dolores? Doloribus dignissimos esse neque similique!
          li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus explicabo a iusto cupiditate rem necessitatibus alias, minus voluptate laudantium obcaecati sit beatae vitae rerum mollitia itaque error corporis. Accusantium, provident.
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, asperiores tempora? Dolore voluptatibus sunt impedit, maxime sit exercitationem hic pariatur voluptate quibusdam vel blanditiis placeat ullam. Corrupti facere iusto vero!
    a(href="www.google.com") This is a link tag