
extends ../../_layouts/base-inner


include ../../_modules/atoms/button/button

include ../../_modules/atoms/content-header/content-header

include ../../_modules/molecules/banner/banner
include ../../_modules/molecules/pagination/pagination
include ../../_modules/molecules/side-nav/side-nav
include ../../_modules/molecules/card/card
include ../../_modules/molecules/card-carousel/card-carousel
include ../../_modules/molecules/carousel-type-1/carousel-type-1
include ../../_modules/molecules/contact-card/contact-card
include ../../_modules/molecules/info-card/info-card
include ../../_modules/molecules/related-links/related-links
include ../../_modules/molecules/filter/filter
include ../../_modules/molecules/cta-text-bar/cta-text-bar


include ../../_modules/organisms/club-deals/club-deals

include ../../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Events", "url":"/event-listing"},{"name":"SAFRA Entrepreneurs’ Marketplace","url":"/event-article"},{"name":"To apply for a Booth","url":"/event-article/to-apply-for-a-booth"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })
block asideContent
  +side-nav({
    "items":[
      {
        "name":"SAFRA Entrepreneurs’ Marketplace",
        "url":"/event-article",
        "children":[
          {
            "name":"Creative Workshop Registration",
            "url":"/event-article/creative-workshop-registration"
          },
          {
            "name":"Sponsors and Partners",
            "url":"/event-article/sponsors-and-partners"
          },
          {
            "name":"To apply for a Booth",
            "url":"/event-article/to-apply-for-a-booth",
            "__class":"active"
          }
        ]
      },

    ]
  })

block content
  +content-header({
    "title":"To apply for a Booth",
  })
  img(src="/site-images/event1.jpg" alt="article image" style="width: 100%; height: auto;" )
  p Bring awareness to your unique products and services! If you are an inspiring young entrepreneur, we are looking for you! Share with us your interesting entrepreneurship journey if you have any.

  p -&nbsp;&nbsp; Booth rental starting only from an affordable rate of $200 for 2 days
  p -&nbsp;&nbsp;	More than 2000 visitors over 2 days
  p -&nbsp;&nbsp;	More than 85% of past visitors expressed interest in attending the event again.
  p -&nbsp;&nbsp;	40% of visitors are between 17 to 35 years old in 2018.
  p -&nbsp;&nbsp;	78% of visitors spent more than $50 in 2018.
  p Application for booth rental ends 22 Sep 2019.

  h2 How to register for a booth and voucher booklet slot
  ol
    li Complete the application form here for booth rental. Pricing of the rental can be found in the application form.
      p Complete the application form here for a marketing slot in the Event Voucher Booklet.
    li Assessment of your application will take approximately 2 weeks.
    li Upon confirmation of your application, please follow the payment instructions in your confirmation email.

  h3 Restricted or prohibited items for sale include:
  ul
    li Food and beverage which require handling/cooking at the venue
    li Food and beverage without NEA approval
    li Counterfeit items
    li Copyright infringed products
    li Damaged items
    li Second-hand products
    li Financial and/or insurance services
    li MLM associated products
    li Items with offensive or derogatory or racially discriminative slogans or messaging
    li Products with utilisation of dangerous implements and materials
    li Any products in violation of Singapore's Law
  p Please refer to the Terms and Conditions here.

  p Due to overwhelming number of applications for booths that we receive each year, companies who are unable to secure a booth can consider applying for the marketing slot in the Event Voucher Booklet for a one-time fee of $100.
  +button({
    "text":"Register now",
    "__class":"button--fill button--with-arrow"
  })


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




