
extends ../_layouts/base


include ../_modules/atoms/button/button

include ../_modules/molecules/cta-text-bar/cta-text-bar
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/carousel-type-4/carousel-type-4
include ../_modules/molecules/card/card
include ../_modules/molecules/carousel-banner/carousel-banner
include ../_modules/molecules/banner/banner
include ../_modules/molecules/cta-text-bar/cta-text-bar
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/social-media-grid/social-media-grid
include ../_modules/molecules/filter-bar/filter-bar
include ../_modules/molecules/price-compare-card/price-compare-card

include ../_modules/organisms/landing-banner/landing-banner

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var microsite = true
  - var micrositeClass = "microsite--kids-amaze"
  - var micrositeLogo = "/site-images/kidsamaze/logo1.png"
  - var micrositeSecondaryLogo = "/site-images/kidsamaze/logo2.png"
  - var micrositeFooterLogos = [{"url":"/assets/images/safra-logo-black.svg","alt":"Safra logo"},{"url":"/site-images/kidsamaze/logo1.png","alt":""},{"url":"/site-images/kidsamaze/logo2.png","alt":""}]

block content
  +carousel-banner--hero()
    .slide
      +banner-full-width-small({
        "image":{
          "url":"/site-images/kidsamaze/banner.jpg",
          "link":"/site-images/kidsamaze/banner.jpg"
        }
      }).banner--medium
        +info-card({
          "title":"Enjoy the wonder of play at one of Singapore's largest indoor playground!"
        })
    .slide
      +banner-full-width-small({
        "image":{
          "url":"/site-images/kidsamaze/banner2.jpg"
        }
      }).banner--medium
        +info-card({
          "title":"Enjoy the wonder of play at one of Singapore's largest indoor playground!"
        })

  .general-section
    .container
      .row
        .col-md-12.text-center
          h1 Romp, rumble and roll up at Kidz Amaze
          p.text--large Come play with us! Kidz Amaze is made for children aged 12 months - 13 years old.
      .listing-section
        .row
          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/kidsamaze/amazecard1.jpg",
              "title":"Our specially designed kid-friendly playground arena consists of visually stunning interactive soft play centres to engage your child's sense of direction, motion and coordination."
            }).card--article
          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/kidsamaze/amazecard2.jpg",
              "title":"Friendly facilitators ensure play is both fun and safe."
            }).card--article
          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/kidsamaze/amazecard3.jpg",
              "title":"Kidz Amaze also offers party rooms to host birthday parties and field trips. "
            }).card--article
  .general-section.section-green
    .container
      .row
        .col-md-12.text-center
          h1.text--white Locations
    .listing-section
      .container
        .row
          each item, index in site.data.kidsamazeLocations
            .listing-item.col-md-4.match-height-elm
              +card({
                "image":item.image,
                "location":item.location
              }).card--normal.card--locations
                each subitem in item.operatingHours
                  p.card__operating-hours
                    span.day=subitem.day
                    span.time=subitem.time
  .general-section
    .container
      .row
        .col-md-12.text-center
          h1 Enjoy great savings with Kidz Amaze Membership
        .col-md-12
          +price-compare-card()
  .general-section.section-blue
    h1.text-center View availability of party rooms
    +filter-bar--availablity()
    .container
      .row
        +carousel-type-1()
          .slide.match-height-elm
            +card--normal({
              "image":"/site-images/kidsamaze/party1.jpg",
              "title":"The Galaxy",
              "location":"SAFRA Toa Payoh"
            }).card--normal
              p.text--green
                strong The selected date and time is available.
              +button({
                "text":"Book Now",
              }).button--green.button--rounded
          .slide.match-height-elm
            +card--normal({
              "image":"/site-images/kidsamaze/party2.jpg",
              "title":"Jungle Canopy",
              "location":"SAFRA Jurong"
            }).card--normal
              p.text--green
                strong The selected date and time is available.
              +button({
                "text":"Book Now",
              }).button--green.button--rounded
          .slide.match-height-elm
            +card--normal({
              "image":"/site-images/kidsamaze/party3.jpg",
              "title":"Penguin's Paradise",
              "location":"SAFRA Punggol"
            }).card--normal
              p.text--red
                strong Sorry, The selected date and time is unavailable.
          .slide.match-height-elm
            +card--normal({
              "image":"/site-images/kidsamaze/party2.jpg",
              "title":"Jungle Canopy",
              "location":"SAFRA Jurong"
            }).card--normal
              p.text--green
                strong The selected date and time is available.
              +button({
                "text":"Book Now",
              }).button--green.button--rounded
          .slide.match-height-elm
            +card--normal({
              "image":"/site-images/kidsamaze/party3.jpg",
              "title":"Penguin's Paradise",
              "location":"SAFRA Punggol"
            }).card--normal
              p.text--red
                strong Sorry, The selected date and time is unavailable.

  +cta-text-bar({
    "items":[
      {
        "image":"/site-images/energyone/icon2.svg",
        "text":"Membership",
        "url":"#"
      },
      {
        "image":"/site-images/kidsamaze/packageicon.svg",
        "text":"Packages",
        "url":"#"
      },
      {
        "image":"/site-images/kidsamaze/rateicon.svg",
        "text":"Facilities & Rates",
        "url":"#"
      },
      {
        "image":"/site-images/energyone/icon3.svg",
        "text":"Promotions",
        "url":"#"
      },
    ]
  })
  .general-section
    .container
      .row
        .col-md-12.text-center
          h1 Activities
    .container
      .row
        +carousel-type-1()
          .slide.match-height-elm
            +card({
              "image":"/site-images/kidsamaze/activity1.jpg",
              "title":"Celebrate your child's birthday at SAFRA Yishun",
              "description":"Give your child the best birthday party at SAFRA Yishun!",
              "location":"SAFRA - Yishun",
              "date":"3 Jul 2018 - 31 Dec 2019"
            }).card--normal
          .slide.match-height-elm
            +card({
              "image":"/site-images/kidsamaze/activity2.jpg",
              "title":"Friendly facilitators ensure play is both fun and safe.",
              "description":"Give your child the best birthday party at SAFRA Yishun!",
              "location":"SAFRA - Yishun",
              "date":"3 Jul 2018 - 31 Dec 2019"
            }).card--normal
          .slide.match-height-elm
            +card({
              "image":"/site-images/kidsamaze/activity3.jpg",
              "title":"Kidz Amaze also offers party rooms to host birthday parties and field trips. ",
              "description":"Give your child the best birthday party at SAFRA Yishun!",
              "location":"SAFRA - Yishun",
              "date":"3 Jul 2018 - 31 Dec 2019"
            }).card--normal
          .slide.match-height-elm
            +card({
              "image":"/site-images/kidsamaze/activity1.jpg",
              "title":"Celebrate your child's birthday at SAFRA Yishun",
              "description":"Give your child the best birthday party at SAFRA Yishun!",
              "location":"SAFRA - Yishun",
              "date":"3 Jul 2018 - 31 Dec 2019"
            }).card--normal
  .general-section
    .rte
      .container.container-sm
        .row
          .col-md-12.text-center
            h1 Awards & Accolades
        .row
          .col-md-6
            ul
              li Best in Category for Playground by Landscape Industry Association (Singapore) (LIAS)
              li Playground with Best Play Experiences by Parents World
          .col-md-6
            ul
              li Accredited Family Friendly Facility by Pro Family Businesses
              li Top 10 Playgrounds by TallyPress
        .col-flex.col-flex__center.padding-m
          .col-md-3
            img(src="/site-images/kidsamaze/creditlogo1.jpg")
          .col-md-3
            img(src="/site-images/kidsamaze/creditlogo2.jpg")
          .col-md-3
            img(src="/site-images/kidsamaze/creditlogo3.png")
