mixin banner-full-width(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.image.alt = spec.image.alt || 'Banner image'

  article.banner.banner--full-width(class=spec.__class)&attributes(attributes)
    if spec.image.link
      a(href=spec.image.link)
        .banner__image
          img(src=spec.image.url alt=spec.image.alt)
        .banner__content
          .container
            block
    else
      .banner__image
        img(src=spec.image.url alt=spec.image.alt)
      .banner__content
        .container
          block

mixin banner-full-width-small(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.image.alt = spec.image.alt || 'Banner image'

  article.banner.banner--full-width-small(class=spec.__class)&attributes(attributes)
    if spec.image.link
      a(href=spec.image.link)
        .banner__image
          img(src=spec.image.url alt=spec.image.alt)
        .banner__content
          .container
            block
    else
      .banner__image
        img(src=spec.image.url alt=spec.image.alt)
      .banner__content
        .container
          block



mixin banner-full-width-promo(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.banner--full-width-promo(class=spec.__class)&attributes(attributes)
    a(href=spec.link).banner__image
      img.banner__image-large(src=spec.imageLarge.url alt=spec.imageLarge.alt)
      img.banner__image-small(src=spec.imageSmall.url alt=spec.imageSmall.alt)


mixin banner-normal(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.banner.banner--normal(class=spec.__class)&attributes(attributes)
    .container
      .banner__image
        img(src=spec.image.url alt=spec.image.alt)
      .banner__content
        .container
          block


mixin banner-small(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.banner.banner--small(class=spec.__class)&attributes(attributes)
    .container
      //- if spec.image.link
      //-   a(href=spec.image.link)
      //-     .banner__image
      //-       img(src=spec.image.url alt=spec.image.alt)
      //-     .banner__content
      //-       .container
      //-         block
      //- else
      .banner__image
        img(src=spec.image.url alt=spec.image.alt)
      .banner__content
        .container
          block




mixin banner-featured(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.banner.banner--featured(class=spec.__class)&attributes(attributes)
    if spec.image.link
      a(href=spec.image.link)
        .banner__image
          img(src=spec.image.url alt=spec.image.alt)
        .banner__content
          .container
            .row
              .col-md-12
                block

    else
      .banner__image
        img(src=spec.image.url alt=spec.image.alt)
      .banner__content
        .container
          .row
            .col-md-12
              block
