//banner styles
.banner {
  position: relative;
  > a {
    text-decoration: none;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    img {
      @include objectfit-cover;
      display: block;
      object-position: top center;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &__content {
    position: relative;
    padding: 20% 0px;
    min-height: 360px;

    h1 {
      font-size: 47px;
      line-height: 140%;
      color: #ffffff;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
    }
  }
  &--full-width {
    .banner__image {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0) 20%
        );
      }
    }

    .button {
      border-color: #fff;
      color: #fff;

      &:hover {
        border-color: $red;
      }
    }
  }
  &--small {
    .banner__content {
      padding: 90px 0px 90px 0px;
    }
  }
  &--featured {
    .banner__image {
      img {
        object-position: top right;
      }
    }
    .banner__content {
      padding: 90px 20px 90px 20px;
      color: white;
      h2 {
        font-size: calc-em(34px);
      }
    }
  }
  &--full-width-small {
    .banner__content {
      padding: 150px 0px 30px 0px;
    }
  }

  &--medium {
    .banner__content {
      padding: 150px 0px 150px 0px;
    }
  }
  &--full-width-promo {
    .banner__image {
      position: relative;
      width: 100%;
      height: auto;
      display: block;

      img {
        object-fit: auto;
        width: 100%;
        height: auto;
      }
      &-small {
        display: none;
        @include mobile {
          display: block;
        }
      }
      &-large {
        @include mobile {
          display: none;
        }
      }
    }
  }
}

.microsite--energy-one {
  .banner--full-width {
    .banner__content {
      padding: 15% 0px 10% 0px;

      @include mobile {
        padding: 150px 0px;
      }
    }
  }
}
