
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Our Services", "url":"/services-landing"},{"name":"Cohesion Services", "url":"#"},{"name":"Overview","url":"/cohesion-landing"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/cohesion/banner.jpeg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"Smells like Team Spirit",
    })


block asideContent
  +side-nav({
    "items":[
      {
        "name":"General Information",
        "url":"/FAQ/general-information",
        "__class":"active",
        "children":[
          {
            "name":"Overview",
            "url":"",
          },
          {
            "name":"Menu of Activities ",
            "url":"/cohesion-listing",
          },
          {
            "name":"Enquire about an Event",
            "url":"",
          },
          {
            "name":"Cohesion Event",
            "url":"",
          }
        ]
      }
    ]
  })

block content
  +content-header({
    "title":"A team that works and plays together stays together",
  })
  p It’s our passion to meet your needs.

  p We’re experts at identifying the activities that engage people. So if you’re looking to build your team and foster loyalty, trust, cooperation, leadership, look no further than our Cohesion Building Programme (CBP). Our programmes cater to NS units
  img(src="https://place-hold.it/1200x500" alt="gift by changi")
  h2 Fortifying bonds among NSmen

  p Your one-stop centre for cohesion building programmes. <br> We believe that ‘Coming together is a beginning; keeping together is progress; and working together is success’. With this in mind, we aim to create as many opportunities as possible for NSmen to interact.

  p As a one-stop solution for NS Units to organise and manage its cohesion events, we have a wide range of fun activities and experiential events to build teamwork and togetherness.<br>See our activities here.

  p If you have a question or need more information, feel free to contact us: NS Units can call 6377 9146, or email us!

block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




