mixin carousel-type-4(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .carousel-type-4(class=spec.__class)&attributes(attributes)
    .carousel-section
      .overflow-carousel
        .carousel-nav.match-height-item
          h1.carousel-title Locations
          .carousel-arrows
            button.prev-arrow
              i.icomoon-arrow-prev
            button.next-arrow
              i.icomoon-arrow-next

        .carousel-wrapper.match-height-item
          .card-carousel
            .carousel-slider
              block
