
extends ../../_layouts/base-inner


include ../../_modules/atoms/button/button

include ../../_modules/atoms/content-header/content-header

include ../../_modules/molecules/banner/banner
include ../../_modules/molecules/pagination/pagination
include ../../_modules/molecules/side-nav/side-nav
include ../../_modules/molecules/card/card
include ../../_modules/molecules/card-carousel/card-carousel
include ../../_modules/molecules/carousel-type-1/carousel-type-1
include ../../_modules/molecules/contact-card/contact-card
include ../../_modules/molecules/info-card/info-card
include ../../_modules/molecules/related-links/related-links
include ../../_modules/molecules/filter/filter
include ../../_modules/molecules/cta-text-bar/cta-text-bar


include ../../_modules/organisms/club-deals/club-deals

include ../../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Events", "url":"/event-listing"},{"name":"SAFRA Entrepreneurs’ Marketplace","url":"/event-article"},{"name":"Creative Workshop Registration","url":"/event-article/creative-workshop-registration"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })
block asideContent
  +side-nav({
    "items":[
      {
        "name":"SAFRA Entrepreneurs’ Marketplace",
        "url":"/event-article",
        "children":[
          {
            "name":"Creative Workshop Registration",
            "url":"/event-article/creative-workshop-registration",
            "__class":"active"
          },
          {
            "name":"Sponsors and Partners",
            "url":"/event-article/sponsors-and-partners"
          },
          {
            "name":"To apply for a Booth",
            "url":"/event-article/to-apply-for-a-booth"
          }
        ]
      },

    ]
  })

block content
  +content-header({
    "title":"Creative Workshop Registration",
  })
  img(src="/site-images/event1.jpg" alt="article image" style="width: 100%; height: auto;" )
  h2 Sat, 9 Nov 2019
  .table-responsive
    table(width='100%' border='0')
      tbody
        tr.odd
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #ccc;border: #000 1px solid;')
            strong
              span(style='font-size: 13px;') Time
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #ccc;border: #000 1px solid;')
            strong
              span(style='font-size: 13px;') Workshop
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #ccc;border: #000 1px solid;')
            strong
              span(style='font-size: 13px;') Duration
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #ccc;border: #000 1px solid;')
            strong
              span(style='font-size: 13px;') Price/Pax
        tr.even
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 10am
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            img(width='350' height='140' alt='Kaffeign' src='https://www.safra.sg/~/media/Images/Participate/SAFRA-Entrepreneurs-Club/2019/SAFRA-Entrepreneurs-Marketplace/2019/Workshops/Kaffeign.ashx')
            br
            span(style='font-size: 13px; font-weight: 400;')
              span(style='text-decoration: underline;') Handmade Coffee Drip Workshop
              br
              em
                | Conducted by:
                a(href='https://www.kaffeign.com/' target='_blank') Kaffeign
            div &nbsp;
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 1.5 hours
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') $18
        tr.odd
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 12pm
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            img(width='350' height='140' alt='Ekedai' src='https://www.safra.sg/~/media/Images/Participate/SAFRA-Entrepreneurs-Club/2019/SAFRA-Entrepreneurs-Marketplace/2019/Workshops/Ekedai.ashx')
            br
            span(style='font-size: 13px; font-weight: 400;')
              span(style='text-decoration: underline;') Flower Resin Pendant Workshop
              br
              em
                | Conducted by:
                a(href='http://www.ekedaionline.com/' target='_blank') Ekedai
            div &nbsp;
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 1 hour
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') $20
        tr.even
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 1.30pm
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            img(width='350' height='140' alt='AromaMayMay' src='https://www.safra.sg/~/media/Images/Participate/SAFRA-Entrepreneurs-Club/2019/SAFRA-Entrepreneurs-Marketplace/2019/Workshops/AromaMayMay.ashx')
            br
            span(style='font-size: 13px; font-weight: 400;')
              span(style='text-decoration: underline;') Perfume Making Workshop
              br
              em
                | Conducted by
                a(href='https://aromamaymay.com/' target='_blank') AromaMayMay
            div &nbsp;
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 1 hour
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') $15
        tr.odd
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 3pm
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            img(width='350' height='140' alt='Lovehampers' src='https://www.safra.sg/~/media/Images/Participate/SAFRA-Entrepreneurs-Club/2019/SAFRA-Entrepreneurs-Marketplace/2019/Workshops/Lovehampers.ashx')
            br
            span(style='font-size: 13px; font-weight: 400;')
              span(style='text-decoration: underline;') Kids Potted Floral Arrangement Workshop
              br
              em
                | Conducted by:
                a(href='https://lovehampers.sg/' target='_blank') Love Hampers
            div &nbsp;
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 1.5 hours
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') $20
        tr.even
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 5pm
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            img(width='350' height='140' alt='The Concrete Everything Store' src='https://www.safra.sg/~/media/Images/Participate/SAFRA-Entrepreneurs-Club/2019/SAFRA-Entrepreneurs-Marketplace/2019/Workshops/The-Concrete-Everything-Store.ashx')
            br
            span(style='font-size: 13px; font-weight: 400;')
              span(style='text-decoration: underline;') Marbled Coaster Workshop
              br
              em
                | Conducted by:
                a(href='http://www.Concrete-Everything.com' target='_blank') Concrete Everything
              a(href='http://www.Concrete-Everything.com' target='_blank')
            div &nbsp;
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 1 hour
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') $20
  h2 Sun, 10 Nov 2019
  .table-responsive
    table(width='100%' border='0')
      tbody
        tr.odd
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #ccc;border: #000 1px solid;')
            strong
              span(style='font-size: 13px;') Time
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #ccc;border: #000 1px solid;')
            strong
              span(style='font-size: 13px;') Workshop
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #ccc;border: #000 1px solid;')
            strong
              span(style='font-size: 13px;') Duration
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #ccc;border: #000 1px solid;')
            strong
              span(style='font-size: 13px;') Price/Pax
        tr.even
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 10.30am
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            img(width='350' height='140' alt='Maketh Project' src='https://www.safra.sg/~/media/Images/Participate/SAFRA-Entrepreneurs-Club/2019/SAFRA-Entrepreneurs-Marketplace/2019/Workshops/Maketh-Project.ashx')
            br
            span(style='font-size: 13px; font-weight: 400;')
              span(style='text-decoration: underline;') Semi Circle Zip Coin Pouch Workshop
              br
              em
                | Conducted by:
                a(href='https://www.makethproject.com/' target='_blank') Maketh Project
            div &nbsp;
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 2 hours
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') $17.50
        tr.odd
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 1pm
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            img(width='350' height='140' alt='HobbyCrafterz' src='https://www.safra.sg/~/media/Images/Participate/SAFRA-Entrepreneurs-Club/2019/SAFRA-Entrepreneurs-Marketplace/2019/Workshops/HobbyCrafterz.ashx')
            span(style='font-size: 13px; font-weight: 400;')
              span(style='text-decoration: underline;')
                br
                |             Christmas Wax Candle Workshop
              br
              em
                | Conducted by:
                a(href='https://www.facebook.com/hobbycrafterz/' target='_blank') HobbyCrafterz
            div &nbsp;
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 1.5 hours
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') $20
        tr.even
          td(style='width: 10%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 4pm
          td(style='width: 60%; vertical-align: top;  padding-bottom: 5px; text-align: left; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            img(width='350' height='140' alt='Vinreh' src='https://www.safra.sg/~/media/Images/Participate/SAFRA-Entrepreneurs-Club/2019/SAFRA-Entrepreneurs-Marketplace/2019/Workshops/Vinreh.ashx')
            br
            span(style='font-size: 13px; font-weight: 400;')
              span(style='text-decoration: underline;') Sunflower Clay Earring Workshop
              br
              |             Conducted by:
              a(href='http://www.vinreh.com' target='_blank') Vinreh
            div &nbsp;
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') 2 hours
          td(style='width: 15%; vertical-align: top;  padding-bottom: 5px; text-align: center; padding-top: 5px; padding-left: 5px;  padding-right: 5px; background-color: #fff;border: #000 1px solid;')
            span(style='font-size: 13px; font-weight: 400;') $20


  p Price stated above are payable to vendors onsite on the event day. Workshop slots are limited, we encourage participants to RSVP and reserve a slot to avoid disappointment.

  p Kindly note that a $2 admin fee is chargeable per person per transaction. If you register for multiple workshops in one transaction, only a one-time admin fee will be charged.

  p For any further clarification required, please email us at sec@safra.sg or call 6377 9154 during office hours*

  p *Office hours are from 9.30am to 6.30pm, Mon to Fri, excluding public holidays and public holidays.

block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




