//feed-customizer styles
.feed-customizer {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  &.showing {
    display: flex !important;
  }
  &__content {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 30px;
    max-width: 900px;
    position: relative;
    margin: auto auto;
    .title {
      padding: 0px 20px;
      font-weight: 500;
    }
    .description {
      padding: 0px 20px;
      margin-bottom: 20px;
    }
  }
  &__options {
    max-height: 50vh;
    width: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 30px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $red;
      border-radius: 30px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $red;
    }
  }
  &__option {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
    label {
      cursor: pointer;
      display: block;
      position: relative;
      overflow: hidden;
      border: 1px solid $midGrey;
      border-radius: 5px;
      height: 100%;
      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        border-left: 40px solid transparent;
        border-bottom: 40px solid $red;
        border-right: 40px solid transparent;
        position: absolute;
        top: -7px;
        right: -30px;
        transform: rotate(45deg);
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &::after {
        content: $icomoon-checkmark;
        font-family: $icomoon-font-family;
        color: white;
        position: absolute;
        top: 7px;
        right: 7px;
        display: block;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
    .option__image {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .option__content {
      padding: 15px 20px;
      display: block;

      .title {
        margin: 0;
        padding: 0;
      }
    }

    input {
      display: none;

      &:checked + label {
        border: 1px solid $red;
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  .feed-filter-btn {
    padding: 30px 20px 0px 20px;
    text-align: right;
    .button {
      margin-right: 0;
    }
  }
}

.feed-curstomizer-trigger {
  cursor: pointer;
  background-color: $yellow;
  border: none;
  padding: 15px 20px 15px 40px;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg) translateX(50%);
  right: 0;
  transform-origin: bottom right;
  z-index: 980;
  @include mobile {
    display: none;
  }
  &::before {
    content: $icomoon-magic;
    display: block;
    font-family: $icomoon-font-family;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc-em(22px);
  }
}
