mixin feed-customizer(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.feed-customizer(class=spec.__class)&attributes(attributes)
    .feed-customizer__content
      h1.title We would like to hear from you!
      p.description This will help us recommend the content you’ll love
      .feed-customizer__options
        .container
          .row
            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option1(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option1")
                  .option__content.match-height-elm
                    p.title Movie Deals & Promotions
                  .option__image
                    img(src="/site-images/customizer/option1.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option2(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option2")
                  .option__content.match-height-elm
                    p.title Free TYR Junior Ranger Goggles
                  .option__image
                    img(src="/site-images/customizer/option2.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option3(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option3")
                  .option__content.match-height-elm
                    p.title 10% off all pool tables and beverages
                  .option__image
                    img(src="/site-images/customizer/option3.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option4(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option4")
                  .option__content.match-height-elm
                    p.title Tapas Club - 15% off total bill
                  .option__image
                    img(src="/site-images/customizer/option4.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option5(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option5")
                  .option__content.match-height-elm
                    p.title Wild Wild Wet - 1-for-1 Day Passes
                  .option__image
                    img(src="/site-images/customizer/option5.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option6(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option6")
                  .option__content.match-height-elm
                    p.title Changi Recommends - Up to $100 off hotel bookings
                  .option__image
                    img(src="/site-images/customizer/option6.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option7(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option7")
                  .option__content.match-height-elm
                    p.title Movie Deals & Promotions
                  .option__image
                    img(src="/site-images/customizer/option1.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option8(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option8")
                  .option__content.match-height-elm
                    p.title Movie Deals & Promotions
                  .option__image
                    img(src="/site-images/customizer/option2.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option9(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option9")
                  .option__content.match-height-elm
                    p.title Movie Deals & Promotions
                  .option__image
                    img(src="/site-images/customizer/option3.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option10(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option10")
                  .option__content.match-height-elm
                    p.title Movie Deals & Promotions
                  .option__image
                    img(src="/site-images/customizer/option4.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option11(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option11")
                  .option__content.match-height-elm
                    p.title Movie Deals & Promotions
                  .option__image
                    img(src="/site-images/customizer/option5.jpg" alt="option1")

            .col-md-4.col-xs-6
              .feed-customizer__option.match-height-section
                input.option#option12(type="checkbox" name="interest" value="dealts-n-promotion")
                label.option__label(for="option12")
                  .option__content.match-height-elm
                    p.title Movie Deals & Promotions
                  .option__image
                    img(src="/site-images/customizer/option6.jpg" alt="option1")
      .feed-filter-btn
        +button({
          "text":"See my custom feed"
        }).button--fill
  button.feed-curstomizer-trigger Customise your own feed


