@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5p8kes");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5p8kes#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5p8kes")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5p8kes")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5p8kes##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoon-"],
[class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-magic {
  &:before {
    content: $icomoon-magic;
  }
}
.icomoon-sand-clock {
  &:before {
    content: $icomoon-sand-clock;
    color: #757575;
  }
}
.icomoon-close {
  &:before {
    content: $icomoon-close;
  }
}
.icomoon-refresh {
  &:before {
    content: $icomoon-refresh;
    color: #665;
  }
}
.icomoon-location .path1 {
  &:before {
    content: $icomoon-location-path1;
    color: rgb(4, 5, 5);
  }
}
.icomoon-location .path2 {
  &:before {
    content: $icomoon-location-path2;
    margin-left: -0.8310546875em;
    color: rgb(225, 0, 50);
  }
}
.icomoon-bell {
  &:before {
    content: $icomoon-bell;
  }
}
.icomoon-clock {
  &:before {
    content: $icomoon-clock;
  }
}
.icomoon-search {
  &:before {
    content: $icomoon-search;
  }
}
.icomoon-arrow-up {
  &:before {
    content: $icomoon-arrow-up;
  }
}
.icomoon-signup {
  &:before {
    content: $icomoon-signup;
  }
}
.icomoon-chevron-down {
  &:before {
    content: $icomoon-chevron-down;
  }
}
.icomoon-arrow-right {
  &:before {
    content: $icomoon-arrow-right;
  }
}
.icomoon-user {
  &:before {
    content: $icomoon-user;
  }
}
.icomoon-checkmark {
  &:before {
    content: $icomoon-checkmark;
  }
}
.icomoon-mail {
  &:before {
    content: $icomoon-mail;
  }
}
.icomoon-share-2 {
  &:before {
    content: $icomoon-share-2;
  }
}
.icomoon-arrow-prev {
  &:before {
    content: $icomoon-arrow-prev;
  }
}
.icomoon-arrow-next {
  &:before {
    content: $icomoon-arrow-next;
  }
}
.icomoon-chevron-left {
  &:before {
    content: $icomoon-chevron-left;
  }
}
.icomoon-chevron-right {
  &:before {
    content: $icomoon-chevron-right;
  }
}
.icomoon-play {
  &:before {
    content: $icomoon-play;
  }
}
.icomoon-phone {
  &:before {
    content: $icomoon-phone;
  }
}
.icomoon-facebook {
  &:before {
    content: $icomoon-facebook;
  }
}
.icomoon-instagram {
  &:before {
    content: $icomoon-instagram;
  }
}
.icomoon-twitter {
  &:before {
    content: $icomoon-twitter;
  }
}
.icomoon-youtube {
  &:before {
    content: $icomoon-youtube;
  }
}
.icomoon-linkedin {
  &:before {
    content: $icomoon-linkedin;
  }
}
