@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5p8kes');
  src:  url('fonts/icomoon.eot?5p8kes#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5p8kes') format('truetype'),
    url('fonts/icomoon.woff?5p8kes') format('woff'),
    url('fonts/icomoon.svg?5p8kes#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-magic:before {
  content: "\e914";
}
.icomoon-sand-clock:before {
  content: "\e910";
  color: #757575;
}
.icomoon-close:before {
  content: "\e90f";
}
.icomoon-refresh:before {
  content: "\e90a";
  color: #665;
}
.icomoon-location .path1:before {
  content: "\e901";
  color: rgb(4, 5, 5);
}
.icomoon-location .path2:before {
  content: "\e902";
  margin-left: -0.8310546875em;
  color: rgb(225, 0, 50);
}
.icomoon-bell:before {
  content: "\e900";
}
.icomoon-clock:before {
  content: "\e903";
}
.icomoon-search:before {
  content: "\e904";
}
.icomoon-arrow-up:before {
  content: "\e905";
}
.icomoon-signup:before {
  content: "\e906";
}
.icomoon-chevron-down:before {
  content: "\e907";
}
.icomoon-arrow-right:before {
  content: "\e908";
}
.icomoon-user:before {
  content: "\e909";
}
.icomoon-checkmark:before {
  content: "\e913";
}
.icomoon-mail:before {
  content: "\e912";
}
.icomoon-share-2:before {
  content: "\e911";
}
.icomoon-arrow-prev:before {
  content: "\e90b";
}
.icomoon-arrow-next:before {
  content: "\e90c";
}
.icomoon-chevron-left:before {
  content: "\e90d";
}
.icomoon-chevron-right:before {
  content: "\e90e";
}
.icomoon-play:before {
  content: "\ea15";
}
.icomoon-phone:before {
  content: "\e942";
}
.icomoon-facebook:before {
  content: "\ea90";
}
.icomoon-instagram:before {
  content: "\ea92";
}
.icomoon-twitter:before {
  content: "\ea96";
}
.icomoon-youtube:before {
  content: "\ea9d";
}
.icomoon-linkedin:before {
  content: "\eaca";
}
