$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/fonts" !default;

$icomoon-magic: "\e914";
$icomoon-sand-clock: "\e910";
$icomoon-close: "\e90f";
$icomoon-refresh: "\e90a";
$icomoon-location-path1: "\e901";
$icomoon-location-path2: "\e902";
$icomoon-bell: "\e900";
$icomoon-clock: "\e903";
$icomoon-search: "\e904";
$icomoon-arrow-up: "\e905";
$icomoon-signup: "\e906";
$icomoon-chevron-down: "\e907";
$icomoon-arrow-right: "\e908";
$icomoon-user: "\e909";
$icomoon-checkmark: "\e913";
$icomoon-mail: "\e912";
$icomoon-share-2: "\e911";
$icomoon-arrow-prev: "\e90b";
$icomoon-arrow-next: "\e90c";
$icomoon-chevron-left: "\e90d";
$icomoon-chevron-right: "\e90e";
$icomoon-play: "\ea15";
$icomoon-phone: "\e942";
$icomoon-facebook: "\ea90";
$icomoon-instagram: "\ea92";
$icomoon-twitter: "\ea96";
$icomoon-youtube: "\ea9d";
$icomoon-linkedin: "\eaca";
