
extends ../_layouts/base-standard


include ../_modules/atoms/content-header/content-header
include ../_modules/molecules/card/card
include ../_modules/molecules/photo-gallery/photo-gallery


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Our Services", "url":"/services-listing"},{"name":"Cohesion Services","url":"#"},{"name":"Menu of Activities","url":"/cohesion-listing"}]

block content
  +content-header({
    "title":"Headline",
  })
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada nunc magna, non pretium metus imperdiet ac. Curabitur eu nisl ac lectus dapibus.
  .listing-section
    .row
      each item in site.data.cohesionItems
        .listing-item.col-md-4.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "url":item.url,
            "__class":"card--cohesion"
          })
  h2 Sub Headline
  p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam congue tincidunt dictum. Morbi efficitur nunc sed cursus

  h2 Photo Gallery
  +photo-gallery()