//header-top styles
.header-top {
  background-color: $red;
  position: relative;
  z-index: 99;
  .nav-items {
    display: flex;
    justify-content: space-between;
  }
  .nav-item-group {
    display: flex;
    align-items: center;
    .safra-logo {
      padding: 0px 20px;
      img {
        width: 80px;
        height: auto;
      }
    }
    .nav-login-item {
      display: flex;
      list-style-type: none;
      padding: 0;
      @include mobile {
        display: none;
      }
      li {
        position: relative;
        padding-right: 20px;
        padding-left: 25px;
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          color: white;
        }
        a {
          color: white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .dropdown-item {
    position: relative;
    padding: 10px;
    padding-right: 35px;
    color: white;
    cursor: pointer;

    &.active {
      .dropdown-handle button {
        transform: translateY(2px) rotate(-180deg);
      }

      .dropdown-menu {
        max-height: 1000px;
        transform: translateY(0);
      }
    }

    .dropdown-handle {
      position: absolute;
      top: 10px;
      right: 0px;
      width: max-content;

      button {
        border: none;
        background-color: transparent;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        i {
          font-size: 10px;
          color: white;
        }
      }
    }
    .dropdown-menu {
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
      background-color: white;
      position: absolute;
      z-index: 1000;
      right: 0;
      top: 100%;
      border-radius: 5px;
      min-width: 200px;

      max-height: 0;
      overflow: hidden;

      transform: translateX(-9999px);

      transition: max-height 0.8s ease-out;

      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0;
      }
      li {
        position: relative;

        i {
          position: absolute;
          color: black;
          top: 17px;
          left: 10px;
        }
        a {
          padding: 10px 20px 10px 20px;
          display: block;
          color: black;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: $red;
          }
        }
      }
    }
    &--mysafra {
      .dropdown-menu {
        right: auto;
        left: 0;
        li {
          a {
            padding: 15px 20px 15px 35px;
          }
        }
      }
    }
    &--yellow {
      background-color: $yellow;
      border-radius: 5px;
      color: black;
      padding: 7px 40px 7px 20px;
      .dropdown-handle {
        right: 10px;
        top: 7px;
        cursor: pointer;
        button {
          i {
            color: black;
            font-size: 8px;
          }
        }
      }
    }
  }
}

.social-media {
  display: none;
  padding-right: 20px;
  p {
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    &:first-child {
      padding-left: 20px;
    }
  }
  @include desktop {
    display: block;
  }
}
@include mobile {
  .header-top {
    .dropdown-item,
    .dropdown-item--yellow {
      padding-right: 40px;
    }
    .dropdown-item--mysafra {
      padding-right: 35px;
    }
    .dropdown-item--yellow .dropdown-handle {
      right: 7px;
    }
  }
}
@media (max-width: 360px) {
  .header-top {
    .dropdown-item,
    .dropdown-item--yellow {
      padding-right: 30px;
      padding-left: 10px;
    }
    .dropdown-item--mysafra {
      padding-left: 5px;
    }
    .dropdown-item--yellow .dropdown-handle {
      right: 3px;
    }
  }
}
