mixin header-top(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.header-top(class=spec.__class)&attributes(attributes)
    .container
      .nav-items
        .nav-item-group
          ul.nav-login-item
            li
              i.icomoon-signup
              a(href="#") Sign up for mySAFRA
            li.safra-signin
              i.icomoon-user
              a(href="https://mysafra.safra.sg/web/login.aspx?trackId=129821392381923819238") Login to mySAFRA
          .dropdown-item.mobile-only.dropdown-item--mysafra
            span mySAFRA account
            .dropdown-handle
              button
                i.icomoon-chevron-down
            .dropdown-menu
              ul
                li
                  i.icomoon-signup
                  a(href="#") Sign up for mySAFRA
                li
                  i.icomoon-user
                  a(href="") Login to mySAFRA
        .nav-item-group
          .social-media
            p Connect with us
              span
                a(href="https://www.instagram.com/safrasgp/" target="_blank")
                  i.icomoon-instagram
                a(href="https://www.facebook.com/SAFRAsg" target="_blank")
                  i.icomoon-facebook
                a(href="https://twitter.com/safrasg" target="_blank")
                  i.icomoon-twitter
                a(href="https://twitter.com/safrasg" target="_blank")
                  i.icomoon-youtube
          .dropdown-item.dropdown-item--yellow
            span Our Clubs
            .dropdown-handle
              button
                i.icomoon-chevron-down
            .dropdown-menu
              ul
                li
                  a(href="/club-landing") SAFRA CCK
                li
                  a(href="/safra-mtfaber") SAFRA Mt Faber
                li
                  a(href="/safra-jurong") SAFRA Jurong
                li
                  a(href="/club-landing") SAFRA Punggol
                li
                  a(href="/safra-tampines") SAFRA Tampines
                li
                  a(href="/safra-toapayoh") SAFRA Toa Payoh
                li
                  a(href="/safra-yishun") SAFRA Yishun



mixin header-top--microsite(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.header-top(class=spec.__class)&attributes(attributes)
    .container
      .nav-items
        .nav-item-group
          ul.nav-login-item
            li
              i.icomoon-signup
              a(href="#") Sign up for mySAFRA
            li.safra-signin
              i.icomoon-user
              a(href="") Login to mySAFRA
          .dropdown-item.mobile-only.dropdown-item--mysafra
            span mySAFRA account
            .dropdown-handle
              button
                i.icomoon-chevron-down
            .dropdown-menu
              ul
                li
                  i.icomoon-signup
                  a(href="#") Sign up for mySAFRA
                li
                  i.icomoon-user
                  a(href="") Login to mySAFRA
        .nav-item-group
          .safra-logo
            a(href="/")
              img(src="/assets/images/safra-logo.svg" alt="SAFRA Logo")
          .dropdown-item
            span Our Clubs
            .dropdown-handle
              button
                i.icomoon-chevron-down
            .dropdown-menu
              ul
                li
                  a(href="/club-landing") SAFRA CCK
                li
                  a(href="/safra-mtfaber") SAFRA Mt Faber
                li
                  a(href="/safra-jurong") SAFRA Jurong
                li
                  a(href="/safra-punggol") SAFRA Punggol
                li
                  a(href="/safra-tampines") SAFRA Tampines
                li
                  a(href="/safra-toapayoh") SAFRA Toa Payoh
                li
                  a(href="/safra-yishun") SAFRA Yishun

