//carousel-type-2 styles

.carousel-type-2,
.ajax-carousel-type-2 {
  .carousel-slider {
    visibility: hidden;
    &.slick-initialized {
      visibility: visible;
    }
  }
  .slide {
    padding: 20px;
  }
  .prev-btn,
  .next-btn {
    display: none;
    z-index: 99;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    &:hover {
      color: white;
      &::before {
        background-color: $red;
      }
    }
    i {
      position: relative;
      z-index: 1;
    }
    &.slick-disabled {
      color: $grey;
      &::before {
        background-color: $lightGrey;
      }
      cursor: not-allowed;
    }
    @include desktop {
      display: flex;
    }
  }
}
