mixin carousel-type-2(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .card-carousel.carousel-type-2(class=spec.__class)&attributes(attributes)
    if spec.prevArrow
      button.prev-btn
        i.icomoon-chevron-left
    if spec.nextArrow
      button.next-btn
        i.icomoon-chevron-right
    .carousel-slider
      block