//mobile-nav styles

.mobile-nav {
  display: none;

  position: relative;

  background-color: white;
  width: 100%;
  max-height: calc(100vh - 110px);
  overflow: auto;
  @include desktop {
    display: none !important;
  }
  ul {
    list-style-type: none;
    padding: 0px 20px;
    margin: 0;
    li {
      padding: 10px 10px;
      border-bottom: 1px solid #e4e4e4;
      position: relative;
      a {
        text-decoration: none;
        color: black;
        font-size: calc-em(15px);
        font-weight: 500;
        &:hover {
          color: $red;
        }
      }
      ul {
        li {
          border-bottom: none;
          a {
            font-weight: 300;
            font-size: calc-em(14px);
          }
        }
      }
    }
  }
  .lvl2nav {
    display: none;
  }
  .lvl2handle {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 10px;
    display: block;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    button {
      padding: 10px;
      color: black;
      background-color: transparent;
      border: none;
    }
    &.active {
      transform: rotate(-180deg);
    }
  }
}
