mixin mobile-nav(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.mobile-nav(class=spec.__class)&attributes(attributes)
    ul
      each item in spec.primary
        li
          a(href=item.url)
            span=item.name
          if item.megamenu
            .lvl2handle
              button
                i.icomoon-chevron-down
            ul.lvl2nav
              each lvl2item in item.megamenu
                if lvl2item.type == 'list' || lvl2item.type == 'normal'
                  li.lvl2item
                    a(href=lvl2item.url)
                      span=lvl2item.name
                    if lvl2item.children
                      ul.lvl3nav
                        each lvl3item in lvl2item.children
                          li.lvl3item
                            a(href=lvl3item.url)
                              span=lvl3item.name