
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/form/form
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"SAFRA Insurance", "url":"/insurance"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/feedback/banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"Feedback",
    })


block asideContent
  +side-nav({
    "items":[
      {
        "name":"About SAFRA",
        "url":"/about"
      },
      {
        "name":"Careers",
        "url":"/career"
      },
      {
        "name":"FAQs",
        "url":"/FAQ"
      },
      {
        "name":"Terms & Privacy",
        "url":"#"
      },
      {
        "name":"Feedback",
        "url":"/feedback"
      },
      {
        "name":"Contact Us",
        "url":"/contact-us"
      }
    ]
  })
block content
  +form()


block contentFooter
  +button-share()


