
extends ../_layouts/base

include ../_modules/atoms/section-title/section-title

include ../_modules/molecules/banner/banner
include ../_modules/molecules/card/card
include ../_modules/molecules/multi-step-form/multi-step-form
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/carousel-type-2/carousel-type-2
include ../_modules/molecules/ajax-carousel/ajax-carousel

include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities
include ../_modules/organisms/club-services/club-services
include ../_modules/organisms/club-personalized-section/club-personalized-section

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var micrositeClass = 'microsite--blue'

block content
  +banner-normal({
    "image":{
      "url":"/site-images/clublanding/banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "image":{
        "url":"/site-images/clublanding/club-logo.svg",
        "alt":"SAFRA pungol logo"
      },
      "description":"Nestled in the scenic Punggol Waterway Park, SAFRA Punggol is the first eco-friendly SAFRA club to receive the prestigious Building and Construction Authority Green Mark Platinum award.",
      "location":{
        "text":"9 Sentul Crescent, Punggol, Singapore 828654",
        "url":"https://www.google.com/maps/place/9+Sentul+Cres,+Singapore+821313/@1.4103163,103.903926,17z/data=!3m1!4b1!4m5!3m4!1s0x31da15fa910bd9d5:0x534d15a67dac6653!8m2!3d1.4103163!4d103.9061147"
      },
      "date":"Daily 9:00a.m - 9:00p.m",
      "phone":"6585 8718",
      "mediaIcons": [
        {
          "url": "#",
          "className": "icomoon-facebook"
        },
        {
          "url": "#",
          "className": "icomoon-instagram"
        }
      ]
    })
  +club-personalized-section()
  +club-facilities()
  +club-services()
  section.general-section
    .container
      +section-title({
        "cta":{
          "text":"See all happeningss",
          "url":"#"
        },
        "__class":"section-title--blue"
      })
        | <span class="text--grey"> GET</span> INVOLVED
    .ajax-carousel-section
      .container
        .row
          +ajax-carousel()

      script(id="get-involved" type="text/template" data-fixed-filter="location" data-fixed-filter-value="punggol" data-template-id="get-involved" data-api="/api/happening.json" class="listing-template" data-error-message="Sorry no Items Found")
        |{{~it :item:index }}
        .slide.match-height-elm
          +card({
            "image":"{{=item.ImageSrc}}",
            "alt":"{{=item.ImageAlt}}",
            "title":"{{=item.Title}}",
            "type":"{{=item.Type}}",
            "date":"{{=item.StartDate}}{{? item.EndDate}} - {{=item.EndDate}}{{?}}",
            "location":"{{=item.Location}}",
            "__class":"card--happening",
            "url":"{{=item.Link}}"
          })
        |{{~}}

  +club-deals({
    "items":site.data.clubDeals.punggol
  })
