
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/carousel-banner/carousel-banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/pagination-ajax/pagination-ajax
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"What's on", "url":"/whats-on"},{"name":"All Events", "url":"/events-listing"}]

block topContent
  +carousel-banner()
    .slide
      .carousel-banner__image
          img(src="/site-images/activity/banner1.jpg" alt="banner image")
    .slide
      .carousel-banner__image
        img(src="/site-images/activity/banner2.jpg" alt="banner image")

block asideContent
  +filter()
    +filter--search()
    +filter--select(name="location")
      option(value="all") All Locations
      option(value="safra-hq") SAFRA - HQ
      option(value="jurong") SAFRA - Jurong
      option(value="mount-faber") SAFRA - Mount Faber
      option(value="punggol") SAFRA - Punggol
      option(value="tampines") SAFRA - Tampines
      option(value="toa-payoh") SAFRA - Toa Payoh
      option(value="town-club") SAFRA - Town Club
      option(value="yishun") SAFRA - Yishun

    +filter--checkbox-list()
      p.checkbox-list-title Promotions
      input#filtercheckbox2(type="checkbox" name="other-item")
      label(for="filtercheckbox2") for all
      input#filtercheckbox3(type="checkbox" name="other-item")
      label(for="filtercheckbox3") for me-time
      input#filtercheckbox4(type="checkbox" name="other-item")
      label(for="filtercheckbox4") for my buddies
      input#filtercheckbox5(type="checkbox" name="other-item")
      label(for="filtercheckbox5") for my partner
      input#filtercheckbox6(type="checkbox" name="other-item")
      label(for="filtercheckbox6") for my family

    +filter--checkbox-list()
      p.checkbox-list-title Select Interest
      input#filter1(type="checkbox" name="category" value="show-all")
      label(for="filter1") Show all
      input#filter2(type="checkbox" name="category" value="sports-n-fitness")
      label(for="filter2") Sports & Fitness
      input#filter3(type="checkbox" name="category" value="education")
      label(for="filter3") Education
      input#filter4(type="checkbox" name="category" value="arts-n-creative")
      label(for="filter4") Arts & Creative
      input#filter5(type="checkbox" name="category" value="executive-programs")
      label(for="filter5") Executive Programs
      input#filter6(type="checkbox" name="category" value="f-n-b")
      label(for="filter6") F&B
      input#filter8(type="checkbox" name="category" value="social-and-talks")
      label(for="filter8") Social and Talks
      input#filter9(type="checkbox" name="category" value="leisure-n-entertainment")
      label(for="filter9") Leisure & Entertainment

block content
  +content-header({
    "title":"All Events",
  })
  .listing-section
    .contianer
      .row
        each item in site.data.eventsListing
          .listing-item.col-md-4.col-sm-6.match-height-elm
            +card({
              "image":item.image,
              "title":item.title,
              "date":item.date,
              "description":item.description,
              "location":item.location,
              "__class":"card--services",
              "url":"/event-article"
            })
      .row
        .col-md-12
          +pagination-ajax()


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




