//site-footer styles

.site-footer {
  padding: 40px 0px;
  border-top: 1px solid #9f9f9f;
  position: relative;

  overflow-x: hidden;
  max-width: 100%;

  .footer-nav-links {
    padding: 30px 0px;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      li {
        padding: 10px 60px 10px 0px;
        font-size: calc-em(17px);
        &:first-child {
          padding-left: 0;
        }
        a {
          text-decoration: none;
          color: black;
          &:hover {
            color: $red;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .footer-middle {
    padding: 30px 0px;
    border-bottom: 1px solid #979797;
  }
  .footer-logo-wrapper {
    p {
      font-size: 17px;
      font-weight: 500;
    }
  }
  .footer-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    a {
      padding: 10px 20px;
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .safra-app-info {
    padding: 10px 0px;
    @include mobile {
      display: flex;
      .safra-app-description {
        padding: 0px 10px;
      }
    }
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;

    .contact-item {
      width: 33.33%;
      @include mobile {
        width: 50%;
      }
    }
  }

  .microsite-logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .logo-item {
      width: 200px;
      height: auto;
      padding: 0px 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .back-to-top {
    display: flex;
    position: absolute;
    top: 0px;
    right: 10px;
    p {
      padding-right: 10px;
      font-size: cacl-em(15px);
      font-weight: 500;
    }
    button {
      padding: 10px 15px;
      border: 1px solid black;
      background-color: white;
      cursor: pointer;
      i {
        font-size: calc-em(24px);
        display: block;
        transform: rotate(-90deg);
      }
      &:hover {
        background-color: $red;
        color: white;
        border: 1px solid $red;
      }
    }
  }
  &.microsite--energy-one {
    background-color: black;
    color: white;
  }
}
