mixin site-footer(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.site-footer(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-12
          .site-logo
            a(href="/home-personalised")
              img(src="/assets/images/safra-logo-black.svg" alt="SAFRA logo")
      .row
        .col-md-12
          .footer-nav-links
            ul
              li
                a(href="/about")
                  span About SAFRA
              li
                a(href="/careers")
                  span Careers
              li
                a(href="/FAQ")
                  span FAQs
              li
                a(href="/contact-us")
                  span Locations
              li
                a(href="/feedback")
                  span Feedback
      .row
        .col-md-12
          .footer-middle
            .row
              .col-md-4.col-sm-6.match-height-elm
                .benefits-info
                  span
                    img(src="/assets/images/SAFRA-credit-card.svg" alt="SAFRA Credit cards")
                  .benefits-summary
                    p Discover a world of benefits in Food & Entertainment, Fitness & Adventure and Family & Enrichment. Visit our clubs in Jurong, Mount Faber, Punggol, Tampines, Toa Payoh, Yishun and Carpenter Street (Dining Club). Sign up today!
              .col-md-2.col-sm-6.match-height-elm
                .safra-app-info
                  a(href="#")
                    img(src="/assets/images/safraapp.svg" alt="download mSAFRA app now")
                  .safra-app-description
                    p For greater convenience, download mSAFRA for your e-card.
              .col-md-6.col-sm-12.match-height-elm
                .footer-logo-wrapper
                  p SAFRA Affiliated Organisation
                  .footer-logo
                    a(href="#")
                      img(src="/assets/images/mindeflogo.svg" alt="download mSAFRA app now")
                    a(href="#")
                      img(src="/assets/images/ns-logo.svg" alt="download mSAFRA app now")
                    a(href="#")
                      img(src="/assets/images/88.svg" alt="download mSAFRA app now")
                    a(href="#")
                      img(src="/assets/images/power98.svg" alt="download mSAFRA app now")
      .row
        .col-md-12
          .footer-bottom
            p © 2019 SAFRA. All Rights Reserved
            .footer-nav-links
              ul
                li
                  a(href="#")
                    span Terms of Use
                li
                  a(href="#")
                    span Privacy Policy
                li
                  a(href="/announcements")
                    span Announcements
                li
                  a(href="#")
                    span Sitemap
      .back-to-top
        p TO TOP
        button
          i.icomoon-arrow-next



mixin site-footer--microsite(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.site-footer.site-footer--microsite(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-12
          h1 Contact Us
            .row
        .col-md-12
          .footer-middle
            .row
              .col-md-6
                .contact-links
                  .contact-item
                    p
                      strong SAFRA Mount Faber
                    p Tel: 6377 3678
                  .contact-item
                    p
                      strong SAFRA Yishun
                    p Tel: 6585 8710
                  .contact-item
                    p
                      strong SAFRA Tampines
                    p Tel: 6788 8427
                  .contact-item
                    p
                      strong SAFRA Jurong
                    p Tel: 6686 4310
                  .contact-item
                    p
                      strong SAFRA Toa Payoh
                    p Tel: 6355 4560
                  .contact-item
                    p
                      strong SAFRA Punggol
                    p Tel: 6585 8781
              .col-md-6
                .microsite-logos
                  each item in spec.micrositeLogos
                    .logo-item
                      a(href="/")
                        img(src=item.url alt=item.alt)

      .row
        .col-md-12
          .footer-bottom
            p © 2019 SAFRA. All Rights Reserved
            .footer-nav-links
              ul
                li
                  a(href="#")
                    span Terms & Privacy
      .back-to-top
        p TO TOP
        button
          i.icomoon-arrow-next
