//form styles

.custom-form {
  display: block;
  background-color: $lightGrey;
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  &__header {
    margin-top: 40px;
    &:first-child {
      margin-top: 20px;
    }
    p {
      margin: 0;
      font-size: calc-em(24px);
    }
  }
  label {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
  }
  input[type="text"],
  textarea {
    width: 100%;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid $midGrey;
    margin: 5px 0px 20px 0px;
  }
  .custom-select {
    float: none;
    margin: 5px 0px 20px 0px;
  }

  textarea {
    height: 200px;
  }

  &__checkbox-wrapper {
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    display: inline-block;
    padding: 10px 30px 10px 30px;
    position: relative;
    width: max-content;
    max-width: 100%;
    cursor: pointer;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 2px;
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      border: 2px solid $darkGrey;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      background-color: white;
    }
    &::after {
      content: "";
      width: 10px;
      height: 20px;
      border-radius: 2px;
      display: block;
      position: absolute;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      top: 5px;
      left: 10px;
      border-bottom: 3px solid $red;
      border-right: 3px solid $red;
      //box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
    }
  }
  input[type="checkbox"]:checked + label {
    &::before {
      background-color: white;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      border: 2px solid black;
    }
    &::after {
      transform: rotate(45deg);
      opacity: 1;
    }
  }

  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    display: inline-block;
    padding: 10px 20px 10px 35px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      border: 2px solid $darkGrey;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 2px;
      display: block;
      position: absolute;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      top: 50%;
      left: 2px;
      background-color: $red;
      border-radius: 50%;
      //box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
      transform: translateY(-50%) scale(0);
    }
  }
  input[type="radio"]:checked + label {
    &::before {
      background-color: white;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      border: 2px solid white;
    }
    &::after {
      transform: translateY(-50%) scale(1);
      opacity: 1;
    }
  }
  .submit-btn {
    cursor: pointer;
    &:hover {
      background-color: white;
    }
  }
}

@include mobile {
  .custom-form {
    &__checkbox-wrapper {
      flex-direction: column;
      margin-bottom: 0;
    }
  }
}
