mixin form(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .custom-form(class=spec.__class)&attributes(attributes)
    .custom-form__header
      p Customer Information
    label(for="") SAFRA Member?:
    input#radio1(type="radio" name="member" value="Yes")
    label(for="radio1" name="member") Yes
    br
    input#radio2(type="radio" name="member" value="No")
    label(for="radio2" name="member") No

    br
    label(for="") Subscription
    .custom-form__checkbox-wrapper
      input(type='checkbox' name='sports' id ="sports" value='sports')
      label(for='sports') Sports
      input(type='checkbox' name='NS-Men' id ="NS-Men" value='NS-Men')
      label(for='NS-Men') NS Men
      input(type='checkbox' name='chalet' id ="chalet" value='chalet')
      label(for='chalet') Chalet
      input(type='checkbox' name='promotions' id ="promotions" value='promotions')
      label(for='promotions') Promotions

    br
    .custom-form__checkbox-wrapper
      input(type='checkbox' name='tnc' id ="tnc" value='tnc')
      label(for='tnc') Agree to Terms and Conditions

    .custom-form__checkbox-wrapper
      input(type='checkbox' name='emailme' id ="emailme" value='emailme')
      label(for='emailme') I want to receive email

    br
    label(for="textfield1") Member ID*:
    input#textfield1(type="text" name="Member ID")
    label(for="textfield2") Name*:
    input#textfield2(type="text" name="Name")
    label(for="textfield3") Contact Number*:
    input#textfield3(type="text" name="Contact Number")
    label(for="textfield4") Email Address*:
    input#textfield4(type="text" name="Email Address")
    .custom-form__header
      p Feedback/ Comments
    label(for="select1") Feedback*:
    select.custom-select#select1(name="Feedback")
      option(value="") Choose one
      option(value="Suggestion") Suggestion
      option(value="Request") Request
      option(value="Request") Request
      option(value="Complaint") Complaint
      option(value="Compliment") Compliment
    label(for="select2") Category*:
    select.custom-select#select2(name="Category")
      option(value="") Choose one
      option(value="Any Other Matters") Any Other Matters
      option(value="Club Matters") Club Matters
      option(value="Cohesion Services Matters") Cohesion Services Matters
      option(value="Insurance") Insurance
      option(value="Key Mico-Clubs/Interest Groups") Key Mico-Clubs/Interest Groups
      option(value="Major Events") Major Events
      option(value="Membership Matter") Membership Matter
      option(value="Online Services Matters") Online Services Matters
      option(value="Print Matters") Print Matters
      option(value="Youth Engagement and Events") Youth Engagement and Events

    label(for="select3") Area*:
    select.custom-select#select3(name="Area")
      option(value="") Choose one
      option(value="Suggestion") Area 1
    label(for="select4") Issue*:
    select.custom-select#select4(name="Issue")
      option(value="") Choose one
      option(value="Suggestion") Issue 1
    label(for="select5") Issue2*:
    select.custom-select#select5(name="Issue2")
      option(value="") Choose one
      option(value="Suggestion") Issue 2
    label(for="textarea1") Comments*:
    textarea#textarea1(name="Comments")
    input.submit-btn.button.button--fill(type="submit")
