
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"NurtureStars Preschool", "url":"/nurture-stars-preschool"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/nuturestar/banner.JPG",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"Stronger Bodies <br> Sharper Minds",
      "location":{
        "text":"SAFRA Yishun",
        "url":"#"
      }
    })


block asideContent
  //- +side-nav({
  //-   "items":[
  //-     {
  //-       "name":"NutureStars Preschool",
  //-       "url":"#",
  //-       "children":[
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         },
  //-         {
  //-           "name":"lvl2 item",
  //-           "url":"#"
  //-         }
  //-       ]
  //-     }
  //-   ]
  //- })
  +contact-card()
    p SAFRA Jurong <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Mount Faber <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Tampines <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Toa Payoh <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Yishun <br>
      a.link--phone(href="tel:+656686433") 6686 4333


block content
  +content-header({
    "image":"/site-images/nuturestar/logo.jpg",
    "title":"NutureStars Preschool",
  })
  p NurtureStars is committed to shaping young minds by providing quality pre-school education and childcare services under the guidance of dedicated teachers.

  p The NurtureStars Preschool provides a holistic range of programmes that includes:

  ul
    li <strong>NurtureStars Integrated Curriculum</strong> which combines concept teaching and concept investigation through didactic experiences.
    li <strong>JACPA Physical Education Programme</strong> which promotes active learning through physical movement and instill a positive attitude towards a healthy lifestyle.
    li <strong>NurtureFit Programme</strong> which promotes acquisition of fundamental movement skills as well as development of self-confidence, responsible habit, team spirit and a positive attitude towards a healthy lifestyle.
    li <strong>Comprehensive Selection of Enrichment Programmes</strong> for Children.

  p We provide classes to accommodate children between the ages of 18 months to 6 years old.

  .responsive-table
    table
      tr
        td *Infant
        td 2 months plus to 17 months
      tr
        td Pre-Nursery 1
        td 18 months to 2 years old
      tr
        td Pre-Nursery 2
        td 3 years old
      tr
        td Nursery
        td 4 years old
      tr
        td Kindergarten 1
        td 5 years old
      tr
        td Kindergarten 2
        td 6 years old

  p *Available at SAFRA Yishun Country Club, SAFRA Jurong, SAFRA Punggol and SAFRA Toa Payoh NurtureStars Preschool.
  p Do visit our website for more information or email us at <a href="mailto:enquiry@nurturestars.sg"> enquiry@nurturestars.sg </a>.

  h2 Our Sessions
  p For Pre-Nursery to Kindergarten 2 classes:
  table
    tr
      td Full Day Care
      td 7.00am - 7.00pm (Mon to Fri)
    tr
      td
      td 7.00am - 2.00pm (Sat)
    tr
      td Half Day Care
      td 7.00am - 1.00pm (Mon to Fri)
    tr
      td
      td 7.00am - 2.00pm (Sat)


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })



