
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/ajax-carousel/ajax-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter-bar/filter-bar


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Indoor Air Weapons Range", "url":"/IAWR"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/IAWR/banner.JPG",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"Make your mark at Singapore's largest and best-equipped air weapons range at SAFRA Yishun.",
      "location":{
        "text":"SAFRA Yishun",
        "url":"#"
      }
    })


block asideContent
  +side-nav({
    "items":[
      {
        "name":"Indoor Air Weapons Range",
        "url":"#",
        "children":[
          {
            "name":"Membership Rates",
            "url":"#"
          },
          {
            "name":" SAFRA Junior Shooting Program",
            "url":"#"
          },
          {
            "name":"Shooting Courses",
            "url":"#"
          },
          {
            "name":"Contact Us",
            "url":"#"
          }
        ]
      }
    ]
  })
  +contact-card()
    p If you would like to find out more on anything that interest you, get in touch with us and our friendly IAWR staff will guide you through the rest.

    p
      | <strong>Indoor Air Weapon Range</strong> <br>
      | SAFRA Yishun Country Club <br>
      | 60 Yishun Avenue 4 <br>
      | Singapore 769027 <br>

    p General: 6852 8224
    p Email: <a href="mailto:safrashootingclub@safra.sg">safrashootingclub@safra.sg</a>
  +related-links({
    "title":"Related Links",
    "cards":[
      {
        "image":"/site-images/function-room/swimming.jpeg",
        "title":"SAFRA FINS SWIM",
        "description":"Free TYR Junior Ranger Goggles for the first 200 new sign-ups",
        "url":"#"
      },
      {
        "title":"EnergyOne Gyms",
        "description":"Get the best in fitness at our EnergyOne Gyms!",
        "url":"#"
      },
      {
        "title":"Barbeque Pits",
        "description":"Got a feel to grill? Book barbeque pits online or drop by the front desk",
        "url":"#"
      }
    ]
  })

block content
  +content-header({
    "image":"/site-images/IAWR/logo.jpg",
    "title":"Indoor Air Weapons Range",
  })
  img(src="/site-images/IAWR/mainimage.JPG" alt="Young lady in shooting training at SAFRA Indoor Air weapon range")
  p We offer air rifle and air pistol shooting for those looking to join us as a Shooting Club member or have an event here.

  p Our 33-lane Competition Range features the latest Electronic Target System suitable for hosting national and regional shooting competitions. We also have an 11-lane Training Range, complete with target conveyors, projector and screen, making the perfect venue for recreational events and shooting courses.

  p If you are looking to learn to shoot, organise a team building activity or host a party, please contact safrashootingclub@safra.sg for a customised programme.

  h2 Operating Hours

  table
    tr
      td Monday
      td 1.30pm to 9.30pm
    tr
      td Tuesday to Saturday
      td 1.30pm to 9.30pm
    tr
      td Sunday & Public Holidays
      td 1.30pm to 9.30pm

  h1.text-center Check weapon range lane availablity
  +filter-bar--availablity()
  .listing-section
    .row
      .listing-item.col-md-4.col-sm-4.match-height-elm
        +card--normal({
          "image":"/site-images/iawr.jpg",
          "title":"Main Range"
        }).card--normal.card--normal-small
          p.text--green
            strong 10 Lanes available.
          +button({
            "text":"Book Now",
          }).button--green.button--rounded
      .listing-item.col-md-4.col-sm-4.match-height-elm
        +card--normal({
          "image":"/site-images/iawr.jpg",
          "title":"Range A"
        }).card--normal.card--normal-small
          p.text--green
            strong 10 Lanes available.
          +button({
            "text":"Book Now",
          }).button--green.button--rounded
      .listing-item.col-md-4.col-sm-4.match-height-elm
        +card--normal({
          "image":"/site-images/iawr.jpg",
          "title":"Range B"
        }).card--normal.card--normal-small
          p.text--red
            strong Sorry, No Lanes available at the selected date and time.
block contentFooter
  +button-share()

  h1 You may also like

  .ajax-carousel-section
    .container
      .row
        +ajax-carousel()

    script(id="benefits-and-promotion" type="text/template" data-template-id="benefits-and-promotion" data-api="/api/promotions.json" class="listing-template" data-error-message="Sorry no Items Found")
      |{{~it :item:index }}
      .slide.match-height-elm
        +card({
          "image":"{{=item.ImageSrc}}",
          "title":"{{=item.Title}}",
          "category":"{{=item.Category}}",
          "location":"{{=item.Location}}",
          "__class":"card--normal"
        })
      |{{~}}
  //- .row
  //-   +carousel-type-1()
  //-     each item in site.data.recommendationGeneral
  //-       .slide.match-height-elm
  //-         +card({
  //-           "image":item.image,
  //-           "title":item.title,
  //-           "description":item.description,
  //-           "category":item.category,
  //-           "location":item.location,
  //-           "__class":"card--normal"
  //-         })



