//app-intro-section styles

.app-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__image {
    width: 50%;
    min-width: 300px;
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: center;
  }

  &__content {
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }
}

.app-image {
  width: 255px;
  height: 528px;
  position: relative;
  padding: 10px;
  background-color: black;
  border-radius: 35px;
  display: block;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 10px auto;
  &::before {
    content: "";
    width: 255px;
    height: 532px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/assets/images/iphonebg.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }
  img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
