mixin app-intro-section(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .app-intro(class=spec.__class)&attributes(attributes)
    .app-intro__image
      .app-image
        img(src=spec.image alt="app screen")
    .app-intro__content
      block