mixin site-search(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .site-search
    .container
      .site-search__form(data-action="/search-results")
        input.site-search__input(type="text", placeholder="Search within the SAFRA website", name="keyword", required)
        button.btn.btn-search(type="submit")
          span.vh.label Search
          span.icon.icomoon-search