//site-search styles // site-search styles
$buttonColor: $red;

// site-search styles
.site-search {
  background: #f7f7f7;
  border-top: 1px solid #ebebeb;
  font-size: calc-em(16px);
  width: 100%;
  z-index: 3;
  padding: 10px 0px;
  display: none;
  .error-msg {
    color: red;
    font-size: calc-em(16px);
  }

  &__form {
    position: relative;
    width: 100%;
  }

  &__input {
    border: 0;
    border-radius: 5px;
    font-size: calc-em(18px);
    outline: 0;
    padding: 13px 100px 13px 10px;
    width: 100%;
    background-color: #fff;
  }

  .btn {
    background: $buttonColor;
    border: 1px solid $buttonColor;
    color: #fff;
    font-size: calc-em(16px);
    padding: 12px 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    margin: 0;
    .icon {
      //display: none;
      font-size: calc-em(15px);
      display: block;
    }

    &:hover,
    &:focus {
      box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.2);
    }
  }
  .btn-search {
    border-radius: 5px;
    padding: 15px;
  }
}

@media only screen and (max-width: $bpDesktop - 1) {
  .site-search {
    border-top: 0;
    padding: 10px 0;
    position: relative;

    > .container {
      margin: 0 -20px;
    }

    &__input {
      padding: 10px 15px 10px 55px;
    }

    .btn {
      background: none;
      border: 0;
      box-shadow: none;
      color: #000;
      font-size: 1em;
      padding: 10px 10px;
      position: absolute;
      left: 10px;
      top: 0;
      width: 40px;
      .label {
        border: 0;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        position: absolute;
        background: none;
        text-indent: 999px;
      }

      .icon {
        display: inline-block;
        font-size: 1.35em;
      }
    }
  }
}
