//contact-card styles
.contact-card {
  background-color: white;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 30px;
  &__title {
    font-size: calc-em(20px);
    font-weight: 500;
    background-color: $red;
    color: white;
    padding: 10px 20px;
    p {
      margin: 0;
    }
  }
  &__info {
    padding: 10px 20px;
  }
}
