mixin contact-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .contact-card(class=spec.__class)&attributes(attributes)
    .contact-card__title
      p Contact Info
    .contact-card__info
      block