
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Our Services", "url":"/services-landing"},{"name":"Category Title", "url":"/services-listing"},{"name":"Article","url":"/service-article"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/services/article-banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"All your protection under one roof",
    })


block asideContent
  +info-card--general({
    "title":"Operating Hours",
  })
    p Mon, 11am - 6.15pm

    p Tue, 12pm - 9pm

    p Wed to Fri, 11am - 9pm

    p Sat & Sun, 9am - 6pm
  +contact-card()
    p SAFRA Jurong <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Mount Faber <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Tampines <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Toa Payoh <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Yishun <br>
      a.link--phone(href="tel:+656686433") 6686 4333


block content
  +content-header({
    "title":"Sample Headline",
  })
  img(src="https://place-hold.it/800x300" alt="gift by changi")
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum error, qui inventore cupiditate cumque doloremque id odio magnam numquam dignissimos, itaque sint? Natus nulla ratione minima facere reiciendis eveniet hic.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dignissimos similique commodi.

  h2 Sub heading
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, recusandae sint necessitatibus minima laudantium modi velit eos eveniet debitis. Mollitia dolores, dignissimos voluptas quidem natus sed optio nam quisquam adipisci!

  h2 Sub headings
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, cumque. Quaerat error ea consequatur pariatur tempore aliquid vel repellat rem quos, neque, modi ratione. Esse soluta veritatis nihil natus eaque.

  h2 Bullet Points
  ul
    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe harum, illo sequi id qui perferendis hic animi molestias commodi architecto quam numquam quidem odio dolore enim aut voluptates unde!
    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat deleniti necessitatibus dignissimos esse sit, quo libero architecto in, nam dolorem doloribus consectetur quis quaerat natus voluptate tempora enim obcaecati quidem?
    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit culpa eveniet repellendus quam qui omnis! Eius sed quam reiciendis, et quidem voluptate cum magni, suscipit dignissimos minima a numquam est?
    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga at quo dolores eius porro itaque velit dolorem blanditiis esse consectetur, amet nesciunt molestiae culpa magnam, tempora, adipisci repudiandae sed quam?
    li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus accusamus alias aliquid expedita temporibus facere, quaerat culpa tenetur vero blanditiis unde similique quis aperiam sapiente, veniam sunt laudantium autem necessitatibus.

block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




