//calendar-listing styles
.event-calendar {
  .calendar-item {
    display: block;
    width: 100%;
    position: relative;
    background-color: $lightGrey;
    &:nth-child(2n) {
      background-color: white;
    }
    &__date {
      position: absolute;
      left: 10px;
      top: 10px;
      .date {
        color: $darkGrey;
        font-size: calc-em(40px);
        display: block;
        line-height: 1em;
        font-weight: bold;
        text-align: center;
      }
      .day {
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-weight: 200;
        font-size: cacl-em(14px);
        letter-spacing: 0.065em;
      }
    }
    &__events {
      display: flex;
      min-height: 100px;
      border-left: 1px solid $midGrey;
      margin-left: 80px;
      padding-left: 20px;
      padding-bottom: 30px;
      flex-wrap: wrap;
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px solid $grey;
        border-radius: 50%;
        position: absolute;
        left: 70px;
        top: 15px;
      }
    }
    &__event {
      display: block;
      max-width: 250px;
      padding: 15px 30px 10px 0px;
      &-title {
        text-decoration: none;
        color: black;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background-color: white;
        display: block;
        position: relative;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        overflow: hidden;
        z-index: 1;
        span {
          position: relative;
          z-index: 1;
        }
        &::before {
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0px;
          z-index: 0;
          background-color: $red;
          transform: translateX(-100%);
          transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &::after {
          content: "";
          display: block;
          height: 100%;
          width: 5px;
          position: absolute;
          top: 0;
          left: 0px;
          z-index: 0;
          background-color: $red;
        }
        &:hover {
          color: white;
          &::before {
            transform: translateX(0);
          }
        }
      }
    }
    &.active-item {
      .calendar-item__date {
        .date {
          color: $red;
        }
      }
      .calendar-item__events {
        &::before {
          background-color: $red;
          border: 2px solid white;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.calendar-listing {
  padding: 60px 0px;
  .filter-bar--availablity {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    .filter-bar__content {
      justify-content: flex-start;
      width: auto;
      align-items: center;
    }
  }
  .week-changer {
    display: block;
    .next-week,
    .prev-week {
      border: none;
      background-color: transparent;
      position: relative;
      display: inline-block;
      padding: 15px 20px;
      border: 1px solid $red;
      height: auto;
      margin: 10px 10px;
      border-radius: 40px;
      color: $red;
      cursor: pointer;
      &::before,
      &::after {
        font-family: $icomoon-font-family;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
      }
      &:hover {
        background-color: $red;
        color: white;
      }
    }
    .next-week {
      padding-right: 30px;
      &::after {
        content: $icomoon-arrow-next;
        right: 10px;
      }
    }
    .prev-week {
      padding-left: 30px;
      &::before {
        left: 10px;
        content: $icomoon-arrow-prev;
      }
    }
  }
}
