include ../../atoms/section-title/section-title
include ../../molecules/filter-bar/filter-bar


mixin calendar-listing(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .calendar-listing(class=spec.__class)&attributes(attributes)

    .container
      h1.text--title
        | CALENDAR<span class="text--red"> OF EVENTS </span>
    .filter-bar.filter-bar--availablity

      .filter-bar__content
        .filters
          .filter
            input#datepicker1.date-picker(name="date" data-id="datepicker1" placeholder="Choose a date.")
        .filter-btn
          button.button.button--fill
            span View Events
      .week-changer
        button.prev-week Prev week
        button.next-week Next week

    .event-calendar

    script(id="calendar-listing" type="text/template" data-template-id="calendar-listing" data-api="api/eventCalender.json" class="listing-template" data-error-message="Sorry no Items Found")
      |{{~it :item:index }}

      .calendar-item(class="{{?item.IsCurrent}}active-item{{?}}")
        .calendar-item__date
          span.date {{=item.Day}}
          span.day {{=item.DayOfTheWeek}}
        .calendar-item__events
          |{{~item.Events :event }}
          .calendar-item__event
            a(href="{{=event.Url}}").calendar-item__event-title
              span {{=event.Name}}
          |{{~}}
      |{{~}}

