
extends ../../_layouts/base-inner

include ../../_modules/atoms/button/button

include ../../_modules/atoms/content-header/content-header

include ../../_modules/molecules/side-nav/side-nav
include ../../_modules/molecules/accordion/accordion


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"FAQ", "url":"/faq"},{"name":"General Information","url":"/FAQ/general-information"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })


block asideContent
  +side-nav({
    "items":[
      {
        "name":"General Information",
        "url":"/FAQ/general-information",
        "__class":"active"
      },
      {
        "name":"Browser Compatibility",
        "url":"/FAQ/browser-compatibility"
      },
      {
        "name":"SAFRA Membership",
        "url":"/FAQ/safra-membership"
      },
      {
        "name":"EnergyOne Membership",
        "url":"/FAQ/energyone-membership"
      }
    ]
  })


block content
  +content-header({
    "title":"Frequently Asked Questions - General Information",
  })


  +accordion({
    "title":"Is it safe to make payments/input my personal details on mySAFRA?"
  })
    p Absolutely! mySAFRA uses SSL/password-protected accounts to safeguard the transmission of your personal information over the web. As for monetary transactions, information is protected using a private and secured line to NETS.
  +accordion({
    "title":"What is SAFRA?"
  })
    p SAFRA was formed in 1972 to provide for the social and recreational needs of national servicemen and their families through quality sports, social, educational and cultural programmes to recognise national servicemen for their contributions to national defence. SAFRA currently has a network of six clubs conveniently located in Jurong, Mount Faber, Punggol, Tampines, Toa Payoh and Yishun, as well as at the Carpenter Street (Dining Club). Complementing the modern facilities at SAFRA clubs are a host of quality membership benefits and activities specially packaged for over 600,000 members and their families.
  +accordion({
    "title":"How do I get to SAFRA?"
  })
    p Please click here to find the locations of our clubs.
  //- +accordion({
  //-   "title":"Browser Compatibility"
  //- })
  //-   h3 Which browser is safra.sg compatible with?
  //-   p The corporate website is best viewed in IE 7, 8 and 9, Apple Safari 5, Mozilla Firefox 3.6 and later, and Chrome 5 and later.

  //-   h3 Which browser is mySAFRA compatible with?
  //-   p mySAFRA is best viewed in IE 9, 10 and 11, Apple Safari 5, Mozilla Firefox 43.0.4 and later, and Chrome 47.0.2526 and later.

  //- +accordion({
  //-   "title":"SAFRA Membership: Eligibility & Applications"
  //- })
  //-   h3 Am I eligible to join SAFRA?
  //-   p SAFRA Membership is open to all Singapore Armed Forces (SAF) Operationally Ready National Servicemen (NSmen), full-time National Servicemen (NSFs), SAF regulars and their dependants.

  //-   p Membership categories depend on your NS status:

  //-   h3 ORDINARY (A) MEMBERSHIP
  //-   p For: All SAF Operationally Ready National Servicemen (NSmen) who have completed full-time National Service, as well as full-time National Servicemen (NSFs).

  //-   p Applicants must be Singapore citizens or permanent residents.

  //-   p Ordinary (A) Members will be converted to Ordinary (B) Members upon completion of their National Service liability (at the age of 50 years for officers and 40 years for other ranks).

  //-   h3 ORDINARY (B) MEMBERSHIP
  //-   p For: All SAF National Servicemen who have completed full-time National Service and are no longer liable for National Service.

  //-   p Applicants must be Singapore citizens or permanent residents.

  //-   h3 ASSOCIATE MEMBERSHIP
  //-   p For: All serving members of the SAF, i.e., SAF Regulars and Defence Executive Officers.

  //-   h3 VETERAN LEAGUE MEMBERSHIP
  //-   p Please contact SAF Veterans’ League Membership at 6355 4507.

  //-   h3 DEPENDENT MEMBERSHIP
  //-   p For: The female spouse and children aged between 5 to 20 years of SAFRA members (except those who are full-time National Servicemen, i.e. NSFs).

  //-   p The membership for dependants run concurrently with the principal SAFRA Membership. Its validity and related privileges shall lapse when the principal SAFRA member resigns or ceases to be a SAFRA Member, or is suspended when his Membership fee is outstanding. Dependant Membership for children shall lapse when they reach 21 years of age.

  //-   p Applicants can be Singapore citizens, permanent residents or foreigners.

  //-   p For queries on SAFRA membership, email mship_svc@safra.sg or call 1800 377 9800 or 6377 9893.

  //-   h3 How much does a SAFRA Membership cost?
  //-   p SAFRA Membership subscription fees are reasonably priced and offer good value-for-money.

  //-   p Read more about the benefits of being a SAFRA member! Please click here to find out more about SAFRA Membership.

  //- +accordion({
  //-   "title":"EnergyOne Membership: General Information"
  //- })
  //-   h3 How do I sign up for EnergyOne?
  //-   p To sign up for gym membership, please visit our EnergyOne gyms at any SAFRA club and approach our friendly staff at the service counters. Please bring along your NRIC and SAFRA Membership Card (if applicable) for verification purposes.

  //-   h3 When will I receive my new EnergyOne Membership Card?
  //-   p You will receive your new EnergyOne Membership Card within one month after your application is confirmed.

  //-   h3 Can my wife, who is a SAFRA Dependent Member, join EnergyOne?
  //-   p Yes, of course! We welcome your family to join us at EnergyOne. Read more about the membership types here.

  //-   h3 My son is 15 years old. Can he join EnergyOne?
  //-   p We regret that the minimum age for EnergyOne gym membership and its usage is 16 years old. This is part of our safety regulations. However, your son can still access a host of other sports facilities at SAFRA. Please click here for more info.

  //-   h3 EnergyOne Membership: Cancellations, waivers and suspensions
  //-   p How do I cancel my EnergyOne Membership?
  //-   p Please visit any of our EnergyOne service counters to obtain and complete the membership termination request form. You can also email the membership termination request form to EnergyOne@safra.sg to cancel your membership.

  //-   h3 I am unable to use the gym for a period of time. Can I suspend my membership and for how long?
  //-   p A waiver can be granted for In-Camp Training (at least 14 days) or medical conditions (e.g. hospitalisation, surgery or major illness). A waiver application form must be submitted together with the supporting documents. The membership will be waived in accordance to the indicated dates upon approval. Please visit any of our EnergyOne service counters to obtain and complete the waiver application form.

  //-   p Please visit any of our EnergyOne service counters to get a copy of the waiver application form. You can also email the waiver application form to EnergyOne@safra.sg. Other terms and conditions apply.

  //-   h3 I am travelling for business. What are the conditions to qualify me for a waiver of my EnergyOne membership?
  //-   p EnergyOne Members who are going overseas for study or job assignment for 2 months and more may apply for absent membership. An absent membership application form must be submitted together with the supporting documents at least two weeks prior to the effective date. An administrative fee of $3.20 (including GST) per month will apply for the full period of absence.

  //-   p Please submit your completed application form together with the relevant documents at any of the EnergyOne service counters or email EnergyOne@safra.sg. Other terms and conditions apply.

  //-   h3 I'm already a SAFRA Member. Why must I also sign up as an EnergyOne Member to enjoy the gym?
  //-   p SAFRA’s membership fees are kept low and affordable so that as many NSmen and their families can enjoy a host of benefits, such as discounts on lifestyle offerings provided by our partnering merchants island-wide and free access to our swimming pools which most members enjoy.

  //-   p For other niche SAFRA-managed facilities such as EnergyOne which caters to a particular segment of members, a nominal fee is charged for members who use our gyms to enjoy significantly discounted rates as compared to commercial gyms, while offering state of the art equipment. Those who do not use the gyms are also not penalised by having to bear the operational costs through a higher SAFRA membership fee structure. This allows SAFRA to keep our operations financially sustainable and members continue to enjoy benefits that meet their varied lifestyle needs.

block contentFooter
  +button-share()



