mixin cta-text-bar(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cta-text-bar(class=spec.__class)&attributes(attributes)
    each item in spec.items
      a(href=item.url).cta-text-item
        if item.image
          .cta-text-icon
            img(src=item.image alt="icon")
        p=item.text
