//cta-text-bar styles

.cta-text-bar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  flex-wrap: wrap;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.cta-text-item {
  flex-basis: 25%;
  color: $red;
  display: block;
  padding: 50px;
  font-size: calc-em(20px);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #ebebeb;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: white;
  cursor: pointer;
  &:last-child {
    border-right: none;
  }
  @include tablet {
    flex-basis: 50%;
    border-bottom: 1px solid #ebebeb;
  }
  @include mobile {
    flex-basis: 100%;
    border-bottom: 1px solid #ebebeb;
  }
  &:hover {
    color: white;
    background-color: $red;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  }
}

.microsite--energy-one {
  .cta-text-bar {
    background-color: $yellowEnergyOne;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0);
    .cta-text-item {
      background-color: $yellowEnergyOne;
      color: black;
      border-right: 1px solid black;
      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: white;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }
  }
}

.microsite--kids-amaze {
  .cta-text-bar {
    background-color: $kidsAmazeOrange;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0);
    .cta-text-item {
      background-color: $kidsAmazeOrange;
      color: black;
      border-right: 1px solid black;
      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: white;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }
  }
}
