include ../../molecules/ajax-carousel/ajax-carousel

mixin benefits-and-promotion(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.benefits-and-promotion(class=spec.__class)&attributes(attributes)
    .container
      +section-title({
        "cta":{
          "text":"See all benefits & promotions",
          "url":"/promotions-listing"
        },

      })
        | Benefits <span class="text--grey"> &</span> Promotions
    .ajax-carousel-section
      .container
        .row
          +ajax-carousel()

      script(id="benefits-and-promotion" type="text/template" data-template-id="benefits-and-promotion" data-api="/api/promotions.json" class="listing-template" data-error-message="Sorry no Items Found")
        |{{~it :item:index }}
        .slide.match-height-elm
          +card({
            "image":"{{=item.ImageSrc}}",
            "title":"{{=item.Title}}",
            "type":"{{=item.Type}}",
            "date":"{{=item.StartDate}}{{? item.EndDate}} - {{=item.EndDate}}{{?}}",
            "location":"{{=item.Location}}",
            "__class":"card--promotion",
            "url":"{{=item.Link}}"
          })
        |{{~}}