
extends ../_layouts/base

include ../_modules/atoms/section-title/section-title
include ../_modules/atoms/button/button

include ../_modules/molecules/banner/banner
include ../_modules/molecules/card/card

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options


block content
  +banner-full-width-promo({
    "imageLarge":{
      "url":"/site-images/promo/promo-large.jpg",
      "alt":"banner image"
    },
    "imageSmall":{
      "url":"/site-images/promo/promo-small.jpg",
      "alt":"banner image"
    }
  })
  .general-section
    .container
      +section-title({
        "cta": {
          "text":"View all deals"
        }
      })
        | Featured Deals of the month
    .listing-section
      .container
        .row
          each item in site.data.featuredPromos
            .listing-item.col-md-3.col-sm-6.match-height-elm
              +card({
                "image":item.image,
                "title":item.title,
                "type":item.type,
                "date":item.date,
                "location":item.location,
                "__class":"card--promotion"
              })
    .general-section.section-red
      .container
        .row
          .col-md-6
            img(src="/site-images/promo/promo-safra.jpg" alt="Safra promotion on membership" style="width: 100%;")
          .col-md-6
            h1.text--white Sign up/Renew your SAFRA Membership and earn extra chances for the SAFRA MEMBERSHIP GRAND DRAW!
            h2.text--white Wait no longer, apply now!
            +button({
              "text":"Find Out More"
            }).button--white
