



mixin club-personalized-section(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.general-section.club-personalized-section
    .container
      .row
        .col-md-12
          +section-title({
            "cta":{
              "text":"See your full itinerary",
              "url":"/explore-safra"
            },
            "__class":"section-title--small"
          })
            | Recommended <span class="text--black"> for you</span>
            p.text--subtitle.text--grey Based on your answers
        .col-md-4
          +multi-step-form()
        .col-md-8
          .ajax-carousel-type-4
            button.prev-btn
              i.icomoon-chevron-left
            button.next-btn
              i.icomoon-chevron-right
            .carousel-slider




    script(id="club-recommendation" type="text/template" data-fixed-filter="location" data-fixed-filter-value="punggol"  data-template-id="club-recommendation" data-api="/api/promotions.json" class="listing-template" data-error-message="Sorry no Items Found")
      |{{~it :item:index }}
      .slide.match-height-elm
        +card({
          "image":"{{=item.ImageSrc}}",
          "alt":"{{=item.ImageAlt}}",
          "title":"{{=item.Title}}",
          "date":"{{=item.StartDate}}{{? item.EndDate}} - {{=item.EndDate}}{{?}}",
          "duration":"{{=item.Duration}}",
          "location":"{{=item.Location}}",
          "__class":"card--club-recommendation",
          "url":"{{=item.Link}}"
        })

      |{{~}}