
extends ../_layouts/base-standard


include ../_modules/atoms/content-header/content-header
include ../_modules/molecules/card/card



block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Interest Groups", "url":"/interest-group-listing"}]

block content
  +content-header({
    "title":"Interest Groups",
  })
  .listing-section
    .row
      each item in site.data.interestGroupListing
        .listing-item.col-md-3.col-sm-6.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "icon":item.icon,
            "__class":"card--ig",
            "url":"/interest-group-article"
          })