
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter
include ../_modules/molecules/photo-gallery/photo-gallery


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Our facilities", "url":"/facilities-landing"},{"name":"F&B", "url":"/facilities-listing?F&B"},{"name":"Barbeque Pits","url":"/facilities-article"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/facilities/article-banner.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"SAFRA Facilities",
    })


block asideContent
  +contact-card()
    p SAFRA Jurong <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Mount Faber <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Tampines <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Toa Payoh <br>
      a.link--phone(href="tel:+656686433") 6686 4333
    p SAFRA Yishun <br>
      a.link--phone(href="tel:+656686433") 6686 4333

block content
  +content-header({
    "title":"Barbeque Pits",
  })
  img(src="/site-images/facilities/barbeque.jpg" alt="gift by changi")
  h2 location
  p
    strong SAFRA Jurong, SAFRA Mount Faber, SAFRA Tampines, SAFRA Toa Payoh, SAFRA Yishun
  p Got a feel to grill? Book barbeque pits online or drop by the front desk at any SAFRA club.
  p SAFRA members can book up to three months in advance and guests can enjoy special entry fees to club facilities. Terms and conditions apply.


  h2 SAFRA Jurong BBQ Pit & Swimming Pool Package^*
  p
    strong Morning Slot

  p 11am - 3pm (4-hr slot) – strictly no extension is allowed

  h3
    strong Evening Slot

  p 5pm - 9pm (4-hr slot) with option to extend your booking time till 10pm/11pm/12mn
  p *Payment for extension of BBQ pit can only be processed at the Customer Service Counter

  h3 <strong>Non-Peak:</strong> Mon - Thu
  h3 <strong>Peak:</strong> Fri, Sat, Sun, Eve of PH, PH & School Holidays

  h2 Booking charges inclusive of GST

  .table--responsive
    table
      tbody
        tr
          td
            strong SAFRA Members
          td
            strong Off-Peak
            br
            |  (4-hr slot)
          td
            strong Peak
            br
            |  (4-hr slot)
        tr
          td
            | BBQ Pit
            br
            br
            |  Booking fee for extension of evening slot: $10.70 per hour
            br
            br
            |  Please produce your BBQ pit booking receipt for verification at Customer Service Counter to extend your booking
          td $21.40
          td $42.80
        tr
          td
            | Swimming pool entry fee for 10 pax
            br
            br
            |  You can purchase up to 30 pax. Please produce your BBQ pit booking receipt for verification at Customer Service to purchase the passes
          td $10.70
          td $21.40
  br
  br
  .table--responsive
    table
      tbody
        tr
          td
            strong *Guests
          td
            strong Off-Peak
            br
            | (4-hr slot)
          td
            strong Peak
            br
            | (4-hr slot)
        tr
          td
            | BBQ Pit
            br
            br
            |  Booking fee for extension of evening slot: $13.75 per hour
            br
            br
            |  Please produce your BBQ pit booking receipt for verification at Customer Service Counter to extend your booking
          td $30.00
          td $55.00
        tr
          td
            | Swimming pool entry fee for 10 pax
            br
            br
            |  You can purchase up to 30 pax. Please produce your BBQ pit booking receipt for verification at Customer Service Counter in order to purchase the passes
          td $15.00
          td $27.50

  br

  br
  +photo-gallery()


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




