//listing-card styles

.listing-card {
  display: block;
  background-color: white;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 20px;
  height: 100%;
  &:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-weight: 500;
    font-size: calc-em(24px);
    width: 70%;
    p {
      margin: 0;
    }
  }
  &__button {
    font-weight: 500;
    width: 30%;
    text-align: right;

    p {
      margin: 0;
    }
    .cta-button {
      a {
        position: relative;
        color: $red;
        text-decoration: none;
        display: block;
        padding: 5px 20px 5px 10px;
        i {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:hover {
          i {
            transform: translateY(-50%) translateX(5px);
          }
        }
      }
    }
  }
  &__items {
    display: flex;
    margin: 0px -10px;
    @include mobile {
      display: block;
    }
  }
  &__item {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    color: black;
    width: 100%;
    &:hover {
      color: $red;
      text-decoration: underline;
    }
    &-image {
      width: 100%;
      height: 0;
      position: relative;
      padding-top: 75%;
      img {
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include objectfit-cover;
      }
    }
  }
  &--announcement {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    margin-bottom: 30px;
    &__title {
      font-size: calc-em(22px);
    }
  }
  &--media-release {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    display: block;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    p {
      margin: 0;
      color: black;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &__title {
      font-size: calc-em(20px);
      font-weight: 500;
      padding-bottom: 10px;
    }
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      p.listing-card--media-release__title {
        color: $red;
        text-decoration: underline;
      }
    }
  }
  &--search {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    display: block;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    p {
      margin: 0;
      color: black;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &__title {
      font-size: calc-em(20px);
      font-weight: 500;
      padding-bottom: 10px;
    }
    &__description {
      font-size: calc-em(15px);
      font-weight: 200;
    }
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      p.listing-card--search__title {
        color: $red;
        text-decoration: underline;
      }
    }
  }
}
