include ../../atoms/button/button


mixin listing-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.url = spec.url || '#'

  .listing-card(class=spec.__class)&attributes(attributes)
    .listing-card__header
      .listing-card__title
        p=spec.title
      .listing-card__button
        .cta-button
          a(href=spec.url)
            span View all
            i.icomoon-arrow-next
    .listing-card__content
      .listing-card__description
        p Description efficitur nunc sed cursus dignissim. In luctus gravida interdum. Mauris tortor mi, congue et porttitor at, sodales eget odio. In hac habitasse platea dictumst. Morbi bibendum urna vitae leo hendrerit convallis.
      .listing-card__items
        if spec.items
          each item in spec.items
            a(href="#").listing-card__item
              .listing-card__item-image
                img(src="https://place-hold.it/300x200" alt="placeholder image")
              .listing-card__item-title
                P=item.title
        else
          a(href="#").listing-card__item
            .listing-card__item-image
              img(src="https://place-hold.it/300x200" alt="placeholder image")
            .listing-card__item-title
              P Facility Title
          a(href="#").listing-card__item
            .listing-card__item-image
              img(src="https://place-hold.it/300x200" alt="placeholder image")
            .listing-card__item-title
              P Facility Title
          a(href="#").listing-card__item
            .listing-card__item-image
              img(src="https://place-hold.it/300x200" alt="placeholder image")
            .listing-card__item-title
              P Facility Title


mixin listing-card--announcement(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

    .listing-card--announcement(class=spec.__class)&attributes(attributes)
      p.listing-card--announcement__date=spec.date
      p.listing-card--announcement__title=spec.title
      p.listing-card--announcement__details
        block

mixin listing-card--media-release(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || '',
  - spec.link = spec.link || '#'

    a.listing-card--media-release(class=spec.__class href=spec.link)&attributes(attributes)
      p.listing-card--media-release__title=spec.title
      p.listing-card--media-release__date=spec.date



mixin listing-card--search(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

    a.listing-card--search(class=spec.__class href="#")&attributes(attributes)
      p.listing-card--search__title=spec.title
      p.listing-card--search__description=spec.description
