include ../_modules/atoms/breadcrumb/breadcrumb


include ../_modules/organisms/site-header/site-header
include ../_modules/organisms/site-footer/site-footer
include ../_modules/molecules/cookie-message/cookie-message


//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'

  - var page = config.page || ''
  - var breadcrumb = config.breadcrumb || [{"name":"Home","url":"/"}]

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title "safra prototype"
  meta(name='description', content= 'SAFRA')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet")
    link(rel='stylesheet', href= '/assets/styles/main.css')

body
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  +cookie-message({
    "message": "<p>To offer you a better experience, this site uses cookies. Read more about cookies in our <a href='#'>Privacy Statement</a>.</p>"
  })
  .page-scroll-progress
  +site-header({
    "logoImage":{
      "url1":"/assets/images/safra-logo.svg",
      "url2":"/assets/images/safra-logo-black.svg",
      "alt":"SAFRA Logo"
    },
    "primary":site.data.nav.primary
  })
  .site-wrapper

    block topContent
    section.section-with-aside
      .container
        .row.reverse-col
          .col-md-9.content-wrapper
            if breadcrumb
              +breadcrumb({
                "items": breadcrumb
              })
            .rte
              block content
          .col-md-3.aside-wrapper
            aside
              block asideContent
        .row.reverse-col
          .col-md-9
            .content-footer
              block contentFooter

  +site-footer()
  block scripts
    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c2471a3e4bcdcc5")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARvewYtX2yOX-EvryrfTHYJAn-7jVqSdI" type="text/javascript")
    script(type="text/javascript" src="/assets/scripts/telerik-dec-client.min.3.0.5.js")
    script(src= '/assets/scripts/main.js')

</html>
