include ../../molecules/cta-card/cta-card

mixin recommendation-section(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''


  section.general-section.recommendation-section(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-12
          h1
            span.text--grey Recommended
            |  for you:
      .row
        +card-carousel()
          each item in spec.content
            .slide.match-height-elm
              +cta-card({
                "image":{
                  "url":item.image.url,
                  "alt":item.image.alt
                },
                "title":item.title,
                "url":item.url
              })
        .carousel-indicator
          span.indicator-bg
            span.indicator
