//recommendation-section styles
.recommendation-section {
  @include desktop {
    margin-top: -150px;
  }

  h1 {
    font-size: calc-em(20px);
    padding-bottom: 20px;
    color: $red;
    text-transform: uppercase;
    letter-spacing: 0.265em;

    @include desktop {
      color: #ffffff;
      font-size: calc-em(24px);
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
      text-transform: capitalize;
      letter-spacing: 0;

      .text--grey {
        color: #fff;
      }
    }
  }
  .col-md-4 {
    padding: 10px 30px 10px 10px;
  }
  .slide {
    padding: 10px 20px;
  }
  .carousel-slider {
    display: flex;
    flex-wrap: wrap;
    .slide {
      width: 33.33%;
      @include tablet {
        width: 50%;
      }
    }
  }
  .carousel-indicator {
    display: none;
    position: relative;
    padding: 20px;
    @include mobile {
      display: block;
    }
    span {
      display: block;
      position: relative;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .indicator-bg {
      background-color: #e7e7e7;
    }
    .indicator {
      width: 0%;
      background-color: $yellow;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
