
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/molecules/banner/banner
include ../_modules/molecules/card/card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Allamanda Room @ Yishun", "url":"/function-rooms"}]


block topContent
  +banner-small({
    "image":{
      "url":"/site-images/function-room/banner.JPG",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"Allamanda Room @ Yishun",
      "location":{
        "text":"SAFRA Yishun",
        "url":"#"
      }
    })


block asideContent
  +contact-card()
    p
      strong Eve Yong
    p
      | Email: <a href="mailto:yeve@safra.sg"> yeve@safra.sg</a>
  +related-links({
    "title":"Related Links",
    "cards":[
      {
        "image":"/site-images/function-room/swimming.jpeg",
        "title":"SAFRA FINS SWIM",
        "description":"Free TYR Junior Ranger Goggles for the first 200 new sign-ups",
        "url":"#"
      },
      {
        "title":"EnergyOne Gyms",
        "description":"Get the best in fitness at our EnergyOne Gyms!",
        "url":"#"
      },
      {
        "title":"Barbeque Pits",
        "description":"Got a feel to grill? Book barbeque pits online or drop by the front desk",
        "url":"#"
      }
    ]
  })

block content
  h1 Allamanda Room @ Yishun
  p Holding a meeting or seminar? The Allamanda Room can accommodate up to 100 people and is ideal for functions and corporate events.

  +button({
    "text":"Enquire now"
  }).button--fill

  h2 Guests & Dimensions
  .table--responsive
    table
      thead
        tr
          td(rowspan="2") Name of Room
          td(rowspan="2") Size of Room
          td(colspan="4") Maximum Capacity
        tr
          td Theatre
          td Classroom
          td U Shape
          td Dinner
      tbody
        tr
          td Allamanda Room (Combination of Canna, Balsam & Allamanda Rooms)(Seminar) 2nd Level
          td 8.9m by 16.8m (149.52sq m)
          td 150
          td 80
          td 42
          td 100
  h2 Operating Hours
  p Daily, 8am to 11pm.
block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




