//carousel-banner styles

.carousel-banner {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .prev-btn {
    left: 20px;
  }
  .next-btn {
    right: 20px;
  }
  .prev-btn,
  .next-btn {
    display: flex;
    z-index: 99;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: calc-em(32px);
    z-index: 99;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    &:hover {
      color: white;
      &::before {
        background-color: $red;
      }
    }
    i {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.slick-disabled {
      color: $grey;
      &::before {
        background-color: $lightGrey;
      }
      cursor: not-allowed;
    }
  }
  &--hero {
    .next-btn,
    .prev-btn {
      @include mobile {
        display: none !important;
      }
    }
  }
}
