

mixin carousel-banner(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .carousel-banner(class=spec.__class)&attributes(attributes)
    button.prev-btn
      i.icomoon-chevron-left
    button.next-btn
      i.icomoon-chevron-right
    .banner-slider
      block

mixin carousel-banner--hero(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .carousel-banner.carousel-banner--hero(class=spec.__class)&attributes(attributes)
    button.prev-btn
      i.icomoon-chevron-left
    button.next-btn
      i.icomoon-chevron-right
    .banner-slider
      block
