mixin range-slider-section(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .range-slider-section(class=spec.__class)&attributes(attributes)
    .container.container-sm
      .row
        .col-md-12.text-center
          h1 Programmes
          p Choose your child's proficiency level to explore programmes suited for his/her level.
      .row
        .col-md-12
          +filter-bar--slider()

    .range-slider-section-content.container.container-sm
      .listing-section#slider-section-item-1.active
        .row
          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program1.jpg",
              "title":"FINS Integrated Swimming Program"
            }).card--normal

          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program2.jpg",
              "title":"Intermediate Programme "
            }).card--normal

          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program3.jpg",
              "title":"FINS Junior Synchronised Swimming"
            }).card--normal
      .listing-section#slider-section-item-2
        .row
          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program1.jpg",
              "title":"FINS Integrated Swimming Program"
            }).card--normal

          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program2.jpg",
              "title":"Intermediate Programme 2"
            }).card--normal

          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program3.jpg",
              "title":"FINS Junior Synchronised Swimming"
            }).card--normal
      .listing-section#slider-section-item-3
        .row
          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program1.jpg",
              "title":"FINS Integrated Swimming Program"
            }).card--normal

          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program2.jpg",
              "title":"Intermediate Programme 3"
            }).card--normal

          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program3.jpg",
              "title":"FINS Junior Synchronised Swimming"
            }).card--normal
      .listing-section#slider-section-item-4
        .row
          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program1.jpg",
              "title":"FINS Integrated Swimming Program"
            }).card--normal

          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program2.jpg",
              "title":"Intermediate Programme 4"
            }).card--normal

          .listing-item.col-md-4.match-height-elm
            +card({
              "image":"/site-images/fins/program3.jpg",
              "title":"FINS Junior Synchronised Swimming"
            }).card--normal