
extends ../_layouts/base



include ../_modules/organisms/calendar-listing/calendar-listing

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options


block content
  .container
    .row
      .col-md-12
        +calendar-listing()