mixin filter(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filters(class=spec.__class)&attributes(attributes)
    block
  .open-filters
    span.open-filters--text Filter
    .open-filters--icon
      span.top
      span.bottom


mixin filter--select(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  select.custom-select.filter-item.filter--select(class=spec.__class)&attributes(attributes)
    block

mixin filter--search(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filter-item.filter--search(class=spec.__class)&attributes(attributes)
    input#keyword-search(type="text" placeholder="Search" name="keyword")
    label.vh(for="keyword-search") Search
    button.filter--search-btn(role="submit" title="submit")
      i.icomoon-search


mixin filter--checkbox-list(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filter--checkbox-list(class=spec.__class)&attributes(attributes)
    block


mixin filter--radio-list(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filter--radio-list(class=spec.__class)&attributes(attributes)
    block