//filter styles
.filters {
  position: fixed;
  display: block;
  z-index: 1003;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 60px 30px 80px 30px;
  transform: scale(0);
  opacity: 0;
  transform-origin: bottom left;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: white;
  @include desktop {
    overflow: visible;
  }
  &.open {
    transform: scale(1);
    opacity: 1;
  }
  .filter-item {
    display: block;
    margin-bottom: 20px;
  }
  .filter--select {
    display: block;
    width: 100%;
    float: none !important;
  }
  .filter--search {
    position: relative;
    input {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $midGrey;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
      height: 100%;
      border: 1px solid $red;
      background-color: $red;
      color: white;
      border-radius: 0px 5px 5px 0px;
    }
  }
  .filter--checkbox-list {
    padding: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    .checkbox-list-title {
      font-weight: 500;
      font-size: cacl-em(18px);
    }
    input {
      display: none;
    }
    label {
      display: block;
      padding: 10px 20px 10px 35px;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 2px;
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        border: 2px solid $darkGrey;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &::after {
        content: "";
        width: 10px;
        height: 20px;
        border-radius: 2px;
        display: block;
        position: absolute;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        top: 5px;
        left: 10px;
        border-bottom: 3px solid $red;
        border-right: 3px solid $red;
        //box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
      }
    }
    input[type="checkbox"]:checked + label {
      &::before {
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        border: 2px solid white;
      }
      &::after {
        transform: rotate(45deg);
        opacity: 1;
      }
    }
  }
  .filter--radio-list {
    padding: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    .radio-list-title {
      font-weight: 500;
      font-size: cacl-em(18px);
    }
    input {
      display: none;
    }
    label {
      display: block;
      padding: 10px 20px 10px 35px;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        border: 2px solid $darkGrey;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &::after {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 2px;
        display: block;
        position: absolute;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        top: 10px;
        left: 2px;
        background-color: $red;
        border-radius: 50%;
        //box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
        transform: scale(0);
      }
    }
    input[type="radio"]:checked + label {
      &::before {
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        border: 2px solid white;
      }
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  @include desktop {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    top: auto;
    bottom: auto;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
}

.open-filters {
  position: fixed;
  z-index: 1004;
  background-color: $red;
  color: white;
  bottom: 20px;
  left: 20px;
  border-radius: 40px;
  padding: 10px 60px 10px 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  @include desktop {
    display: none;
  }
  &--text {
    text-transform: uppercase;
    letter-spacing: 0.17em;
  }
  &--icon {
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: red;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: translateY(-50%) translateX(-50%);
      &.bottom {
        transform: translateY(-50%) translateX(-50%) rotate(90deg);
      }
    }
  }
  &.open {
    .open-filters--icon {
      span {
        &.top {
          transform: translateY(-50%) translateX(-50%) rotate(-45deg);
        }
        &.bottom {
          transform: translateY(-50%) translateX(-50%) rotate(45deg);
        }
      }
    }
  }
}

.apply-filter-button {
  margin-top: 20px;
}
