.icon-card {
  padding: 20px 0px;
  display: block;
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $red;
  }
  &__image {
    max-width: 250px;
    height: auto;
    border-bottom: 1px dotted $darkGrey;
    margin: 0 auto;
    position: relative;
    display: block;
    padding-bottom: 30px;
    img {
      height: 90px;
      width: auto;
      margin: 0 auto;
      position: relative;
      display: block;
    }
  }
  &__content {
    text-align: center;
    position: relative;
    margin: 0 auto;
    max-width: 250px;
  }
  &__title {
    font-weight: 500;
    font-size: calc-em(22px);
    @include mobile {
      font-size: calc-em(14px);
    }
  }
  &__description {
    font-size: calc-em(18px);
    @include mobile {
      font-size: calc-em(14px);
    }
    font-weight: 100;
  }

  &--with-bg {
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    border-radius: 10px;
  }
}
