mixin icon-card(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.url = spec.url || "#"

  a.icon-card(class=spec.__class href=spec.url)&attributes(attributes)
    .icon-card__image
      img.lazyload(data-src=spec.image alt="icon image")
    .icon-card__content
      p.icon-card__title=spec.title
      p.icon-card__description=spec.description
