//carousel-type-3 styles

.carousel-type-3 {
  .carousel-slider {
    @include mobile {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .slide {
    padding: 30px 20px;
    @include mobile {
      width: 50%;
      padding: 10px 20px;
    }
  }
  .overflow-carousel {
    @extend %clearfix;

    .carousel-nav,
    .carousel-wrapper {
      float: left;
    }
    .carousel-nav {
      width: 20%;
      height: 100%;
      padding: 0px 20px;
      display: flex;
      align-items: center;

      @include desktop {
        width: 20%;
      }

      @include mobile {
        display: none;
      }

      .prev-arrow,
      .next-arrow {
        display: block;
        border: 1px solid white;
        background-color: transparent;
        border-radius: 50%;
        padding: 10px 12px;
        color: white;
        margin: 10px;
        font-size: calc-em(20px);
        cursor: pointer;
        &:hover {
          background-color: white;
          color: $red;
        }
        &:focus {
          outline: none;
        }
      }
      .carousel-slide-indicator {
        font-weight: bold;
        color: white;

        .current {
          font-size: calc-em(50px);
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 2px;
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: white;
          }
        }
        .total {
          font-size: calc-em(29px);
        }
      }
    }
    .carousel-wrapper {
      width: 100%;
      // .slide {
      //   width: 60% !important;
      // }

      @include desktop {
        width: 80%;
      }

      @include tablet {
        width: 80%;
      }

      .card {
        width: 250px;
        @include mobile {
          width: 100%;
        }
      }
    }
  }

  .carousel-section {
    position: relative;
    &::before {
      content: "";
      width: 35%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $red;
      z-index: -1;
      @include mobile {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .overflow-carousel {
    margin-left: calc((100% - #{$bpDesktop}) / 2);
  }
}

@media only screen and (min-width: $bpXLgDesktop) {
  .overflow-carousel {
    margin-left: calc((100% - #{$bpXLgDesktop}) / 2);
  }
}
