mixin carousel-type-3(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .carousel-type-3(class=spec.__class)&attributes(attributes)
    .carousel-section
      .overflow-carousel
        .carousel-nav.match-height-item
          .carousel-arrows
            button.prev-arrow
              i.icomoon-arrow-prev
            button.next-arrow
              i.icomoon-arrow-next
            .carousel-slide-indicator
              span.current 01
              span.total /03

        .carousel-wrapper.match-height-item
          .card-carousel
            .carousel-slider
              block
