
extends ../../_layouts/base-inner


include ../../_modules/atoms/button/button

include ../../_modules/atoms/content-header/content-header

include ../../_modules/molecules/banner/banner
include ../../_modules/molecules/pagination/pagination
include ../../_modules/molecules/side-nav/side-nav
include ../../_modules/molecules/card/card
include ../../_modules/molecules/card-carousel/card-carousel
include ../../_modules/molecules/carousel-type-1/carousel-type-1
include ../../_modules/molecules/contact-card/contact-card
include ../../_modules/molecules/info-card/info-card
include ../../_modules/molecules/related-links/related-links
include ../../_modules/molecules/filter/filter
include ../../_modules/molecules/cta-text-bar/cta-text-bar


include ../../_modules/organisms/club-deals/club-deals

include ../../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Events", "url":"/event-listing"},{"name":"SAFRA Entrepreneurs’ Marketplace","url":"/event-article"},{"name":"Sponsors and Partners","url":"/event-article/sponsors-and-partners"}]

block topContent
  //- +banner-small({
  //-   "image":{
  //-     "url":"/site-images/clublanding/banner.jpeg",
  //-     "alt":"banner image"
  //-   }
  //- })
  //-   +info-card({
  //-     "title":"All your protection under one roof",
  //-   })
block asideContent
  +side-nav({
    "items":[
      {
        "name":"SAFRA Entrepreneurs’ Marketplace",
        "url":"/event-article",
        "children":[
          {
            "name":"Creative Workshop Registration",
            "url":"/event-article/creative-workshop-registration"
          },
          {
            "name":"Sponsors and Partners",
            "url":"/event-article/sponsors-and-partners",
            "__class":"active"
          },
          {
            "name":"To apply for a Booth",
            "url":"/event-article/to-apply-for-a-booth"
          }
        ]
      },

    ]
  })

block content
  +content-header({
    "title":"Sponsors and Partners",
  })
  img(src="/site-images/event1.jpg" alt="article image" style="width: 100%; height: auto;" )
  br
  p SAFRA Entrepreneurs’ Marketplace is proud to receive the support from the following companies:

  h2 Platinum Sponsor
  img(src="https://www.safra.sg/~/media/Images/Participate/Logos/FirstCom-Solutions.ashx" alt="FirstCom Solutions")

  h2 Gold Sponsors
  img(src="https://www.safra.sg/~/media/Images/Participate/Logos/G-Search.ashx" alt="G Search")

  h2 Silver Sponsors
  span(style="padding:10px")
    img(src="https://www.safra.sg/~/media/Images/Participate/Logos/Compressport.ashx")
  span(style="padding:10px")
    img(src="https://www.safra.sg/~/media/Images/Participate/Logos/Elomart.ashx")
  span(style="padding:10px")
    img(src="https://www.safra.sg/~/media/Images/Participate/Logos/Firefly-Photography.ashx")
  span(style="padding:10px")
    img(src="https://www.safra.sg/~/media/Images/Participate/Logos/Frozt.ashx")
  span(style="padding:10px")
    img(src="https://www.safra.sg/~/media/Images/Participate/Logos/Kordels.ashx")
  br
  h3 Be an esteemed Partner/ Sponsor for the SEC Marketplace and be entitled to:
  ul
    li Share your brand content and promotions through SAFRA digital media channels*
    li Marketing outreach of 1.2 million in 2018. Potential marketing outreach of more than 1.3 million in 2019.
    li Direct access to over 60 booth vendors and 2000 visitors over 2 days.
    li More than 80% of past vendors and visitors expressed interest to participant in the event in 2019.
    li 40% of the visitors are between 17 to 35 years old.
    li 78% of the visitors spent more than $50.
  p *The above are subject to SAFRA's and event's Terms & Conditions.

  p Keen to sponsor or partner us? Email us at sec@safra.sg.
  br
  +button({
    "text":"Register now",
    "__class":"button--fill button--with-arrow"
  })


block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




