mixin faq-cta(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.faq-cta(class=spec.__class href=spec.url)&attributes(attributes)
    .faq-cta__title
      p=spec.title