//faq-cta styles
.faq-cta {
  display: block;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.08);
  margin: 30px 0px;
  text-decoration: none;
  color: black;
  transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  &__title {
    padding: 30px 60px 30px 30px;
    position: relative;
    p {
      font-size: calc-em(26px);
      font-weight: 500;
      margin: 0;
      @include mobile {
        font-size: calc-em(20px);
      }
    }
    &::after {
      content: $icomoon-chevron-right;
      font-family: $icomoon-font-family;
      font-size: 25px;
      display: block;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  &:hover {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.16);
    .faq-cta__title {
      &::after {
        color: $red;
        transform: translateY(-50%) translateX(10px);
      }
    }
  }
}
