
extends ../_layouts/base-standard


include ../_modules/atoms/content-header/content-header
include ../_modules/molecules/listing-card/listing-card
include ../_modules/molecules/carousel-banner/carousel-banner



block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"Our Services", "url":"/services-landing"}]


block topContent
  +carousel-banner()
    .slide
      .carousel-banner__image
          img(src="/site-images/services/banner.jpg" alt="banner image")
    .slide
      .carousel-banner__image
        img(src="/site-images/services/banner.jpg" alt="banner image")


block content


  +content-header({
    "title":"Our Services",
  })
  .listing-section
    .row
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Chalets & Villas",
          "url":"/services-listing?Chalets & Villas"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Insurance",
          "url":"/services-listing?Insurance"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Child Care & Enrichment",
          "url":"/services-listing?Child Care & Enrichment"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Cohesion Services",
          "url":"/services-listing?Cohesion Services"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Education Schemes",
          "url":"/services-listing?Education Schemes"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Free Legal Information",
          "url":"/services-listing?Free Legal Information"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Automotive",
          "url":"/services-listing?Automotive"
        })
      .listing-item.col-md-6.match-height-elm
        +listing-card({
          "title":"Health & Beauty",
          "url":"/services-listing?Health & Beauty"
        })