
extends ../_layouts/base


include ../_modules/atoms/button/button

include ../_modules/molecules/cta-text-bar/cta-text-bar
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/carousel-type-4/carousel-type-4
include ../_modules/molecules/card/card
include ../_modules/molecules/banner/banner
include ../_modules/molecules/icon-card/icon-card
include ../_modules/molecules/social-media-grid/social-media-grid

include ../_modules/organisms/landing-banner/landing-banner

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var microsite = true
  - var micrositeClass = "microsite--energy-one"
  - var micrositeLogo = "/site-images/energyone-logo.png"
  - var micrositeFooterLogos = [{"url":"/assets/images/safra-logo.svg","alt":"Safra logo"},{"url":"http://localhost:3001/site-images/energyone-logo.png","alt":""}]

block content
  //- +landing-banner()
  //-   .slide
  +banner-full-width({
    "image":{
      "url":"/site-images/energyone/banner.jpg",
      "link": "https://www.google.com"
    }
  })
    h1 
        //- +button({
        //-   "text":"Find out more",
        //-   "__class":"button--fill"
        //- })
  +cta-text-bar({
    "items":[
      {
        "image":"/site-images/energyone/icon1.svg",
        "text":"Gym Facilities & Services",
        "url":"#"
      },
      {
        "image":"/site-images/energyone/icon2.svg",
        "text":"Membership & Fees",
        "url":"#"
      },
      {
        "image":"/site-images/energyone/icon3.svg",
        "text":"Promotions",
        "url":"#"
      },
      {
        "image":"/site-images/energyone/icon4.svg",
        "text":"IPPT@SAFRA",
        "url":"#"
      }
    ]
  })
  section.section-dark-grey.no-padding
    +carousel-type-4()
      each item in site.data.energyoneLocations
        .slide.match-height-elm
          +card({
            "image":item.image,
            "location":item.location,
            "__class":"card--dark",
          })
            each subitem in item.operatingHours
              p.card__operating-hours
                span.day=subitem.day
                span.time=subitem.time
    .container
      .row.mobile-only
        .col-md-12.text-center.padding-m
          +button({
            "text":"See all vouchers",
            "url":"#"
          })
  section.section-black
    .container
      .row
        .col-md-12.text-center
          h1.text--title-small.text--align-center Courses
    .container
      .row
        +carousel-type-1()
          each item in site.data.energyoneCourses
            .slide.match-height-elm
              +card({
                "image":item.image,
                "title":item.title,
                "description":item.description,
                "type":item.type,
                "date":item.date,
                "location":item.location
              }).card--courses
  section.general-section
    .container
      .row
        .col-md-12.text-center
          h1.text--title-small.text--align-center Experience the extraordinary at the most affordable price!
      .listing-section
        .row
          .col-flex.col-flex__center
            .listing-item.col-md-4.col-sm-4.match-height-elm
              +icon-card({
                "image":"/site-images/energyone/feature-icon1.svg",
                "description":"Spend at participating merchants in all SAFRA clubs and exclusive partners*"
              })
            .listing-item.col-md-4.col-sm-4.match-height-elm
              +icon-card({
                "image":"/site-images/energyone/feature-icon2.svg",
                "description":"Sign up/ renew SAFRA Membership, SAFRA Interest Group or EnergyOne Gym Membership (including per entry fees)"
              })
            .listing-item.col-md-4.col-sm-4.match-height-elm
              +icon-card({
                "image":"/site-images/energyone/feature-icon3.svg",
                "description":"Book SAFRA operated facilities and/or D’Resort stays (under SAFRA operated units)"
              })

            .listing-item.col-md-4.col-sm-4.match-height-elm
              +icon-card({
                "image":"/site-images/energyone/feature-icon4.svg",
                "description":"Pay for SAFRA organized activities (for payments made through SAFRA)"
              })
            .listing-item.col-md-4.col-sm-4.match-height-elm
              +icon-card({
                "image":"/site-images/energyone/feature-icon4.svg",
                "description":"Purchase SAFRA - NTUC group insurance policies (for payments made through SAFRA)"
              })
  +banner-featured({
    "image":{
      "url":"/site-images/energyone/featured-banner1.jpg",
      "alt":"banner image"
    }
  })
    h2 Personal Training Promotion
    p Get 2 free personal training sessions with sign-up of every 10 sessions!
    +button({
      "text":"Find out more",
      "__class":"button--fill"
    })
  section.general-section.section-white
    .container
      .row
        .col-md-12.text-center
          h1.text--align-center Connect with us @EnergyOne.SAFRA
    +social-media-grid()
    <div class="col-md-9">
      <div class="content-footer">
        <a class="addthis_button_compact button button--share" href="#"><span>SHARE</span><i class="icomoon-share-2"></i></a>
      </div>
    </div>
