extends ../_layouts/base

include ../_modules/organisms/landing-banner/landing-banner
include ../_modules/organisms/recommendation-section/recommendation-section
include ../_modules/organisms/whatson-section/whatson-section
include ../_modules/organisms/explore-safra/explore-safra
include ../_modules/organisms/recommendation-section/recommendation-section
include ../_modules/organisms/benefits-and-promotion/benefits-and-promotion
include ../_modules/organisms/perks/perks
include ../_modules/organisms/interest-groups/interest-groups
include ../_modules/organisms/nsman/nsman
include ../_modules/organisms/e-vouchers/e-vouchers
include ../_modules/organisms/treats-and-deals/treats-and-deals
include ../_modules/organisms/feed-customizer/feed-customizer

block config
  - var page = 'homepage'
  - var site = htmlWebpackPlugin.options //global site data

block content
  +landing-banner({
    "image":"/site-images/persona/banner-couple.png"
  })
    p.subtitle Find your special experience with SAFRA
    h1 Celebrate every moment at SAFRA
  +recommendation-section({
    "content":site.data.recommendation
  })
  +explore-safra({
    "personalised": true
  })
  +treats-and-deals()
  +perks()
  +benefits-and-promotion({
    "items": site.data.personalised.promotions
  })
  +whatson-section()
  +interest-groups()
  +nsman()
  +e-vouchers()
  +feed-customizer()
