
extends ../_layouts/base-inner


include ../_modules/atoms/button/button

include ../_modules/atoms/content-header/content-header

include ../_modules/molecules/banner/banner
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/card/card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/card-carousel/card-carousel
include ../_modules/molecules/carousel-type-1/carousel-type-1
include ../_modules/molecules/contact-card/contact-card
include ../_modules/molecules/info-card/info-card
include ../_modules/molecules/related-links/related-links
include ../_modules/molecules/filter/filter


include ../_modules/organisms/club-deals/club-deals

include ../_modules/organisms/club-facilities/club-facilities

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var breadcrumb = [{"name":"Home","url":"/"},{"name":"promotions", "url":"/promotions-listing"},{"name":"Wild Wild Wet (1-for-1 Day Passes)", "url":"/promotions-article"}]

block topContent
  +banner-small({
    "image":{
      "url":"/site-images/promotions/banner-article.jpg",
      "alt":"banner image"
    }
  })
    +info-card({
      "title":"SAFRA Promotions",
    })


block asideContent
  +info-card--general({
    "title":"Promo Dates",
  })
    p Promo Valid From <br> 15 Sep 2019 to 30 Jun 2020

block content
  +content-header({
    "title":"Wild Wild Wet (1-for-1 Day Passes)",
  })
  img(src="/site-images/wildwildwet.jpg" alt="gift by changi")
  p Wild Wild Wet is one of Singapore’s largest water parks that promises a day of thrills and spills for the whole family. Situated in Downtown East, only 10 minutes away from Changi International Airport, it remains one of the most popular attractions.

  p Recently expanded and sitting on 4 hectares of land, the water park is home to 16 water rides for all age groups including 7 latest additions that promise to bring excitement to a whole new level for everyone. From adrenaline-pumping rides to relaxing and gentle ones, visitors are guaranteed a splashing fun-filled day!

  p Valid from 2 Jan - 31 Dec 2019

  h2 Promotion Details
  p Flash your SAFRA card to enjoy:
  ul
    li 20% off Day Passes with min. purchase of 2 passes

  .table--responsive
    table(border='0')
      tbody
        tr.odd
          td
            strong Category
          td
            strong Off-Peak
            br
            strong (Weekdays, except Gazetted School &amp; Public Holidays)
          td
            strong Peak
            br
            strong (Saturday, Sunday &amp; Weekdays of Gazetted School Holidays)
        tr.even
          td Adult (13 years &amp; above)
          td(style='text-align: center;')
            span(style='font-weight: 400; font-size: 13px;')
              | $24
              br
          td(style='text-align: center;')
            span(style='font-weight: 400; font-size: 13px;')
              | $32
              br
        tr.odd
          td
            | Child (3 &ndash; 12 years) /
            br
            |             Senior Citizen (55 years &amp; above) / nEbO member
          td(style='text-align: center;')
            span(style='font-weight: 400; font-size: 13px;')
              | $18
              br
          td(style='text-align: center;')
            span(style='font-weight: 400; font-size: 13px;')
              | $24
              br
        tr.even
          td
            | U Live Member /
            br
            |             Pioneer Generation /
            br
            |             Toddler (Below 3 years old)
          td(style='text-align: center;')
            span(style='font-weight: 400; font-size: 13px;') Free
          td(style='text-align: center;')
            span(style='font-weight: 400; font-size: 13px;') Free
  h2 Contact Information
  p <strong>Tel:</strong>  6581 9128

  p <strong>Website:</strong>  www.wildwildwet.com

  p <strong>Park Directions:</strong>  www.wildwildwet.com/directions.php

  p <strong>Redemption Outlet:</strong>  1 Pasir Ris Close, Singapore 519599

  h2 Terms & Conditions
  ul
    li Present SAFRA Card at Wild Wild Wet Ticketing Counter to enjoy this promotion.
    li Valid from 2 Jan 2019 - 31 Dec 2019 excluding Gazetted Public Holidays.
    li Valid for all Day Passes except Family Packages on public rates only.
    li Minimum purchase of 2 Day Passes per transaction per SAFRA member per day.
    li Maximum 4 Day Passes per transaction per SAFRA member per day.
    li Day Passes issued are only valid on the date of purchase, with unlimited access during the operating hours.
    li No issuance and redemption of LinkPoints for this promotion.
    li Park may be closed for corporate/ private events and there will be no sales of Day Pass and admission.
    li Should any attractions be closed for maintenance, no refunds or exchange of Day Passes will be made.
    li Not applicable with other promotions, discounts and vouchers.
    li Day Passes are non-refundable, non-transferable, non-exchangeable for cash & cannot be resold.
    li Wild Wild Wet reserves the right to amend any of the Terms and Conditions without prior notice.
    li Other Terms and Conditions apply.
    li SAFRA is not an agent of the merchant. Any dispute regarding the quality or service standard must be resolved directly with the respective merchants. SAFRA will not assume any liability or responsibility for the acts of the merchants or any defects in products or services offered in the promotion.
block contentFooter
  +button-share()

  h1 You may also like
  .row
    +carousel-type-1()
      each item in site.data.recommendationGeneral
        .slide.match-height-elm
          +card({
            "image":item.image,
            "title":item.title,
            "description":item.description,
            "category":item.category,
            "location":item.location,
            "__class":"card--normal"
          })




